<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->




                <div class="col-md-9 dash-main-area">


                    {if="$success != ''"}
                    <div class="alert alert-success">
                        {$success}
                    </div>
                    {/if}
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if} 

                    <form method="post" action="/dashboard/meus-dados">

                        <div class="row">
                            
                            <div class="col-md-6">

                                
                                    
                                    <div class="input-rows">
                                    <label for="desemail">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail aqui" value="{$user.desemail}" disabled>
                                    </div>

                                    <div class="input-rows">
                                    <label for="desperson">Nome completo</label>
                                    <input type="text" class="form-control" id="desperson" name="desperson" placeholder="Digite o nome aqui" value="{$user.desperson}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="nrddd">DDD</label>
                                    <input type="tel" class="form-control" id="nrddd" name="nrddd" placeholder="Digite o telefone aqui" value="{$user.nrddd}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="nrphone">Telefone</label>
                                    <input type="tel" class="form-control" id="nrphone" name="nrphone" placeholder="Digite o telefone aqui" value="{$user.nrphone}">
                                    </div>
                                    

                            </div><!--col-md-6-->

                            <div class="col-md-6">
                                
                                
                                    <div class="input-rows">
                                    <label for="deszipcode">CEP</label>
                                    <input type="text" class="form-control" id="deszipcode" name="deszipcode" placeholder="Digite o nome aqui" value="{$address.deszipcode}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="desaddress">Endereço</label>
                                    <input type="text" class="form-control" id="desaddress" name="desaddress" placeholder="Digite o nome aqui" value="{$address.desaddress}">
                                    </div>
                                    
                                    <div class="input-rows">
                                    <label for="desnumber">Número</label>
                                    <input type="tel" class="form-control" id="desnumber" name="desnumber" placeholder="Digite o telefone aqui" value="{$address.desnumber}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="descomplement">Complemento (opcional)</label>
                                    <input type="text" class="form-control" id="descomplement" name="descomplement" placeholder="Digite seu domínio aqui" value="{$address.descomplement}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="desdistrict">Bairro</label>
                                    <input type="text" class="form-control" id="desdistrict" name="desdistrict" placeholder="Digite seu domínio aqui" value="{$address.desdistrict}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="descity">Cidade</label>
                                    <input type="text" class="form-control" id="descity" name="descity" placeholder="Digite seu domínio aqui" value="{$address.descity}">
                                    </div>

                                    <div class="input-rows">
                                    <label for="desstate">Estado</label>
                                    <input type="text" class="form-control" id="desstate" name="desstate" placeholder="Digite seu domínio aqui" value="{$address.desstate}">
                                    </div>









                                    <div class="row state-city">
                                        <div class="col-md-2">
                                            <label class="checkout-label" for="state">Estado</label>
                                        </div>
                                        
                                        <div class="col-md-10">
                                            <select id="state" form="checkout-form" name="desholderstate">
                                                {loop="$state"}
                                                    <option value="{$value.idstate}" {if="$value.desstatecode    == $address.desstate"}selected="selected"{/if}>{$value.desstate}</option>
                                                {/loop}
                                            </select>

                                        </div>
                                    </div>





                                    <div class="row state-city">
                                        <div class="col-md-2">
                                            <label class="checkout-label" for="city">Cidade</label>
                                        </div>
                                        
                                        <div class="col-md-10">
                                            <select id="city" form="checkout-form" name="desholdercity">
                                                {loop="$city"}
                                                    <option value="{$value.descity}" {if="$value.descity == $address.descity"}selected="selected"{/if}>{$value.descity}</option>
                                                {/loop}
                                        </select>

                                        </div>
                                    </div>









                                    <div class="input-rows">
                                    <input type="hidden" class="form-control" id="descountry" name="descountry" placeholder="Digite seu domínio aqui" value="{$address.descountry}">
                                    </div>

                                    <div class="input-rows">
                                    <input type="hidden" class="form-control" id="idaddress" name="idaddress" placeholder="Digite seu domínio aqui" value="{$address.idaddress}">
                                    </div>


                                
                                
                            </div><!--col-md-6-->

                        </div><!--row-->
                        <div class="row input-rows">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div><!--row-->
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

