<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                    {if="$success != ''"}
                    <div class="alert alert-success">
                        {$success}
                    </div>
                    {/if}
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/meu-amor" enctype="multipart/form-data">


                        <div class="form-group">
                        <label for="desconsort">Nome</label>
                        <input type="text" class="form-control" id="desconsort" name="desconsort" placeholder="Digite o nome aqui" value="{$consort.desconsort}">
                        </div>

                        <div class="form-group">
                        <label for="desemail"><abbr title="Não obrigatório" class="required">E-mail</abbr></label>
                        <input type="email" class="form-control" id="desemail" name="desemail" placeholder="Digite o nome aqui" value="{$consort.desemail}">
                        </div>

                        <div class="form-group">
                        <input type="hidden" class="form-control" id="idconsort" name="idconsort" placeholder="Digite o nome aqui" value="{$consort.idconsort}">
                        </div>

                        <div class="form-group">
                        <label for="file">Foto</label>
                        <input type="file" class="form-control" id="file" name="file">
                        <div class="box box-widget">
                            <div class="box-body">
                                <img class="img-responsive" id="image-preview" src="/uploads/images/{$consort.desphoto}" alt="Foto">
                            </div>
                        </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
            </div>
        </div>
    </div>
</div>