<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

                <form method="post" action="/dashboard/meu-amor" enctype="multipart/form-data">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">


                            <div class="dash-input-row">

                                <label for="desconsort">Nome</label>
                                <input type="text" class="form-control" id="desconsort" name="desconsort" placeholder="Digite o nome aqui" value="{$consort.desconsort}">

                            </div><!--dash-input-row-->




                            <div class="dash-input-row">

                                <label for="desemail"><abbr title="Não obrigatório" class="required">E-mail</abbr></label>
                                <input type="email" class="form-control" id="desemail" name="desemail" placeholder="Digite o nome aqui" value="{$consort.desemail}">

                            </div><!--dash-input-row-->








                            <div class="dash-input-row">

                                <input type="hidden" class="form-control" id="idconsort" name="idconsort" placeholder="Digite o nome aqui" value="{$consort.idconsort}">

                            </div><!--dash-input-row-->










                                <div class="dash-input-row input-photo">

                            
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                      </div>
                                      <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="file">Selecionar imagem</label>

                                      </div>
                                    </div>
                                    <div class="input-rows">
                                        <img class="img-responsive" id="image-preview" src="/uploads/images/{$consort.desphoto}" alt="">
                                    </div>

                                
                            </div><!--dash-input-row-->

                            <!--<label for="file">Foto</label>
                                <input type="file" class="form-control" id="file" name="file">
                                <div class="box box-widget">
                                    <div class="box-body">
                                        <img class="img-responsive" id="image-preview" src="/uploads/images/{$consort.desphoto}" alt="Foto">
                                    </div>
                                </div>
                            -->


                                

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="dash-input-row">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

