<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

                <form id="dash-form" method="post" action="/dashboard/personalizar-site">

                    <div class="row">
                        
                        <div class="col-md-12 dash-column">


                            


                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorheader">Cor da Fonte do Header</label>

                                    <div>   

                                        <input type="text" class="jscolor form-control" id="descolorheader" name="descolorheader" value="{$customstyle.descolorheader}">
                                        
                                    </div><!--nrddd-->

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorheaderhover">Cor da Fonte do Header | Efeito Hover</label>

                                    <div>

                                        <input type="text" class="jscolor form-control" id="descolorheaderhover" name="descolorheaderhover" value="{$customstyle.descolorheaderhover}">
                                        
                                    </div><!--nrphone-->

                                </div><!--col-->




                                        <div class="col-md-4 custom-style-row">
                                            
                                            &nbsp;
                                                

                                        </div><!--col-->




                            </div><!--row-->


















                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    

                                    

                                        <label for="desbgcolorfooter">Footer | Background Color</label>
                                        <input type="text" class="jscolor form-control" id="desbgcolorfooter" name="desbgcolorfooter" value="{$customstyle.desbgcolorfooter}">
                                        
                                 

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    

                                 


                                        <label for="descolorfooter">Cor da Fonte do Footer</label>
                                        <input type="text" class="jscolor form-control" id="descolorfooter" name="descolorfooter" value="{$customstyle.descolorfooter}">
                                        
                                    

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorfooterhover">Cor da Fonte do Footer | Efeito Hover</label>

        
                                    <input type="text" class="jscolor form-control" id="descolorfooterhover" name="descolorfooterhover" value="{$customstyle.descolorfooterhover}">
                                        
                                 

                                </div><!--col-->



                            </div><!--row-->










                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh1">Cor do H1</label>


                                        <input type="text" class="jscolor form-control" id="descolorh1" name="descolorh1" placeholder="Digite o nome aqui" value="{$customstyle.descolorh1}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh1hover">Cor do H1 | Efeito Hover</label>


                                    <input type="text" class="jscolor form-control" id="descolorh1hover" name="descolorh1hover" placeholder="Digite o nome aqui" value="{$customstyle.descolorh1hover}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">


                                    <label for="desfontfamilyh1">Tipo de Fonte do H1</label>

                                    <select id="desfontfamilyh1" name="desfontfamilyh1" class="custom-select">

                                        <option value="OpenSans" {if="$customstyle.desfontfamilyh1 == 'OpenSans'"}selected{/if}>OpenSans</option>
                                        <option value="Norican" {if="$customstyle.desfontfamilyh1 == 'Norican'"}selected{/if}>Norican</option>

                                        <option value="Euphoria" {if="$customstyle.desfontfamilyh1 == 'Euphoria'"}selected{/if}>Euphoria</option>
                                        <option value="Heebo" {if="$customstyle.desfontfamilyh1 == 'Heebo'"}selected{/if}>Heebo</option>

                                        <option value="Satisfy" {if="$customstyle.desfontfamilyh1 == 'Satisfy'"}selected{/if}>Satisfy</option>
                                        <option value="KaushanScript" {if="$customstyle.desfontfamilyh1 == 'KaushanScript'"}selected{/if}>KaushanScript</option>

                                        <option value="Pacifico" {if="$customstyle.desfontfamilyh1 == 'Pacifico'"}selected{/if}>Pacifico</option>
                                        <option value="Poppins" {if="$customstyle.desfontfamilyh1 == 'Poppins'"}selected{/if}>Poppins</option>

                                        <option value="Roboto" {if="$customstyle.desfontfamilyh1 == 'Roboto'"}selected{/if}>Roboto</option>
                                        <option value="Rubik" {if="$customstyle.desfontfamilyh1 == 'Rubik'"}selected{/if}>Rubik</option>

                                    </select>


                                </div><!--col-->



                            </div><!--row-->











                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh2">Cor do H2</label>


                                        <input type="text" class="jscolor form-control" id="descolorh2" name="descolorh2" placeholder="Digite o nome aqui" value="{$customstyle.descolorh2}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh2hover">Cor do H2 | Efeito Hover</label>


                                        <input type="text" class="jscolor form-control" id="descolorh2hover" name="descolorh2hover" placeholder="Digite o nome aqui" value="{$customstyle.descolorh2hover}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                
                                    <label for="desfontfamilyh2">Tipo de Fonte do H2</label>

                                    <select id="desfontfamilyh2" name="desfontfamilyh2" class="custom-select">

                                        <option value="OpenSans" {if="$customstyle.desfontfamilyh2 == 'OpenSans'"}selected{/if}>OpenSans</option>
                                        <option value="Norican" {if="$customstyle.desfontfamilyh2 == 'Norican'"}selected{/if}>Norican</option>

                                        <option value="Euphoria" {if="$customstyle.desfontfamilyh2 == 'Euphoria'"}selected{/if}>Euphoria</option>
                                        <option value="Heebo" {if="$customstyle.desfontfamilyh2 == 'Heebo'"}selected{/if}>Heebo</option>

                                        <option value="Satisfy" {if="$customstyle.desfontfamilyh2 == 'Satisfy'"}selected{/if}>Satisfy</option>
                                        <option value="KaushanScript" {if="$customstyle.desfontfamilyh2 == 'KaushanScript'"}selected{/if}>KaushanScript</option>

                                        <option value="Pacifico" {if="$customstyle.desfontfamilyh2 == 'Pacifico'"}selected{/if}>Pacifico</option>
                                        <option value="Poppins" {if="$customstyle.desfontfamilyh2 == 'Poppins'"}selected{/if}>Poppins</option>

                                        <option value="Roboto" {if="$customstyle.desfontfamilyh2 == 'Roboto'"}selected{/if}>Roboto</option>
                                        <option value="Rubik" {if="$customstyle.desfontfamilyh2 == 'Rubik'"}selected{/if}>Rubik</option>

                                    </select>


                                </div><!--col-->



                            </div><!--row-->













                        <!--</div>





                        <div class="col-md-6">-->
                            
                            

                            
                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh3">Cor do H3</label>


                                        <input type="text" class="jscolor form-control" id="descolorh3" name="descolorh3" placeholder="Digite o nome aqui" value="{$customstyle.descolorh3}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh3hover">Cor do H3 | Efeito Hover</label>


                                        <input type="text" class="jscolor form-control" id="descolorh3hover" name="descolorh3hover" placeholder="Digite o nome aqui" value="{$customstyle.descolorh3hover}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                
                                    <label for="desfontfamilyh3">Tipo de Fonte do H3</label>

                                    <select id="desfontfamilyh3" name="desfontfamilyh3" class="custom-select">

                                        <option value="OpenSans" {if="$customstyle.desfontfamilyh3 == 'OpenSans'"}selected{/if}>OpenSans</option>
                                        <option value="Norican" {if="$customstyle.desfontfamilyh3 == 'Norican'"}selected{/if}>Norican</option>

                                        <option value="Euphoria" {if="$customstyle.desfontfamilyh3 == 'Euphoria'"}selected{/if}>Euphoria</option>
                                        <option value="Heebo" {if="$customstyle.desfontfamilyh3 == 'Heebo'"}selected{/if}>Heebo</option>

                                        <option value="Satisfy" {if="$customstyle.desfontfamilyh3 == 'Satisfy'"}selected{/if}>Satisfy</option>
                                        <option value="KaushanScript" {if="$customstyle.desfontfamilyh3 == 'KaushanScript'"}selected{/if}>KaushanScript</option>

                                        <option value="Pacifico" {if="$customstyle.desfontfamilyh3 == 'Pacifico'"}selected{/if}>Pacifico</option>
                                        <option value="Poppins" {if="$customstyle.desfontfamilyh3 == 'Poppins'"}selected{/if}>Poppins</option>

                                        <option value="Roboto" {if="$customstyle.desfontfamilyh3 == 'Roboto'"}selected{/if}>Roboto</option>
                                        <option value="Rubik" {if="$customstyle.desfontfamilyh3 == 'Rubik'"}selected{/if}>Rubik</option>

                                    </select>


                                </div><!--col-->



                            </div><!--row-->















                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh4">Cor do H4</label>


                                        <input type="text" class="jscolor form-control" id="descolorh4" name="descolorh4" placeholder="Digite o nome aqui" value="{$customstyle.descolorh4}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorh4hover">Cor do H4 | Efeito Hover</label>


                                        <input type="text" class="jscolor form-control" id="descolorh4hover" name="descolorh4hover" placeholder="Digite o nome aqui" value="{$customstyle.descolorh4hover}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                
                                    <label for="desfontfamilyh4">Tipo de Fonte do H4</label>

                                    <select id="desfontfamilyh4" name="desfontfamilyh4" class="custom-select">

                                        <option value="OpenSans" {if="$customstyle.desfontfamilyh4 == 'OpenSans'"}selected{/if}>OpenSans</option>
                                        <option value="Norican" {if="$customstyle.desfontfamilyh4 == 'Norican'"}selected{/if}>Norican</option>

                                        <option value="Euphoria" {if="$customstyle.desfontfamilyh4 == 'Euphoria'"}selected{/if}>Euphoria</option>
                                        <option value="Heebo" {if="$customstyle.desfontfamilyh4 == 'Heebo'"}selected{/if}>Heebo</option>

                                        <option value="Satisfy" {if="$customstyle.desfontfamilyh4 == 'Satisfy'"}selected{/if}>Satisfy</option>
                                        <option value="KaushanScript" {if="$customstyle.desfontfamilyh4 == 'KaushanScript'"}selected{/if}>KaushanScript</option>

                                        <option value="Pacifico" {if="$customstyle.desfontfamilyh4 == 'Pacifico'"}selected{/if}>Pacifico</option>
                                        <option value="Poppins" {if="$customstyle.desfontfamilyh4 == 'Poppins'"}selected{/if}>Poppins</option>

                                        <option value="Roboto" {if="$customstyle.desfontfamilyh4 == 'Roboto'"}selected{/if}>Roboto</option>
                                        <option value="Rubik" {if="$customstyle.desfontfamilyh4 == 'Rubik'"}selected{/if}>Rubik</option>

                                    </select>


                                </div><!--col-->



                            </div><!--row-->














                            <div class="row dash-input-row row-2-columns">



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolortext">Cor do Texto</label>


                                        <input type="text" class="jscolor form-control" id="descolortext" name="descolortext" placeholder="Digite o nome aqui" value="{$customstyle.descolortext}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                    <label for="descolorlinkhover">Cor dos Links | Efeito Hover</label>


                                        <input type="text" class="jscolor form-control" id="descolorlinkhover" name="descolorlinkhover" placeholder="Digite o nome aqui" value="{$customstyle.descolorlinkhover}">
                                        

                                </div><!--col-->



                                <div class="col-md-4 custom-style-row">

                                
                                    <label for="desfontfamilytext">Tipo de Fonte do Texto</label>

                                    <select id="desfontfamilytext" name="desfontfamilytext" class="custom-select">

                                        <option value="OpenSans" {if="$customstyle.desfontfamilytext == 'OpenSans'"}selected{/if}><span id="teste1">OpenSans</span></option>
                                        <option value="Norican" {if="$customstyle.desfontfamilytext == 'Norican'"}selected{/if}><span style="font-family: '{$customstyle.desfontfamilytext}'">Norican</span></option>

                                        <option value="Euphoria" {if="$customstyle.desfontfamilytext == 'Euphoria'"}selected{/if}>Euphoria</option>
                                        <option value="Heebo" {if="$customstyle.desfontfamilytext == 'Heebo'"}selected{/if}>Heebo</option>

                                        <option value="Satisfy" {if="$customstyle.desfontfamilytext == 'Satisfy'"}selected{/if}>Satisfy</option>
                                        <option value="KaushanScript" {if="$customstyle.desfontfamilytext == 'KaushanScript'"}selected{/if}>KaushanScript</option>

                                        <option value="Pacifico" {if="$customstyle.desfontfamilytext == 'Pacifico'"}selected{/if}>Pacifico</option>
                                        <option value="Poppins" {if="$customstyle.desfontfamilytext == 'Poppins'"}selected{/if}>Poppins</option>

                                        <option value="Roboto" {if="$customstyle.desfontfamilytext == 'Roboto'"}selected{/if}>Roboto</option>
                                        <option value="Rubik" {if="$customstyle.desfontfamilytext == 'Rubik'"}selected{/if}>Rubik</option>

                                    </select>


                                </div><!--col-->



                            </div><!--row-->












                            <div class="row dash-input-row row-2-columns">



                                
                        

                                <div class="col-md-6 custom-style-row">

                                    
                                    <div class="round-border-box">
                                        
                                        <label for="desroundbordersize">Tamanho da Borda Arredondada: <strong id="border-size">{$customstyle.desroundbordersize}</strong></label>


                                        <input type="range"  min="1" max="12" class="form-control" id="desroundbordersize" name="desroundbordersize" value="{$customstyle.desroundbordersize}">

                                    </div>
                                            
                                    
                                                


                                    
                                </div><!--col-->



                                <div class="col-md-6 custom-style-row">

                                    <div class="dash-input-row input-photo">

                            
                                            <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupFileAddon01">Foto do Casal</span>
                                              </div>
                                              <div class="custom-file">
                                                <input type="file" name="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="file">Selecionar imagem</label>

                                              </div>
                                            </div>
                                            <div class="input-rows">
                                                <img class="img-responsive" id="image-preview" src="/uploads/banners/{$customstyle.desbanner}" alt="">
                                            </div>

                                        
                                    </div><!--dash-input-row-->

                                </div><!--col-->



                            </div><!--row-->













                            <div class="row dash-input-row">

                                

                            </div><!--dash-input-row-->









                    




                            
















                            <div class="dash-input-row">
                                <input type="hidden" class="form-control" id="idcustomstyle" name="idcustomstyle" value="{$customstyle.idcustomstyle}">
                            </div>




                            <div class="dash-input-row">
                                <input type="hidden" class="form-control" id="idtemplate" name="idtemplate" value="{$customstyle.idtemplate}">
                            </div>



                            


                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="dash-input-row">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

