<div class="list-group" id="menu">
    <a href="/dashboard" class="list-group-item list-group-item-action">Início</a>
    <a href="/dashboard/meus-dados" class="list-group-item list-group-item-action">Meus Dados</a>
    <a href="/dashboard/dominio" class="list-group-item list-group-item-action">Domínio</a>
    <a href="/dashboard/meu-template" class="list-group-item list-group-item-action">Meu Template</a>
    <a href="/dashboard/personalizar-site" class="list-group-item list-group-item-action">Personalizar Site</a>
    <a href="/dashboard/menu" class="list-group-item list-group-item-action">Menu</a>
    <a href="/dashboard/pagina-inicial" class="list-group-item list-group-item-action">Página Inicial</a>
    <a href="/dashboard/meu-casamento" class="list-group-item list-group-item-action">Meu Casamento</a>
    <a href="/dashboard/conjuge" class="list-group-item list-group-item-action">Meu Cônjuge</a>
    <a href="/dashboard/festa" class="list-group-item list-group-item-action">Minha Festa</a>
    
    <a href="/dashboard/padrinhos-madrinhas" class="list-group-item list-group-item-action">Padrinhos e Madrinhas</a>
    <a href="/dashboard/eventos" class="list-group-item list-group-item-action">Eventos</a>
    <a href="/dashboard/rsvp" class="list-group-item list-group-item-action">RSVP</a>
    <a href="/dashboard/mensagens" class="list-group-item list-group-item-action">Mensagens</a>
    <a href="/dashboard/presentes-virtuais" class="list-group-item list-group-item-action">Presentes Virtuais</a>
    <a href="/dashboard/painel-financeiro" class="list-group-item list-group-item-action">Painel Financeiro</a>
    <a href="/dashboard/album" class="list-group-item list-group-item-action">Album</a>
    <a href="/dashboard/videos" class="list-group-item list-group-item-action">Vídeos</a>
    <a href="/dashboard/fornecedores" class="list-group-item list-group-item-action">Fornecedores</a>    
    <a href="/dashboard/tags-papelaria" class="list-group-item list-group-item-action">Tags e Papelaria</a>    
    <a href="/dashboard/meu-plano" class="list-group-item list-group-item-action">Meu Plano</a>    
    <a href="/dashboard/change-password" class="list-group-item list-group-item-action">Alterar Senha</a>
    <a href="/logout" class="list-group-item list-group-item-action">Sair</a>
</div>