<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

                <form action="/dashboard/mudar-senha" method="post">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">


                            <div class="dash-input-row">

                                <label for="current_pass">Senha Atual</label>
                                <input type="password" class="form-control" id="current_pass" name="current_pass">

                            </div><!--dash-input-row-->




                            <div class="dash-input-row">

                                <label for="new_pass">Nova Senha</label>
                                <input type="password" class="form-control" id="new_pass" name="new_pass">

                            </div><!--dash-input-row-->






                            <div class="dash-input-row">

                                <label for="new_pass_confirm">Confirme a Nova Senha</label>
                                <input type="password" class="form-control" id="new_pass_confirm" name="new_pass_confirm">

                            </div><!--dash-input-row-->



                        

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="dash-input-row">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

