<div class="single-product-area">
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                {if="$dashboardMsg != ''"}
                <div class="alert alert-success">
                    {$dashboardMsg}
                </div>
                {/if}
                {if="$dashboardError != ''"}
                <div class="alert alert-danger">
                    {$dashboardError}
                </div>
                {/if}                
                <div class="promo-area">
                    <div class="zigzag-bottom"></div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="single-promo promo1">
                                    <i class="fa fa-angle-left"></i>
                                    <p>{$user.desperson}</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="single-promo promo2">
                                    <i class="fa fa-angle-left"></i>
                                    <p>{$user.desemail}</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="single-promo promo3">
                                    <i class="fa fa-angle-left"></i>
                                    <p>{$user.desdomain}</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="single-promo promo4">
                                    <i class="fa fa-angle-left"></i>
                                    <p>Template </p>
                                </div>
                            </div>
                        </div>
                </div> <!-- End promo area -->

            </div>
        </div>
    </div>
</div>