<div class="list-group" id="menu">
    <a href="/dashboard" class="list-group-item list-group-item-action">Meus Dados</a>
    <a href="/dashboard/meu-casamento" class="list-group-item list-group-item-action">Meu Casamento</a>
    <a href="/dashboard/personalizar-site" class="list-group-item list-group-item-action">Personalizar Site</a>
    <a href="/dashboard/rsvp" class="list-group-item list-group-item-action">RSVP</a>
    <a href="/dashboard/mensagens" class="list-group-item list-group-item-action">Mensagens</a>
    <a href="/dashboard/presentes-virtuais" class="list-group-item list-group-item-action">Presentes Virtuais</a>
    <a href="/dashboard/painel-financeiro" class="list-group-item list-group-item-action">Painel Financeiro</a>
    <a href="/dashboard/tags-papelaria" class="list-group-item list-group-item-action">Tags e Papelaria</a>    
    <a href="/dashboard/meu-plano" class="list-group-item list-group-item-action">Meu Plano</a>    
    <a href="/dashboard/change-password" class="list-group-item list-group-item-action">Alterar Senha</a>
    <a href="/logout" class="list-group-item list-group-item-action">Sair</a>
</div>