<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-2 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 


                <form method="post" action="/dashboard/dominio">
                    
                    <div>
                    <label for="desdomain">Domínio</label>
                    <input type="text" class="form-control" id="desdomain" name="desdomain" placeholder="Digite seu domínio aqui" value="{$user.desdomain}">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

