<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

               <form method="post" action="/dashboard/eventos/{$event.idevent}" enctype="multipart/form-data">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">


                            <div class="dash-input-row input-inposition">

                                <label for="inposition">Posição</label>
                                <input type="text" class="form-control" id="inposition" name="inposition" value={$event.ineventstatus}>

                            </div><!--dash-input-row-->





                        


                            <div class="dash-input-row input-date">


                                <label for="dtevent">Data</label>
                                <input type="datetime-local" class="form-control" id="dtevent" name="dtevent" placeholder="Digite o nome aqui" value="{$event.dtevent}">


                            </div><!--dash-input-row-->






                            <div class="dash-input-row">


                                <label for="desevent">Evento</label>
                                <input type="text" class="form-control" id="desevent" name="desevent" placeholder="Digite o nome aqui" value={$event.desevent}>


                            </div><!--dash-input-row-->


   






                            <div class="dash-input-row">

                                <div>
                                    <label for="desdescription">Descrição</label>
                                    <!--<input type="text" class="form-control" id="desdescription" name="desdescription" placeholder="Digite o nome aqui" ">-->
                                </div>
                                
                                <textarea rows="10" cols="90" maxlength="500" id="desdescription" name="desdescription" placeholder="Descrição">{$album.desdescription}</textarea>

                            </div><!--dash-input-row-->








                            <div class="row dash-input-row">


                                <div class="col-md-2">

                                    <label for="nrddd">DDD</label>

                                    <div id="nrddd">

                                        <input type="text" placeholder="Mês" id="nrddd" name="nrddd" value="{$event.nrddd}" class="form-control">
                                        
                                    </div><!--nrddd-->

                                </div><!--col-->



                                <div class="col-md-10">

                                    <label for="nrphone">Telefone</label>

                                    <div id="nrphone">

                                        <input type="text" placeholder="Ano" id="nrphone" name="nrphone" value="{$event.nrphone}" class="form-control">
                                        
                                    </div><!--nrphone-->

                                </div><!--col-->



                            </div><!--dash-input-row-->






                           

                            <div class="dash-input-row input-date">
                                
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inalbumstatus">Visível</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inalbumstatus" name="inalbumstatus" class="custom-select">

                                    <option value="0" {if="$event.ineventstatus == '0'"}selected{/if}>Não</option>
                                    <option value="1" {if="$event.ineventstatus == '1'"}selected{/if}>Sim</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->









                            <div class="dash-input-row">

                                 <input type="hidden" class="form-control" id="idevent" name="idevent" placeholder="Digite o nome aqui" value={$event.idevent}>

                            </div><!--dash-input-row-->


                            







                            <div class="dash-input-row input-photo">

                            
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                      </div>
                                      <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="file">Selecionar imagem</label>

                                      </div>
                                    </div>
                                    <div class="input-rows">
                                        <img class="img-responsive" id="image-preview" src="/uploads/events/{$event.desphoto}" alt="">
                                    </div>

                                
                            </div><!--dash-input-row-->


                                    

                        </div><!--col-md-6-->













                        <div class="col-md-6">
                            
                            
                            
                            <div class="dash-input-row">


                                <label for="desaddress">Logradouro</label>
                                <input type="text" class="form-control" id="desaddress" name="desaddress" placeholder="Digite o nome aqui" value={$event.desaddress}>


                            </div><!--dash-input-row-->






                            <div class="dash-input-row">

                                <label for="desnumber">Número</label>
                                <input type="text" class="form-control" id="desnumber" name="desnumber" placeholder="Digite o nome aqui" value={$event.desnumber}>

                            </div><!--dash-input-row-->







                            <div class="dash-input-row">

                                <label for="descomplement">Complemento (opcional)</label>
                                <input type="text" class="form-control" id="descomplement" name="descomplement" placeholder="Digite o nome aqui" value={$event.descomplement}>

                            </div><!--dash-input-row-->







                            <div class="dash-input-row">

                                <label for="desdistrict">Bairro</label>
                                <input type="text" class="form-control" id="desdistrict" name="desdistrict" placeholder="Digite o nome aqui" value={$event.desdistrict}>

                            </div><!--dash-input-row-->



 



                            <div class="dash-input-row">
                                
                                <div class="dash-state-city">
                                
                                    <label for="state">Estado</label>
                                
                                    <select id="state" form="dash-form" name="desstate">

                                        {loop="$state"}
                                            <option value="{$value.idstate}" {if="$value.desstatecode == $address.desstate"}selected="selected"{/if}>{$value.desstate}</option>
                                        {/loop}
                                        
                                    </select>

                                </div><!--dash-state-city-->

                            </div><!--dash-input-row-->





                            <div class="dash-input-row">
                                
                                <div class="dash-state-city">

                                    <label for="city">Cidade</label>
                                
                                    <select id="city" form="dash-form" name="descity">

                                        {loop="$city"}
                                            <option value="{$value.descity}" {if="$value.descity == $address.descity"}selected="selected"{/if}>{$value.descity}</option>
                                        {/loop}

                                    </select>

                                </div><!--dash-state-city-->

                            </div><!--dash-input-row-->







                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-6">

                            <div class="dash-input-row input-footer">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                                <a href="/dashboard/eventos" class="btn btn-danger">Cancelar</a>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->



                        <div class="col-md-6">

                            &nbsp;
                            
                        </div><!--col-->



                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

