<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

                <form id="dash-form" method="post" action="/dashboard/menu">

                    <div class="row resume-row">
                        
                        <div class="col-md-6 resume-wrapper">

                            <div class="resume-box">

                                

                                <div class="resume-content">
                                    <h2>{$rsvp_confirmed}</h2>
                                    <h6>Presenças Confirmadas</h6>
                                </div>

                            </div>

                        </div><!--col-lg-3-->




                        <div class="col-md-6 resume-wrapper">

                            <div class="resume-box">

                                

                                <div class="resume-content">
                                    <h2>{$message}</h2>
                                    <h6>Mensagens Recebidas</h6>
                                </div>



                            </div>

                        </div><!--col-lg-3-->


                    </div><!--row-->



                    <div class="row resume-row">
                        

                        <div class="col-md-6 resume-wrapper">

                            <div class="resume-box">

                                <div class="resume-content">
                                    <h2>R$ {function="formatPrice($balances.current)"}</h2>
                                    <h6>Saldo Corrente</h6>
                                </div>

                            </div>

                        </div><!--col-lg-3-->




                        <div class="col-md-6 resume-wrapper">

                            <div class="resume-box">

                                

                                <div class="resume-content">
                                    <h2>R$ {function="formatPrice($balances.future)"}</h2>
                                    <h6>Saldo Futuro</h6>
                                </div>

                            </div>

                        </div><!--col-lg-3-->


                    </div><!--row-->



                </form>



            </div><!--col-->
        


      
        </div><!--row-->
    
    </div><!--container-->

</section>

