<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 text-center dash-main-area">

                    {if="$dashboardMsg != ''"}
                    <div class="alert alert-success">
                        {$dashboardMsg}
                    </div>
                    {/if}
                    {if="$dashboardError != ''"}
                    <div class="alert alert-danger">
                        {$dashboardError}
                    </div>
                    {/if} 



                    <div class="col-md-6 dashboard-init-box-wrapper">

                        <div class="dashboard-init-box">

                            <i class="fa fa-angle-left"></i>
                            <p>{$user.desperson}</p>

                        </div>

                    </div><!--col-lg-3-->




                    <div class="col-md-6 dashboard-init-box-wrapper">

                        <div class="dashboard-init-box">

                            <i class="fa fa-angle-left"></i>
                            <p>{$user.desemail}</p>

                        </div>

                    </div><!--col-lg-3-->




                    <div class="col-md-6 dashboard-init-box-wrapper">

                        <div class="dashboard-init-box">

                            <i class="fa fa-angle-left"></i>
                            <p>{$user.desdomain}</p>

                        </div>

                    </div><!--col-lg-3-->




                    <div class="col-md-6 dashboard-init-box-wrapper">

                        <div class="dashboard-init-box">

                            <i class="fa fa-angle-left"></i>
                            <p>Template </p>

                        </div>

                    </div><!--col-lg-3-->






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

