<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$success != ''"}
                    <div class="alert alert-success">
                        {$success}
                    </div>
                    {/if}
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/pagina-inicial">


                        <div>
                        <label for="inparty">Minha Festa</label>
                        <input type="text" class="form-control" id="inparty" name="inparty" placeholder="Digite o nome aqui" value="{$initialpage.inparty}">
                        </div>

                                          
                        <div>
                        <label for="inbestfriend">Minha Festa</label>
                        <input type="text" class="form-control" id="inbestfriend" name="inbestfriend" placeholder="Digite o nome aqui" value="{$initialpage.inbestfriend}">
                        </div>
                        

                        <div>
                        <label for="inalbum">Padrinhos e Madrinhas</label>
                        <input type="text" class="form-control" id="inalbum" name="inalbum" placeholder="Digite o nome aqui" value="{$initialpage.inalbum}">
                        </div>
                        

                        <div>
                        <label for="invideo">Confirmação de Presença</label>
                        <input type="text" class="form-control" id="invideo" name="invideo" placeholder="Digite o nome aqui" value="{$initialpage.invideo}">
                        </div>
                 


                        <div>
                        <input type="hidden" class="form-control" id="idinitialpage" name="idinitialpage" placeholder="Digite o nome aqui" value="{$initialpage.idinitialpage}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

