<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

                <form id="dash-form" method="post" action="/dashboard/menu">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">





                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inwedding">Meu Casamento</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inwedding" name="inwedding" class="custom-select">

                                    <option value="1" {if="$menu.inwedding == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inwedding == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->





                            















                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inparty">Minha Festa</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inparty" name="inparty" class="custom-select">

                                    <option value="1" {if="$menu.inparty == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inparty == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->










                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inbestfriend">Padrinhos e Madrinhas</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inbestfriend" name="inbestfriend" class="custom-select">

                                    <option value="1" {if="$menu.inbestfriend == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inbestfriend == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->


















                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inrsvp">Confirmação de Presença</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inrsvp" name="inrsvp" class="custom-select">

                                    <option value="1" {if="$menu.inrsvp == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inrsvp == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->










                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inmessage">Mural de Mensagens</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inmessage" name="inmessage" class="custom-select">

                                    <option value="1" {if="$menu.inmessage == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inmessage == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->






                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="instore">Loja</label>

                                  </div><!--input-group-prepend-->

                                  <select id="instore" name="instore" class="custom-select">

                                    <option value="1" {if="$menu.instore == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.instore == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->









                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inevent">Eventos</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inevent" name="inevent" class="custom-select">

                                    <option value="1" {if="$menu.inevent == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inevent == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->











                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inalbum">Album</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inalbum" name="inalbum" class="custom-select">

                                    <option value="1" {if="$menu.inalbum == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inalbum == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->

















                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="invideo">Vídeos</label>

                                  </div><!--input-group-prepend-->

                                  <select id="invideo" name="invideo" class="custom-select">

                                    <option value="1" {if="$menu.invideo == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.invideo == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->















                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="instakeholder">Fornecedores</label>

                                  </div><!--input-group-prepend-->

                                  <select id="instakeholder" name="instakeholder" class="custom-select">

                                    <option value="1" {if="$menu.instakeholder == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.instakeholder == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->

















                            <div class="dash-input-row input-date">
                                                            
                                <div class="input-group mb-3">

                                  <div class="input-group-prepend">

                                    <label class="input-group-text" for="inouterlist">Outras Listas</label>

                                  </div><!--input-group-prepend-->

                                  <select id="inouterlist" name="inouterlist" class="custom-select">

                                    <option value="1" {if="$menu.inouterlist == '1'"}selected{/if}>Visível</option>
                                    <option value="0" {if="$menu.inouterlist == '0'"}selected{/if}>Não visível</option>

                                  </select>

                                
                                </div><!--mb-3-->

                            </div><!--dash-input-row-->
















                            <div class="dash-input-row">

                                <input type="hidden" class="form-control" id="idmenu" name="idmenu" value="{$menu.idmenu}">

                            </div>




                                

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="dash-input-row">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

