<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$success != ''"}
                    <div class="alert alert-success">
                        {$success}
                    </div>
                    {/if}
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/menu">


                        <div>
                        <label for="inwedding">Meu Casamento</label>
                        <input type="text" class="form-control" id="inwedding" name="inwedding" placeholder="Digite o nome aqui" value="{$menu.inwedding}">
                        </div>

                                          
                        <div>
                        <label for="inparty">Minha Festa</label>
                        <input type="text" class="form-control" id="inparty" name="inparty" placeholder="Digite o nome aqui" value="{$menu.inparty}">
                        </div>
                        

                        <div>
                        <label for="inbestfriend">Padrinhos e Madrinhas</label>
                        <input type="text" class="form-control" id="inbestfriend" name="inbestfriend" placeholder="Digite o nome aqui" value="{$menu.inbestfriend}">
                        </div>
                        

                        <div>
                        <label for="inrsvp">Confirmação de Presença</label>
                        <input type="text" class="form-control" id="inrsvp" name="inrsvp" placeholder="Digite o nome aqui" value="{$menu.inrsvp}">
                        </div>
                 

                        <div>
                        <label for="inmessage">Mural de Mensagens</label>
                        <input type="text" class="form-control" id="inmessage" name="inmessage" placeholder="Digite o nome aqui" value="{$menu.inmessage}">
                        </div>
                    

                        <div>
                        <label for="instore">Loja</label>
                        <input type="text" class="form-control" id="instore" name="instore" placeholder="Digite o nome aqui" value="{$menu.instore}">
                        </div>
                    

                        <div>
                        <label for="inevent">Eventos</label>
                        <input type="text" class="form-control" id="inevent" name="inevent" placeholder="Digite o nome aqui" value="{$menu.inevent}">
                        </div>
                    

                        <div>
                        <label for="inalbum">Album</label>
                        <input type="text" class="form-control" id="inalbum" name="inalbum" placeholder="Digite o nome aqui" value="{$menu.inalbum}">
                        </div>
                    

                        <div>
                        <label for="invideo">Vídeos</label>
                        <input type="text" class="form-control" id="invideo" name="invideo" placeholder="Digite o nome aqui" value="{$menu.invideo}">
                        </div>
                    

                        <div>
                        <label for="instakeholder">Fornecedores</label>
                        <input type="text" class="form-control" id="instakeholder" name="instakeholder" placeholder="Digite o nome aqui" value="{$menu.instakeholder}">
                        </div>

                        <div>
                        <label for="inouterlist">Outras Listas</label>
                        <input type="text" class="form-control" id="inouterlist" name="inouterlist" placeholder="Digite o nome aqui" value="{$menu.inouterlist}">
                        </div>

                        <div>
                        <input type="hidden" class="form-control" id="idmenu" name="idmenu" placeholder="Digite o nome aqui" value="{$menu.idmenu}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

