<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    <!--{if=" $maxMessages > $numMessages "}
                 
                <div class="box-header pull-right">
                    <a href="/dashboard/mensagens/adicionar" class="btn btn-default">Adicionar Mensagem</a>
                </div>

                {/if}-->
                

                <div class="cart-collaterals">
                    <h2>Mensagens &nbsp;&nbsp;&nbsp; {$numMessages} / {$maxMessages}</h2>
                </div>

                

                <table class="table">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Mensagem</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$message"}
                        <tr>
                            <th scope="row">{$value.dtregister}</th>
                            <td>{$value.desmessage}</td>
                            <td>{$value.desemail}</td>
                            <td>{$value.desdescription}</td>
                            <td>{$value.inmessagestatus}</td>
                            <td style="width:222px;">
                                {if="$value.inmessagestatus == 0"}<a class="btn btn-success" href="/dashboard/mensagens/{$value.idmessage}/aprovar" role="button">Aprovar</a>
                                {elseif="$value.inmessagestatus == 1"}
                                <a class="btn btn-default" href="/dashboard/mensagens/{$value.idmessage}/moderar" role="button">Moderar</a>
                                {/if}
                                <a class="btn btn-warning" onclick="return confirm('Deseja realmente excluir este registro?')"  href="/dashboard/mensagens/{$value.idmessage}/deletar" role="button">Deletar</a>
                            </td>
                        </tr>
                        {else}
                        <div class="alert alert-info">
                            Nenhuma Mensagem foi encontrada
                        </div>
                        {/loop}
                    </tbody>
                </table>
                <div class="box-tools">
                <form action="/dashboard/fornecedores">
                    <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar..." value="{$search}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                    </div>
                </form>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-left">
                        {loop="$pages"}
                        <li><a href="{$value.href}">{$value.text}</a></li>
                        {/loop}
                    </ul>
                </div>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

