<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-2 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$messageSuccess != ''"}
                    <div class="alert alert-success">
                        {$messageSuccess}
                    </div>
                    {/if}
                    {if="$messageError != ''"}
                    <div class="alert alert-danger">
                        {$messageError}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/mensagens/{$message.idmessage}">


                        <div>
                        <label for="dtregister">Data</label>
                        <input type="text" class="form-control" id="dtregister" name="dtregister" placeholder="Digite o nome aqui" value="{$message.dtregister}" disabled>
                        </div>

                        <div>
                        <label for="desmessage">Nome</label>
                        <input type="text" class="form-control" id="desmessage" name="desmessage" placeholder="Digite o nome aqui" value="{$message.desmessage}" disabled>
                        </div>

                        <div>
                        <label for="desemail">E-mail</label>
                        <input type="text" class="form-control" id="desemail" name="desemail" placeholder="Digite o nome aqui" value="{$message.desemail}" disabled>
                        </div>

                        <div>
                        <label for="desdescription">Mensagem</label>
                        <input type="text" class="form-control" id="desdescription" name="desdescription" placeholder="Digite o nome aqui" value="{$message.desdescription}" disabled>
                        </div>        

                        <div>
                        <input type="text" class="form-control" id="inmessagestatus" name="inmessagestatus" placeholder="Digite o nome aqui" value="{$message.inmessagestatus}">
                        </div>
                        

                        <div>
                        <input type="hidden" class="form-control" id="idmessage" name="idmessage" placeholder="Digite o nome aqui" value="{$message.idmessage}">
                        </div>

                        <div class="box-header pull-right">
                            <a href="/dashboard/mensagens" class="btn btn-default">Cancelar</a>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

