<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    <h3>Detalhes do Pedido N°{$order.idorder}</h3>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Presente</th>
                                <th>Valor Unitário</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                                                
                            {loop="$product"}
                            <tr>
                                <td>
                                    {$value.desproduct}  
                                </td>
                                <td>
                                    <strong>{$value.vlprice}</strong>
                                </td>
                                <td>
                                    <strong>{$value.nrqtd}</strong>
                                </td>
                                <td>
                                    <span>R${$value.vltotal}</span>
                                </td>
                            </tr>
                            {/loop}
                        </tbody>
                        <tfoot>
                            
                            <tr>
                                <th colspan="3">Total do Pedido</th>
                                <td><strong><span>R${$order.vltotal}</span></strong> </td>
                            </tr>
                        </tfoot>
                    </table>
                    <br>
                    <br>



                    <table class="shop_table">
                        <thead>
                            <tr>
                                <th>Comprador</th>
                                <th>{$order.desname}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    E-mail 
                                </td>
                                <td>
                                    {$order.desemail}
                                </td>
                            </tr>               
                            <tr>
                                <td>
                                    Telefone 
                                </td>
                                <td>
                                    {$order.nrphone}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {if="$order.intypedoc === '0' "} CPF {else} CNPJ {/if} 
                                </td>
                                <td>
                                    {$order.desdocument}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Customer 
                                </td>
                                <td>
                                    {$order.descustomercode}
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    Cartão 
                                </td>
                                <td>
                                    {$order.descardcode}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Order 
                                </td>
                                <td>
                                    {$order.desordercode}
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    Pagamento 
                                </td>
                                <td>
                                    {$order.despaymentcode}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Status da Compra 
                                </td>
                                <td>
                                    {$order.desstatus}
                                </td>
                            </tr>      
                                
                            

                            <tr>
                                <td>
                                    Endereço
                                </td>
                                <td>
                                    {$order.desaddress}, {$order.desnumber} - {$order.desdistrict} - {$order.descity}/{$order.desstate} - {$order.deszipcode} - {$order.descountry}
                                </td>
                            </tr>



                        </tbody>
                        <tfoot>
                            
                            <tr>
                                <th>Data do Pedido</th>
                                <td><strong><span>{$order.dtregister}</span></strong> </td>
                            </tr>
                        </tfoot>
                    </table>



                    <div id="payment">
                        <div>
                            <input type="submit" value="Imprimir" class="button alt" onclick="window.print()">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>







                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

