<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area-box text-center">

                    <div class="plan-box-dash"> 
                        
                        <div id="plans">
                        <h1>Renovar {$plan.1.desplan}</h1>






                        <div class="plan">

                            <h2 class="plan-title"><strong>Por Apenas</strong></h2> 
                          
                            <h3 class="plan-subtitle"></h3> 
                            
                            

                            <div class="pricing">

                              <div class="currency">

                                <strong>6x</strong>
                                <span class="plan-coin">R$</span>

                              </div><!--currency-->
                                
                              <span id="plan2-vlinteger" class="price">{function="getValuePartial($plan.1.vlsaleprice/6,1)"}</span>
                              <span id="plan2-vldecimal">,{function="getValuePartial($plan.1.vlsaleprice/6,0)"}</span> 

                            </div><!--pricing-->



                            <p>ou</p>
                            <p class="plan-description"><span id="plan2-vlsaleprice">R$ {function="formatPrice($plan.1.vlsaleprice)"}</span> por um período de mais:</p>




                            <select id="plan2" form="2" name="plano">
                                    {loop="$plan"}
                                    <option  value="{$value.inplancode}" data-inplancode="{$value.inplancode}" data-vlsaleprice="{$value.vlsaleprice}" data-vlinstallment='{function="roundValue($value.vlsaleprice/6)"}' data-vlinteger='{function="getValuePartial($value.vlsaleprice/6,1)"}' data-vldecimal='{function="getValuePartial($value.vlsaleprice/6,0)"}'{if="$value.inperiod == '3'"} selected="selected" {/if}>{$value.inperiod} {$value.desperiod} - R$ {function="formatPrice($value.vlsaleprice)"}</option> 
                                    {/loop}
                                   
                                </select>

                                
                                <form action="/dashboard/meu-plano/renovar/checkout" id="2">
                                    <button type="submit" class="plan-box-button">Comece já</button>
                                </form>



                        </div><!--plan-->

                      

                    </div>

                    </div>


                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>
