<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    <div class="col-md-4 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-angle-left"></i>
                    <p>Plano Básico</p>

                    {if="$user.inplancontext == 1 "} 

                    Seu plano Atual 

                    {elseif="$user.inplancontext == 2"} 

                    Plano Indisponível

                    {/if}                 

                    <!--<select form="1" name="plano">
                        <option value="103" selected="selected">3 meses</option> 
                    </select>

                    <form action="/dashboard/meu-plano/upgrade/checkout" id="1">
                        <input type="submit">
                    </form>-->

                </div>
            </div>


            <div class="col-md-4 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-angle-left"></i>
                    <p>Plano Intermediário</p>

                    {if="$user.inplancontext == 1 "} 

                        <select form="2" name="plano">
                            <option value="2{$sufix}">Plano Intermediário</option> 
                         </select>

                        <form action="/dashboard/meu-plano/upgrade/checkout" id="2">
                            <input type="submit">
                        </form>

                    {elseif="$user.inplancontext == 2"}

                        Seu Plano Atual

                    {/if} 

                    
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-angle-left"></i>
                    <p>Plano Avançado</p>

                     {if="($user.inplancontext == 1) or ($user.inplancontext == 2)"} 

                        <select form="3" name="plano">
                        <option value="3{$sufix}">Plano Gold</option> 
                        </select>

                        <form action="/dashboard/meu-plano/upgrade/checkout"id="3">
                            <input type="submit">
                        </form>

                    {/if} 

                    
                </div>
            </div>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

