<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">

                <div class="box-header pull-right">
                    <a href="/dashboard/meu-plano/renovar" class="btn btn-default">Fazer Renovação</a>
                </div>

                <div class="box-header pull-right">
                    <a href="/dashboard/painel-financeiro/conta-bancaria" class="btn btn-default">Fazer Upgrade</a>
                </div>

                


                
                <div class="cart-collaterals">
                    <h2>Meu Plano</h2>
                </div>

                <br>
                <div class="box-header pull-left">
                    <p>Olá, {$user.desperson}, seu plano atual expira em {function="formatDate($user.dtplanend)"}</p>
                </div>
                <br>
                <br>
                <br>
                
                {if="$planError != ''"}
                <div class="alert alert-danger">
                    {$planError}
                </div>
                {/if}


                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Plano</th>
                            <th>Período</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Data Inicial</th>
                            <th>Data Final</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$plan"}
                        <tr>
                            <th scope="row">{$value.idplan}</th>
                            <th style="min-width: 222px;">{$value.desplan}</th>
                            <th>{if="$value.inperiod > 1"} {$value.inperiod} meses {else} {$value.inperiod} mês {/if}</th>
                            <th>R$ {function="formatPrice($value.vlsaleprice)"}</th>
                            
                            <th>{$value.desstatus}</th>
                            <th>{function="formatDate($value.dtregister)"}</th>
                            <td>{function="getDtPlanEnd($value.dtregister,$value.inperiod)"}</td>
                            <td>
                                <a class="btn btn-success" href="/dashboard/meu-plano/{$value.idplan}/detalhes" role="button">Detalhes</a>
                                <!--<a class="btn btn-default" href="/dashboard/orders/{$value.idplan}" role="button">Detalhes</a>-->
                            </td>
                        </tr>
                        {else}
                        <div class="alert alert-info">
                            Nenhum plano foi encontrado.
                        </div>
                        {/loop}
                    </tbody>
                </table>


                



            </div>
        </div>
    </div>
</div>