<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">


                {if="$user.inplancontext == '0'"}
                    <div class="button-header pull-right">
                        <a href="/dashboard/meu-plano/comprar" class="btn btn-default">Comprar um plano</a>
                    </div>

                {elseif="$user.inplancontext != '0' AND $user.inplancontext != '3'"}

                    <div class="button-header pull-right">
                        <a href="/dashboard/meu-plano/renovar" class="btn btn-default">Fazer Renovação</a>
                    </div>

                    <div class="button-header pull-right">
                        <a href="/dashboard/meu-plano/upgrade" class="btn btn-default">Fazer Upgrade</a>
                    </div>

                {elseif="$user.inplancontext != '0' AND $user.inplancontext == '3'"}

                    <div class="button-header pull-right">
                        <a href="/dashboard/meu-plano/renovar" class="btn btn-default">Fazer Renovação</a>
                    </div>

                {/if}
                 

               


                   

                

                


                
                <div class="cart-collaterals">
                    <h2>Meu Plano</h2>
                </div>

                <br>
                <div class="pull-left">
                    <p>Olá, <strong>{$user.desperson}</strong>, seu plano atual expira em {function="formatDate($user.dtplanend)"}</p>
                </div>
                <br>
                <br>
                <br>
                
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if}

                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}


                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Plano</th>
                            <th>Período</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Data Inicial</th>
                            <th>Data Final</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$regular_plan"}
                        <tr>
                            <th scope="row">{$value.idplan}</th>
                            <th style="min-width: 222px;">{$value.desplan}</th>
                            <th>{if="$value.inperiod > 1"} {$value.inperiod} meses {else} {$value.inperiod} mês {/if}</th>
                            <th>R$ {function="formatPrice($value.vlsaleprice)"}</th>
                            <th>{$value.inpaymentstatus}</th>
                            <!--<th>{function="getPaymentStatus($value.inpaymentstatus)"}</th>-->
                            <th>{function="formatDate($value.dtbegin)"}</th>
                            <td>{function="formatDate($value.dtend)"}</td>
                            <td>
                                <a class="btn btn-success" href="/dashboard/meu-plano/{$value.idplan}/detalhes" role="button">Detalhes</a>
                                <!--<a class="btn btn-default" href="/dashboard/orders/{$value.idplan}" role="button">Detalhes</a>-->
                            </td>
                        </tr>
                        {/loop}


                        {loop="$free_plan"}
                        <tr>
                            <th scope="row">{$value.idplan}</th>
                            <th style="min-width: 222px;">{$value.desplan}</th>
                            <th>{$value.inperiod} dias</th>
                            <th>R$ {function="formatPrice($value.vlsaleprice)"}</th>
                            <th>-</th>
                            
                            <th>{function="formatDate($value.dtbegin)"}</th>
                            <td>{function="formatDate($value.dtend)"}</td>
                            <td>
                                <a class="btn btn-success" href="/dashboard/meu-plano/{$value.idplan}/detalhes" role="button">Detalhes</a>
                                <!--<a class="btn btn-default" href="/dashboard/orders/{$value.idplan}" role="button">Detalhes</a>-->
                            </td>
                        </tr>
                        {/loop}
                    </tbody>
                </table>







                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

