<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-2 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    <div class="single-promo promo2">
                    <i class="fa fa-angle-left"></i>
                    <p>Renovar Plano</p>                   

                    <select form="planRenewal" name="plano">

                        <option value="{$wirecard.0}">1 mês</option> 
                        <option value="{$wirecard.1}" selected="selected">3 meses</option> 
                        <option value="{$wirecard.2}">4 meses</option> 
                        <option value="{$wirecard.3}">6 meses</option> 
                        <option value="{$wirecard.4}" >9 meses</option> 
                        <option value="{$wirecard.5}">12 meses</option>
                    </select>

                    <form action="/dashboard/meu-plano/renovar/checkout"id="planRenewal">
                        <input type="submit">
                    </form>


                </div>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>


