<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area text-center">

                    <div class="renewal-box">
                        <p>Renovar Plano</p>                   

                        <select id="plan-renewal" form="plan-renewal" name="plano">

                            <option value="{$plan.0}">1 mês</option> 
                            <option value="{$plan.1}" selected="selected">3 meses</option> 
                            <option value="{$plan.2}">4 meses</option> 
                            <option value="{$plan.3}">6 meses</option> 
                            <option value="{$plan.4}" >9 meses</option> 
                            <option value="{$plan.5}">12 meses</option>
                        </select>

                        <form action="/dashboard/meu-plano/renovar/checkout" id="plan-renewal">
                            <input type="submit">
                        </form>


                    </div>


                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>


