<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$productMsg != ''"}
                    <div class="alert alert-success">
                        {$productMsg}
                    </div>
                    {/if}
                    {if="$productError != ''"}
                    <div class="alert alert-danger">
                        {$productError}
                    </div>
                    {/if} 
                    <form method="post"  enctype="multipart/form-data" action="/dashboard/presentes-virtuais/{$product.idproduct}">


                        <div>
                        <label for="desproduct">Nome</label>
                        <input type="text" class="form-control" id="desproduct" name="desproduct" placeholder="Digite o nome aqui" value="{$product.desproduct}">
                        </div>

                        <div>
                        <label for="incategory">Categoria</label>
                        <input type="text" class="form-control" id="incategory" name="incategory" placeholder="Digite o nome aqui" value="{$product.incategory}">
                        </div>


                        <div>
                        <label for="vlprice">Valor</label>
                        <input type="text" class="form-control" id="vlprice" name="vlprice" placeholder="Digite o nome aqui" value="{$product.vlprice}">
                        </div>

                        <div>
                        <label for="file">Foto</label>
                        <input type="file" class="form-control" id="file" name="file">
                        <div class="box box-widget">
                            <div class="box-body">
                                <img class="img-responsive" id="image-preview" src="/uploads/products/{$product.desphoto}" alt="Foto">
                            </div>
                        </div>
                        </div>

                        <div>
                        <input type="hidden" class="form-control" id="inbought" name="inbought" placeholder="Digite o nome aqui" value="{$product.inbought}">
                        </div>
                        
                        <div>
                        <input type="hidden" class="form-control" id="idproduct" name="idproduct" placeholder="Digite o nome aqui" value="{$product.idproduct}">
                        </div>

                        <div class="box-header pull-right">
                            <a href="/dashboard/presentes-virtuais" class="btn btn-default">Cancelar</a>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

