<section class="dashboard">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 dash-menu">


                {if="!validatePlanEnd($user.dtplanend)"}

                    {include="dashboard-menu-expirated"}

                {elseif="validatePlanFree($user.inplancontext)"}

                    {include="dashboard-menu-free"}

                {else}

                    {include="dashboard-menu"}

                {/if}
                    

            </div><!--col-->




            <div class="col-md-9 dash-panel">


                {if="$success != ''"}
                <div class="alert alert-success">
                    {$success}
                </div>
                {/if}
                {if="$error != ''"}
                <div class="alert alert-danger">
                    {$error}
                </div>
                {/if} 

               <form method="post" action="/dashboard/rsvp/adicionar">

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">


                            <div class="dash-input-row">

                                <label for="desguest">Convidado</label>
                                <input type="text" class="form-control" id="desguest" name="desguest">

                            </div><!--dash-input-row-->





                        


                            <div class="dash-input-row input-inposition">


                                <label for="inmaxadults">Quantidade Máxima de Adultos</label>
                                <input type="text" class="form-control" id="inmaxadults" name="inmaxadults">


                            </div><!--dash-input-row-->









                            <div class="dash-input-row input-inposition">


                                <label for="inmaxchildren">Quantidade Máxima de Crianças</label>
                                <input type="text" class="form-control" id="inmaxchildren" name="inmaxchildren">


                            </div><!--dash-input-row-->






                                

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-6">

                            <div class="dash-input-row input-footer">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                                <a href="/dashboard/rsvp" class="btn btn-danger">Cancelar</a>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->



                        <div class="col-md-6">

                            &nbsp;
                            
                        </div><!--col-->



                    </div><!--row-->



                </form>



            </div><!--col-->
        



      
        </div><!--row-->
    
    </div><!--container-->

</section>

