<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                {if="$rsvpconfigSuccess != ''"}
                <div class="alert alert-success">
                    {$rsvpconfigSuccess}
                </div>
                {/if}
                {if="$rsvpconfigError != ''"}
                <div class="alert alert-danger">
                    {$rsvpconfigError}
                </div>
                {/if}                
                <form method="post" action="/dashboard/rsvp/configurar">

                    <div class="form-group">
                    <label for="innameconfirm">Confirmar Nome</label>
                    <input type="text" class="form-control" id="innameconfirm" name="innameconfirm" value="{$rsvpconfig.innameconfirm}">
                    </div>
                    <div class="form-group">
                    <label for="inmaxadultsconfig">Quantidade Máxima de Adults para Todos os Convidados</label>
                    <input type="text" class="form-control" id="inmaxadultsconfig" name="inmaxadultsconfig" value="{$rsvpconfig.inmaxadultsconfig}">
                    </div>
                    <div class="form-group">
                    <label for="inmaxchildrenconfig">Quantidade Máxima de Crianças para Todos os Convidados</label>
                    <input type="text" class="form-control" id="inmaxchildrenconfig" name="inmaxchildrenconfig" value="{$rsvpconfig.inmaxchildrenconfig}">
                    </div>
                    <div class="form-group">
                    <label for="inaccompaniesconfirm">Confirmar Nome dos Acompanhantes</label>
                    <input type="text" class="form-control" id="inaccompaniesconfirm" name="inaccompaniesconfirm" value="{$rsvpconfig.inaccompaniesconfirm}">
                    </div>

                    <div class="form-group">
                    <input type="hidden" class="form-control" id="idrsvpconfig" name="idrsvpconfig" value="{$rsvpconfig.idrsvpconfig}">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>