<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                
                {if=" $maxRsvp > $numRsvp "}
                 
                <div class="box-header pull-right">
                    <a href="/dashboard/rsvp/adicionar" class="btn btn-default">Adicionar Convidado</a>
                </div>

                {/if}
                

                <div class="cart-collaterals">
                    <h2>RSVP &nbsp;&nbsp;&nbsp; {$numRsvp} / {$maxRsvp}</h2>
                </div>

                

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Adultos</th>
                            <th>Crianças</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$rsvp"}
                        <tr>
                            <th scope="row"></th>
                            <td>{$value.desname}</td>
                            <td>{$value.desemail}</td>
                            <td>{$value.nrphone}</td>
                            <td>{$value.inmaxadults}</td>
                            <td>{$value.inmaxchildren}</td>
                            <td>{$value.instatus}</td>
                            <td style="width:222px;">
                                <a class="btn btn-default" href="/dashboard/rsvp/{$value.idrsvp}" role="button">Editar</a>
                                <a class="btn btn-warning" onclick="return confirm('Deseja realmente excluir este registro?')"  href="/dashboard/rsvp/{$value.idrsvp}/deletar" role="button">Deletar</a>
                            </td>
                        </tr>
                        {else}
                        <div class="alert alert-info">
                            Nenhum Convidado foi encontrado.
                        </div>
                        {/loop}
                    </tbody>
                </table>
                <div class="box-tools">
                <form action="/dashboard/fornecedores">
                    <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar..." value="{$search}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                    </div>
                </form>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-left">
                        {loop="$pages"}
                        <li><a href="{$value.href}">{$value.text}</a></li>
                        {/loop}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>