<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                
                {if=" $numConfirmed > 0 "}

                <div class="box-header pull-right">
                    <a href="/dashboard/rsvp/download" class="btn btn-default">Baixar Lista de Confirmados em CSV</a>
                </div>

                {/if}
                

                <div class="cart-collaterals">
                    <h2>Lista de Confirmados &nbsp;&nbsp;&nbsp; {$numConfirmed}</h2>
                </div>

                

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Adultos</th>
                            <th>Crianças</th>
                            <th>Confirmado</th>
                            <th>Data da Confirmação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {loop="$rsvp"}
                        <tr>
                            <th scope="row"></th>
                            <td>{$value.desguest}</td>
                            <td>{$value.desemail}</td>
                            <td>{$value.nrphone}</td>
                            <td>{$value.inadultsconfirmed}</td>
                            <td>{$value.inchildrenconfirmed}</td>
                            <td>{$value.inconfirmed}</td>
                            <td>{$value.dtconfirmed}</td>
                            
                        </tr>
                        {else}
                        <div class="alert alert-info">
                            Nenhum Convidado foi encontrado.
                        </div>
                        {/loop}
                    </tbody>
                </table>
                <div class="box-tools">
                <form action="/dashboard/fornecedores">
                    <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar..." value="{$search}">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                    </div>
                </form>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-left">
                        {loop="$pages"}
                        <li><a href="{$value.href}">{$value.text}</a></li>
                        {/loop}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>