<section class="dashboard">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {if="!validatePlanEnd($user.dtplanend)"}

                            {include="dashboard-menu-expirated"}

                        {elseif="validatePlanFree($user.inplancontext)"}

                            {include="dashboard-menu-free"}

                        {else}

                            {include="dashboard-menu"}

                        {/if}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$stakeholderMsg != ''"}
                    <div class="alert alert-success">
                        {$stakeholderMsg}
                    </div>
                    {/if}
                    {if="$stakeholderError != ''"}
                    <div class="alert alert-danger">
                        {$stakeholderError}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/fornecedores/{$stakeholder.idstakeholder}">


                        <div>
                        <label for="inposition">Posição</label>
                        <input type="text" class="form-control" id="inposition" name="inposition" placeholder="Digite o nome aqui" value="{$stakeholder.inposition}">
                        </div>


                        <div>
                        <label for="desstakeholder">Fornecedor</label>
                        <input type="text" class="form-control" id="desstakeholder" name="desstakeholder" placeholder="Digite o nome aqui" value="{$stakeholder.desstakeholder}">
                        </div>

                        <div>
                        <label for="descategory">Categoria</label>
                        <input type="text" class="form-control" id="descategory" name="descategory" placeholder="Digite o nome aqui" value="{$stakeholder.descategory}">
                        </div>

                        <div>
                        <label for="desdescription">Descrição</label>
                        <input type="text" class="form-control" id="desdescription" name="desdescription" placeholder="Digite o nome aqui" value="{$stakeholder.desdescription}">
                        </div>

                        <div>
                        <label for="nrphone">Telefone</label>
                        <input type="text" class="form-control" id="nrphone" name="nrphone" placeholder="Digite o nome aqui" value="{$stakeholder.nrphone}">
                        </div>

                        <div>
                        <label for="dessite">Site</label>
                        <input type="text" class="form-control" id="dessite" name="dessite" placeholder="Digite o nome aqui" value="{$stakeholder.dessite}">
                        </div>

                        <div>
                        <label for="desemail">E-mail</label>
                        <input type="text" class="form-control" id="desemail" name="desemail" placeholder="Digite o nome aqui" value="{$stakeholder.desemail}">
                        </div>
        

                        <div>
                        <label for="instatus">Status</label>
                        <input type="text" class="form-control" id="instatus" name="instatus" placeholder="Digite o nome aqui" value="{$stakeholder.instatus}">
                        </div>
                        

                        <div>
                        <input type="hidden" class="form-control" id="idstakeholder" name="idstakeholder" placeholder="Digite o nome aqui" value="{$stakeholder.idstakeholder}">
                        </div>

                        <div class="box-header pull-right">
                            <a href="/dashboard/fornecedores" class="btn btn-default">Cancelar</a>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

