<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                    {if="$storyMsg != ''"}
                    <div class="alert alert-success">
                        {$storyMsg}
                    </div>
                    {/if}
                    {if="$storyError != ''"}
                    <div class="alert alert-danger">
                        {$storyError}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/historia-casal">


                        <div class="form-group">
                        <label for="desstory">Título</label>
                        <input type="text" class="form-control" id="desstory" name="desstory" placeholder="Digite o nome aqui" value="{$story.desstory}">
                        </div>


                        <div class="form-group">
                        <label for="desdescription">Descrição</label>
                        <input type="text" class="form-control" id="desdescription" name="desdescription" placeholder="Digite o nome aqui" value="{$story.desdescription}">
                        </div>
                        
                        <div class="form-group">
                        <input type="hidden" class="form-control" id="idstory" name="idstory" placeholder="Digite o nome aqui" value="{$story.idstory}">
                        </div>

                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
            </div>
        </div>
    </div>
</div>