<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">

                                
                <div class="cart-collaterals">
                    <h2>Tags e Papelaria</h2>
                </div>

                {if="$tagSuccess != ''"}
                <div class="alert alert-success">
                    {$tagSuccess}
                </div>
                {/if}
                {if="$tagError != ''"}
                <div class="alert alert-danger">
                    {$tagError}
                </div>
                {/if}


               

                    <div class="promo-area">


                            <div style="margin: 5%;" class="row">
                                <h3 style="color: purple">Tags de Mesa - Freedom</h3>
                                <div class="col-md-12">

                                
                                    <ul style="list-style: none">
                                        {loop="$tag.freedom"}
                                        <li style="max-width: 200px; float:left; margin: 5px 5px;"><a target="_blank" href="/res/dashboard/papelaria/freedom/tag/{$value.tag}" ><img src="/res/dashboard/papelaria/freedom/{$value.thumb}"></a></li>
                                        {/loop}
                                    </ul>
                                </div>
                               
                            </div>


                            <div style="margin: 5%;" class="row">
                                <h3 style="color: #dd716f">Tags de Mesa - Love</h3>
                                <div class="col-md-12">

                                
                                    <ul style="list-style: none">
                                        {loop="$tag.love"}
                                        <li style="max-width: 200px; float:left; margin: 5px 5px;"><a target="_blank" href="/res/dashboard/papelaria/love/tag/{$value.tag}" ><img src="/res/dashboard/papelaria/love/{$value.thumb}"></a></li>
                                        {/loop}
                                    </ul>
                                </div>
                               
                            </div>

                            <div style="margin: 5%;" class="row">
                                <h3 style="color: #49a1de">Tags de Mesa - Classic</h3>
                                <div class="col-md-12">

                                
                                    <ul style="list-style: none">
                                        {loop="$tag.classic"}
                                        <li style="max-width: 200px; float:left; margin: 5px 5px;"><a target="_blank" href="/res/dashboard/papelaria/classic/tag/{$value.tag}" ><img src="/res/dashboard/papelaria/classic/{$value.thumb}"></a></li>
                                        {/loop}
                                    </ul>
                                </div>
                               
                            </div>

                            <div style="margin: 5%;" class="row">
                                <h3 style="color: #CFB53B">Tags de Mesa - Gold</h3>
                                <div class="col-md-12">

                                
                                    <ul style="list-style: none">
                                        {loop="$tag.gold"}
                                        <li style="max-width: 200px; float:left; margin: 5px 5px;"><a target="_blank" href="/res/dashboard/papelaria/gold/tag/{$value.tag}" ><img src="/res/dashboard/papelaria/gold/{$value.thumb}"></a></li>
                                        {/loop}
                                    </ul>
                                </div>
                               
                            </div>


                            <div style="margin: 5%;" class="row">
                                <h3 style="color: purple">Convites</h3>
                                <div class="col-md-12">

                                
                                    <ul style="list-style: none">
                                        {loop="$tag.convite"}
                                        <li style="max-width: 200px; float:left; margin: 5px 5px;"><a target="_blank" href="/res/dashboard/papelaria/convite/tag/{$value.tag}" ><img src="/res/dashboard/papelaria/convite/{$value.thumb}"></a></li>
                                        {/loop}
                                    </ul>
                                </div>
                               
                            </div>

                            <div style="margin: 5%;" class="row">
                                <h3 style="color: #CFB53B">Plaquinhas para Festa</h3>
                                <div class="col-md-12">

                                
                                    <ul style="list-style: none">
                                        {loop="$tag.plaquinha"}
                                        <li style="max-width: 200px; float:left; margin: 5px 5px;"><a target="_blank" href="/res/dashboard/papelaria/plaquinha/tag/{$value.tag}" ><img src="/res/dashboard/papelaria/plaquinha/{$value.thumb}"></a></li>
                                        {/loop}
                                    </ul>
                                </div>
                               
                            </div>
                    </div> <!-- End promo area -->
                


                



                


                 



            </div>
        </div>
    </div>
</div>