<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                    {if="$success != ''"}
                    <div class="alert alert-success">
                        {$success}
                    </div>
                    {/if}
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/meu-template">


                        <div class="form-group">
                        <label for="idtemplate">Template do Casal</label>
                        <input type="text" class="form-control" id="idtemplate" name="idtemplate" placeholder="Digite o nome aqui" value="{$customstyle.idtemplate}">
                        </div>


                        <div class="form-group">
                        <input type="hidden" class="form-control" id="idcustomstyle" name="idcustomstyle" placeholder="Digite o nome aqui" value="{$customstyle.idcustomstyle}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
            </div>
        </div>
    </div>
</div>