<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                {if="$transferSuccess != ''"}
                <div class="alert alert-success">
                    {$transferSuccess}
                </div>
                {/if}
                {if="$transferError != ''"}
                <div class="alert alert-danger">
                    {$transferError}
                </div>
                {/if}                
                <form method="post" action="/dashboard/transferencias/transferir-saldo">
                    <div class="form-group">
                    <label for="desbanknumber">Instituição</label>
                    <input type="text" class="form-control" id="desbanknumber" name="desbanknumber" value="{$bank.desbanknumber}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="desaccounttype">Tipo de Conta</label>
                    <input type="text" class="form-control" id="desaccounttype" name="desaccounttype" value="{$bank.desaccounttype}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="desagencynumber">Agência Sem Dígito Verificador</label>
                    <input type="text" class="form-control" id="desagencynumber" name="desagencynumber" value="{$bank.desagencynumber}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="desagencycheck">Dígito Verificador da Agência</label>
                    <input type="text" class="form-control" id="desagencycheck" name="desagencycheck" pvalue="{$bank.desagencycheck}" disabled>
                    </div>
                    
                    <div class="form-group">
                    <label for="desaccountnumber">Conta Sem Dígito Verificador</label>
                    <input type="text" class="form-control" id="desaccountnumber" name="desaccountnumber" value="{$bank.desaccountnumber}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="desaccountcheck">Dígito Verificador da Conta</label>
                    <input type="text" class="form-control" id="desaccountcheck" name="desaccountcheck" value="{$bank.desaccountcheck}" disabled>
                    </div>
                    <div class="form-group">
                    <label for="vlamount">Valor a transferir</label>
                    <input type="text" class="form-control" id="vlamount" name="vlamount" value="{$transfer.vlamount}">
                    </div>
                    <button type="submit" class="btn btn-primary">Realizar Transferência</button>
                </form>
            </div>
        </div>
    </div>
</div>