<section id="dashboard-init">

     <div class="container-fluid">            
            

            
            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div>

                        {include="dashboard-menu"}
                        

                    </div><!--media-->

                </div><!--col-lg-3-->





                <div class="col-md-9 dash-main-area">

                    {if="$success != ''"}
                    <div class="alert alert-success">
                        {$success}
                    </div>
                    {/if}
                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/videos/adicionar">


                        <div>
                        <label for="inposition">Posição</label>
                        <input type="text" class="form-control" id="inposition" name="inposition" placeholder="Digite o nome aqui">
                        </div>


                        <div>
                        <label for="desvideo">Video</label>
                        <input type="text" class="form-control" id="desvideo" name="desvideo" placeholder="Digite o nome aqui">
                        </div>
                        
                        <div>
                        <label for="desdescription">Descrição</label>
                        <input type="text" class="form-control" id="desdescription" name="desdescription" placeholder="Digite o nome aqui">
                        </div>
                        
                        <div>
                        <label for="desurl">URL</label>
                        <input type="text" class="form-control" id="desurl" name="desurl" placeholder="Digite o nome aqui">
                        </div>
                        
                
                        <div>
                        <label for="instatus">Status</label>
                        <input type="text" class="form-control" id="instatus" name="instatus" placeholder="Digite o nome aqui">
                        </div>

                        <div class="box-header pull-right">
                            <a href="/dashboard/videos" class="btn btn-default">Cancelar</a>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        

                        
                    </form>






                </div><!--col-->
        



      
            </div><!--row-->
    
    </div><!--container-->

</section>

