<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                    {if="$weddingMsg != ''"}
                    <div class="alert alert-success">
                        {$weddingMsg}
                    </div>
                    {/if}
                    {if="$weddingError != ''"}
                    <div class="alert alert-danger">
                        {$weddingError}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard/meu-casamento">


                        <div class="form-group">
                        <label for="dtwedding">Data do Casamento</label>
                        <input type="text" class="form-control" id="dtwedding" name="dtwedding" placeholder="Digite o nome aqui" value="{$wedding.dtwedding}">
                        </div>

                        <div class="form-group">
                        <label for="desweddingdescription">História do Casal</label>
                        <input type="text" class="form-control" id="desweddingdescription" name="desweddingdescription" placeholder="Digite o nome aqui" value="{$wedding.desweddingdescription}">
                        </div>

                        
                        <div class="form-group">
                        <label for="desweddinglocation">Local do Casamento</label>
                        <input type="text" class="form-control" id="desweddinglocation" name="desweddinglocation" placeholder="Digite o nome aqui" value="{$wedding.desweddinglocation}">
                        </div>

                        <div class="form-group">
                        <input type="hidden" class="form-control" id="idwedding" name="idwedding" placeholder="Digite o nome aqui" value="{$wedding.idwedding}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
            </div>
        </div>
    </div>
</div>