<section id="about">

	<div class="container">
		



		<div class="row">

	      	<div id="about-title" class="col-md-12">
	        
	        	<h1>Quem Somos</h1>

	        </div><!--col-->

	    </div><!--row-->


	    <div id="about-main" class="row">

	    					
			<div class="col-md-12">
				
				<div id="about-image">

					<img src="/res/images/banner/banner12.jpg" class="img-responsive" alt="">

				</div>
			
				

				<div id="about-text">
	            	
					<p>O Amar Casar é o caçula entre os sites de casamento, porém, queremos nos destacar em meio a outros gigantes oferecendo estilo, transparência e qualidade diferenciados. </p>
					
					<p>Queremos deixar nossa marca como um site de casamento atraente e elegante, ao mesmo tempo que ousado e criativo. Perfeito para casais sofisticados que procuram um estilo atual para divulgar este evento máximo em suas vidas.</p>
					
					<p>Queremos levar os casamentos a um outro patamar nestes novos tempos, respeitando as tradições, porém, incentivando a mudança e a originalidade, valorizando todas as formas de expressão, com a liberdade e a universalidade como seus valores máximos. </p>
					
					<p>O Amar Casar quer ser a casa de vocês, casais apaixonados, durante este período tão importante e ajudar para que o evento mais lindo de suas vidas seja um sucesso total. </p>
					
					<p>Para tanto, desenvolvemos um site bonito, prático e atual para entregar o melhor serviço para vocês. É por isso que somos o site de casamento de todos os casais – o site de casamento de um novo tempo.  </p>
	                
					
				</div><!--/.about-text-->

		    </div><!--/.col-->


		</div><!--/.row-->
	        



	        
		<div class="row about-features">
		
			<div class="col-md-6 about-details text-center">
			
				<h2>Suporte ao Casal e aos Convidados</h2>
			
				<p>Suporte total para solucionar quaisquer dúvidas relativas às funcionalidades do site, tanto para o Casal como para os Convidados.</p>

			</div><!--/.col-md-6-->

			<div class="col-md-6 about-details text-center">
				
				<h2>Lindos Layouts </h2>
				
				<p>Layouts exclusivos criados para deixar seus Convidados encantados!</p>
			
			</div>

		</div><!--/.row-->





		<div class="row about-features">
		
			<div class="col-md-6 about-details text-center">
			
				<h2>Perfil no Instagram </h2>
				
				<p>O perfil do Amar Casar no Instagram bomba com lindas imagens e vídeos. Acompanhe-nos em uma das redes sociais mais interessantes do momento!</p><br>
				<a href="#gallery">Visite Nosso Perfil</a>
			
			</div>
			<!--/.col-md-6-->
			
			<div class="col-md-6 about-details text-center">
			
				<h2>FanPage no Facebook </h2>
				
				<p>Venha nos fazer uma visita em nossa FanPage e junte-se a esta família linda!</p><br>
				
				<a href="#gallery">Visite nossa Página</a>
			
			</div>

		</div><!--/.row-->







		<div class="row about-features">
		
			<div class="col-md-6 about-details text-center">
			
				<h2>Blog Amar Casar</h2>
			
				<p>O Amar Casar também é um lindo Blog com novidades e matérias semanais. Entre em nosso blog e deixe seu comentário!</p><br>
			
				<a href="#gallery">Visite o Blog!</a>
			
			</div><!--/.col-md-6-->


		</div><!--/.row-->




	</div><!--container-->		

</section>