
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Meu Casamento</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-3">
                {include="dashboard-menu"}
            </div>
            <div class="col-md-9">
                    {if="$weddingMsg != ''"}
                    <div class="alert alert-success">
                        {$weddingMsg}
                    </div>
                    {/if}
                    {if="$weddingError != ''"}
                    <div class="alert alert-danger">
                        {$weddingError}
                    </div>
                    {/if} 
                    <form method="post" action="/dashboard-wedding">
                        <div class="form-group">
                        <label for="desconsortname">Nome completo</label>
                        <input type="text" class="form-control" id="desconsortname" name="desconsortname" placeholder="Digite o nome aqui" value="{$wedding.desconsortname}">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
            </div>
        </div>
    </div>
</div>