<footer class="text-center">

    <div class="container">

        <div class="row">



        <div class="col-md-4 text-left">


                <img src="/res/site/images/logo-white.png" class="img-responsive" alt="Placeholder image">

                <div class="caption">

                    <h2>Sobre o Amar Casar</h2>
                    <p><a href="quem-somos">Quem Somos</a></p>
                    <p><a href="termos-uso">Termos de Uso</a></p>
                    <p><a href="politica-privacidade">Politica de Privacidade</a></p>
                    <p><a href="https://blog.amarcasar.com/">Blog</a></p>

                </div><!--caption-->

        </div><!--col-lg-6-->





        





        <div class="col-md-4 text-left">


                <div class="caption">

                    <h2>Experimente</h2>

                    <p><a href="site-casamento">Site de Casamento</a></p>
                    <p><a href="modelos-layouts">Modelos de Layouts</a></p>
                    <p><a href="planos">Planos</a></p>
                    

                </div><!--caption-->


        </div><!--col-md-3-->







        <div class="col-md-4 text-left">


                <div class="caption">

                    <h2>Presentes em Dinheiro</h2>
                    <p><a href="lista-presentes">Lista de Presentes</a></p> 
                    <p><a href="tarifas-condicoes">Tarifas e Condições</a></p>

                </div><!--caption-->


        </div><!--col-md-3-->


    </div><!--row-->


    <div class="row">
        
        <div class="col-md-4 text-left">

                <div class="caption">

                    <h2>Dúvidas e Suporte</h2>
                    <p><a href="central-ajuda">Central de Ajuda</a></p>
                    <p><a href="contato">Fale Conosco</a></p>

                </div><!--caption-->

        </div><!--col-md-3-->






        <div class="col-md-4 text-left ">


                <div class="caption">

                    <h2>Convidados</h2>
                    <p><a href="buscar">Presenteie o Casal</a></p>
                    <p><a href="buscar">Confirme sua Presença</a></p>
                    <!-- <p>Convidado: compre seu presente para os Noivos<br/>Deixe seu recado para os Noivos no Mural</p> -->

                </div><!--caption-->



        </div><!--col-md-3-->




        <div class="col-md-4 text-left">

            <div class="caption text-center">

                <h2>Redes Sociais</h2>

                <!-- <div class="col-xs-4 text-center"> <a href="#"><img src="<?php echo DIR_RESOURCES; ?>/images/twitter64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></a></div> -->

                <div class="col-xs-4 text-center">

                    <a href="https://www.facebook.com/amarcasaroficial/">

                    <img src="/res/site/images/facebook64.png" alt="Placeholder image" width="86" height="86" class="img-responsive">

                    </a>

                </div><!--col-xs-4-->

                <div class="col-xs-4 text-center">

                    <a href="https://www.instagram.com/amarcasaroficial/">

                        <img src="/res/site/images/instagram64.png" alt="Placeholder image" width="86" height="86" class="img-responsive">

                    </a>

                </div><!--col-xs-4-->

            </div><!--caption-->

            <h3>Novidades</h3>

            <form>  

                <div class="form-group col-md-9">

                    <input type="email" name="email" class="form-control" id="email" placeholder="Insira seu melhor e-maill...">

                </div><!--form-group-->

                <div class="form-group col-md-3 text-left">

                    <a href="#">

                        <button type="submit" class="btn-enviar btn-trans">&nbsp;&nbsp;&nbsp;Enviar<br>
                        </button>

                    </a>

                </div><!--form-group-->

            </form>


        </div><!--col-lg-5-->

    </div><!--col-->




    <div class="row">

        <div class="col-md-12 bottom-footer p">

            <div class="caption">

            <p>Amar Casar | <a href="termos-uso">Termos de Uso</a> | <a href="politica-privacidade">Política de Privacidade</a></p>

            <button type="button" class="btn btn-lg-seguro btn-default-b"> <img src="res/site/images/protected.png" alt=""/>&nbsp;&nbsp;<strong>Site Protegido</strong></button> 

            </div><!--caption-->

        </div><!--col-xs-12-->

    </div><!--row-->









    </div><!--container-->

</footer>
   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Biblioteca Handlebars tem que vir depois do JQuery -->
    <script src="/res/site/js/handlebars-v4.0.10.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="/res/site/js/owl.carousel.min.js"></script>
    <script src="/res/site/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="/res/site/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/res/site/js/main.js"></script>
    
    <!-- Slider -->
    <script type="text/javascript" src="/res/site/js/bxslider.min.js"></script>
	<script type="text/javascript" src="/res/site/js/script.slider.js"></script>


  </body>
</html>