<section id="dash-forgot">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12 dash-forgot-wrapper">
                



                <div class="dash-forgot-box">
                    
                  


                    <div class="dash-forgot-form">
                        
                        <form action="/forgot" method="post">

                        

                        <p>
                            
                            <div class="dash-forgot-logo">
                        
                                <img src="/res/site/images/logo-dd716f.png">

                            </div>


                        </p>


                        <p>
                            
                            <div class="dash-forgot-logo">
                        
                                <h2>Recuperar Senha</h2>

                            </div>


                        </p>



                        <p>

                            <!--<label for="forgot">E-mail <span class="required">*</span>
                            </label>-->

                            <input type="email" id="email" name="email" class="input-text" placeholder="E-mail">
                        
                        </p>




                        <div>

                            <input class="dash-forgot-button" type="submit" value="Enviar" name="login" class="button">

                        </div>

                        

                        <div class="clear"></div>

                    </form> 

                    </div>




                </div>





            </div><!--col-->

        </div><!--row-->

    </div><!--container-->


</section>

