<style type="text/css">
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 .taxas{border-collapse:collapse;width:100%;font-size:16px;margin-top:50px}
 .taxas td{color:#3b3b3b; border:1px solid #eef0f1;}
 .taxas th{color:#121212;font-weight:lighter;background:#eef0f1}
 .taxas tbody tr:hover td{background:#fafafa}
 .taxas td, .taxas th{ padding:5px 0;}
 
 .h2tit{font-family:"Open Sans"; font-weight:normal; font-size:24px; color:#dd716f}
 .h2tit2{font-family:"Open Sans"; font-weight:normal; font-size:19px; color:#3b3b3b}

.div_dentro{ width:95%; height:95%; margin:auto; text-align:center; font-family:'Montserrat'; color:#3b3b3b;}
.Titulo{font-family:'Montserrat'; font-size: 36px; color:#dd716f; font-weight:normal;}
.textcenter2{font-family:'Montserrat'; font-size:20px; color:#3b3b3b;}
.lista-primeira{max-width:500px; text-align:left; margin:30px auto;}
.lista-primeira li{list-style-type:disc; list-style-position:outside; margin:15px 0; font-size:18px;}
.subSection p#title{color:#dd716f; font-family:'Montserrat'; font-size:22px;}
.text-taxas { margin: 0 auto; margin-bottom: 20px; font-size: 16px; line-height: 24px; text-align:center; } 
.second-coll-1 {display:inline-block; width:48%; min-width:300px; text-align:left; margin:0;}
.second-coll-2 {display:inline-block; width:48%; min-width:300px; text-align:right; margin:0;}


a{text-decoration:inherit; color:inherit;}




.h2titbluenew {color:#00aeef!important; font-size:22px!important; margin-bottom:28px!important; text-align:center; display:block;}
.h2titbluesubnew {padding-top: 80px; padding-bottom: 40px; display: block; text-align: center; color: #00aeef;font-size:22px; font-weight:300;}
.tarifascond p {line-height:13px!important;}
.h2titblack {color:#121212; font-size:18px; font-weight:300; display:block;text-align:center; margin-top:73px; margin-bottom:51px;}
.txtleft {text-align:left!important;}
	


		  
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
		text-align:center;
	font-size: 14px;
	color: #70007c;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#ffffff));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #ec656e;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0.3);
}

</style>
<div id="quadro-geral">
		<div class="div_dentro">
        	<div>
            	<div>
                	<div id="title-box">
                    	<h1 itemprop="name" class="Titulo">
                        	Lista de Presentes
                        </h1>
                        <p class="textcenter2">Sua Lista de Presentes Virtuais convertida em dinheiro!</p>
  					</div>
                    <br>
                    
	  					<div class="subSection"><p id="title">A Lista de Presentes do Amar Casar é super prática
                                , além de ser uma das mais bonitas e elegantes:</p><br><br>
                             
      						<ul class="lista-primeira"> 
                            	<li style="list-style-type:disc;">Personalize seus presentes</li> 
                                <li style="list-style-type:disc;">Lista Pronta com dezenas de itens cadastrados</li> 
                                <li style="list-style-type:disc;">Opção de itens já comprados aparecem como &quot;Presenteado&quot;</li> 
                                <li style="list-style-type:disc;">Acompanhe as transações por um painel de controle</li> 
                                <li style="list-style-type:disc;">Transferências gratuitas pra sua conta bancária</li>
							</ul><br><br>
	  					</div>
	  					<div class="subsection" style="padding:0 20px;">

      <strong class="h2titblack"> <b>Simulação 1:</b> Tarifa arcada pelo Casal:</strong> 
      <table class="taxas"> <thead> <tr> <th style="text-align: center;"><strong>Forma de pagamento</strong></th> <th style="text-align: center;"><strong>Valor do presente</strong></th> <th style="text-align: center;"><strong>Valor pago pelos convidados</strong></th> <th style="text-align: center;"><strong>Valor recebido pelos noivos</strong></th> </tr> </thead> <tbody> <tr> <td style="text-align: center;">Boleto Bancário e Cartão de Crédito à vista</td> <td style="text-align: center;">R$ 100,00</td> <td style="text-align: center;">R$ 100,00</td> <td style="text-align: center;">R$ 95,01</td> </tr> </tbody> </table> 
      <strong class="h2titblack"> <b>Simulação 2:</b> Tarifa arcada pelos Convidados:</strong> 
      <table class="taxas"> <thead> <tr> <th style="text-align: center;"><strong>Forma de pagamento</strong></th> <th style="text-align: center;"><strong>Valor do presente</strong></th> <th style="text-align: center;"><strong>Valor pago pelos convidados</strong></th> <th style="text-align: center;"><strong>Valor recebido pelos noivos</strong></th> </tr> </thead> <tbody> <tr> <td style="text-align: center;">Boleto Bancário e Cartão de Crédito à vista</td> <td style="text-align: center;">R$ 100,00</td> <td style="text-align: center;">R$ 105,25</td> <td style="text-align: center;">R$ 100,00</td> </tr> </tbody> </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <h2 class="h2tit">Resgate dos Valores</h2>
	  <div class="text-taxas">
        <p>O valor  estará disponível para o casal transferir para sua conta bancária em 2 dias, no  caso pagamentos com Boleto Bancário, e 14 dias, no caso de pagamentos com  cartão de crédito à vista ou parcelado.</p>
        <p>Os saques  são gratuitos e podem ser realizados quantas vezes o casal desejar.</p>
      </div>
	  
	  <div class="defhr" style="clear:both; padding-top:20px; margin-bottom:50px;"></div> 
	  
	  <div class="subsection">
	  <h2 class="h2tit">Vantagens da Lista de Presentes para o Casal</h2>
 
	  <div style="overflow:hidden;">
      <ul class="second-coll-1"><br>
        <li style="list-style-type: disc">Uma das menores tarifas bancárias do mercado para compras com Boleto ou Cartão <span style="color:#6f007c"><strong>(4,29%)</strong></span></li>
        <li style="list-style-type: disc">Uma das menores taxas administrativas <span style="color:#6f007c"><strong>(0,70%)</strong></span></li>
        <li style="list-style-type: disc">Mesmo que o presente seja parcelado você recebe o valor integral</li>
      </ul> 
          <ul class="second-coll-2">
            <li style="list-style-type: disc">Um dos menores tempos de repasse para compras com cartão <span style="color:#6f007c"><strong>(14 dias)</strong></span> e boleto bancário <span style="color:#6f007c"><strong>(2 dias)</strong></span></li>
            <li style="list-style-type: disc">Transferências gratuitas para sua conta bancária</li>
            </ul>
          <p>&nbsp;</p>
      </div> 
	  </div> 

	  <div class="defhr" style="clear:both; padding-top:20px; margin-bottom:30px;"></div>
	  

	  <div class="subsection">
	  
	  <p class="h2tit2" style="color: #6f007c">Segurança e Credibilidade especialmente desenvolvidas pelo Amar Casar, para fazer do seu casamento e da sua lua de mel um sucesso, de forma simples e prática:</p><br><br>
	  
	  <h2 class="h2tit">Vantagens da Lista de Presentes para os Convidados</h2> 
	  <br>
	  <div style="overflow:hidden;"> 
	  <ul class="second-coll-1">    
        <li style="list-style-type: disc">Várias bandeiras de cartão de crédito disponíveis</li>
        <li style="list-style-type: disc">Pagamento com Boleto Bancário</li>
        <li style="list-style-type: disc">Podem parcelar o presente em até 6 vezes</li>
        <li style="list-style-type: disc">Podem deixar uma mensagem de felicitação ao casal após a compra</li>
      </ul> 
          <ul class="second-coll-2">
            <li style="list-style-type: disc">Compra em poucos cliques</li>
            <li style="list-style-type: disc">Ambiente com páginas criptografadas</li>
            <li style="list-style-type: disc">Segurança total, o Amar Casar atende a todas as normas       PCI-DSS</li>
            <li style="list-style-type: disc">Suporte total de nossa equipe para qualquer dúvida ou       orientação</li>
            </ul>

      </div>
	  <br>
	    <br>
	  <br>
			<h2 class="h2tit"><a id="" href="tarifas-condicoes" style="color:#6f007c;">Ir Para Tarifas e Condições</a></h2>
	<br>
       
            <p>&nbsp;</p>
            <button class="btn-amarcasar4" type="button">Criar Lista de Presentes </button>

</div>
  </div> 
    </div></div>
		</div>