<style type="text/css">


.gifts-taxes1{border-collapse:collapse;width:100%;font-size:16px;margin-top:50px}
.gifts-taxes1 td{color:#3b3b3b; border:1px solid #eef0f1;}
.gifts-taxes1 th{color:#121212;font-weight:lighter;background:#eef0f1}
.gifts-taxes1 tbody tr:hover td{background:#fafafa}
.gifts-taxes1 td, .gifts-taxes1 th{ padding:5px 0;}

.gifts-title2{font-size:24px; color:#dd716f}
.gifts-title3{font-size:19px; color:#6f007c}

.gifts-title1{ width:95%; height:95%; margin:auto; text-align:center; color:#3b3b3b;}
.gifts-title2{font-size: 36px; color:#dd716f; font-weight:normal;}
.gifts-subtitle1{font-size:20px; color:#3b3b3b;}
.gifts-list1{max-width:500px; text-align:left; margin:30px auto;}
.gifts-list1 li{list-style-type:disc; list-style-position:outside; margin:15px 0; font-size:18px;}
.gifts-section1 p#gift-subtitle2{color:#dd716f; font-size:22px;}
.text-gifts-taxes1 { margin: 0 auto; margin-bottom: 20px; font-size: 16px; line-height: 24px; text-align:center; } 
.second-coll-1 {display:inline-block; width:48%; min-width:300px; text-align:left; margin:0;}
.second-coll-2 {display:inline-block; width:48%; min-width:300px; text-align:right; margin:0;}


a{text-decoration:inherit; color:inherit;}




.gifts-title2bluenew {color:#00aeef!important; font-size:22px!important; margin-bottom:28px!important; text-align:center; display:block;}
.gifts-title2bluesubnew {padding-top: 80px; padding-bottom: 40px; display: block; text-align: center; color: #00aeef;font-size:22px; font-weight:300;}
.tarifascond p {line-height:13px!important;}
.gifts-title-black {color:#121212; font-size:18px; font-weight:300; display:block;text-align:center; margin-top:73px; margin-bottom:51px;}
	
</style>



<section>


	<div class="container text-center">


        <div class="row">

            
            <div class="col-md-12">





            	<div class="gifts-title2">

                	<h1>
                    	Lista de Presentes
                    </h1>

                    <p class="gifts-subtitle1">Sua Lista de Presentes Virtuais convertida em dinheiro!</p>

					</div>
                








					<div class="gifts-section1">

						<p id="gift-subtitle2">A Lista de Presentes do Amar Casar é super prática
                        , além de ser uma das mais bonitas e elegantes:</p><br><br>
                     
						<ul class="gifts-list1"> 

                    	<li style="list-style-type:disc;">Personalize seus presentes</li> 

                        <li style="list-style-type:disc;">Lista Pronta com dezenas de itens cadastrados</li> 

                        <li style="list-style-type:disc;">Opção de itens já comprados aparecem como &quot;Presenteado&quot;</li> 

                        <li style="list-style-type:disc;">Acompanhe as transações por um painel de controle</li>

                        <li style="list-style-type:disc;">Transferências gratuitas pra sua conta bancária</li>

					</ul>

					</div><!--gifts-section1-->







					<div class="gifts-section1" style="padding:0 20px;">

					<strong class="gifts-title-black">Simulação 1: Tarifa arcada pelo Casal:</strong> 


					<table class="gifts-taxes1">

						<thead>

							<tr> 
								<th style="text-align: center;"><strong>Forma de pagamento</strong></th> 

								<th style="text-align: center;"><strong>Valor do presente</strong></th> 

								<th style="text-align: center;"><strong>Valor pago pelos convidados</strong></th> <th style="text-align: center;"><strong>Valor recebido pelos noivos</strong></th> 

							</tr>

						</thead> 

						<tbody> 

							<tr> 
								<td style="text-align: center;">Boleto Bancário e Cartão de Crédito à vista</td> 

								<td style="text-align: center;">R$ 100,00</td> 

								<td style="text-align: center;">R$ 100,00</td> 

								<td style="text-align: center;">R$ 95,01</td> 

							</tr>

						</tbody>

					</table> 




					<strong class="gifts-title-black">Simulação 2: Tarifa arcada pelos Convidados:</strong> 

					<table class="gifts-taxes1"> 

						<thead> 

							<tr> 

								<th style="text-align: center;"><strong>Forma de pagamento</strong></th>

								<th style="text-align: center;"><strong>Valor do presente</strong></th> 

								<th style="text-align: center;"><strong>Valor pago pelos convidados</strong></th> 

								<th style="text-align: center;"><strong>Valor recebido pelos noivos</strong></th> 

							</tr> 

						</thead> 

						<tbody> 

							<tr> 

								<td style="text-align: center;">Boleto Bancário e Cartão de Crédito à vista</td> <td style="text-align: center;">R$ 100,00</td> 
								<td style="text-align: center;">R$ 105,25</td> <td style="text-align: center;">R$ 100,00</td> 

							</tr> 

						</tbody> 

					</table>

					<p>&nbsp;</p>
					<p>&nbsp;</p>






					<h2 class="gifts-title2">Resgate dos Valores</h2>







					<div class="text-gifts-taxes1">

						<p>O valor  estará disponível para o casal transferir para sua conta bancária em 2 dias, no  caso pagamentos com Boleto Bancário, e 14 dias, no caso de pagamentos com  cartão de crédito à vista ou parcelado.</p>
					
						<p>Os saques  são gratuitos e podem ser realizados quantas vezes o casal desejar.</p>

					</div><!--text-gifts-taxes1-->
  

					 









  					<div class="gifts-section1">
  
	  					<h2 class="gifts-title2">Vantagens da Lista de Presentes para o Casal</h2>
 
						<div style="overflow:hidden;">

							<ul class="second-coll-1">
							
								<li style="list-style-type: disc">Uma das menores tarifas bancárias do mercado para compras com Boleto ou Cartão <span style="color:#6f007c"><strong>(4,29%)</strong></span></li>
								
								<li style="list-style-type: disc">Uma das menores gifts-taxes1 administrativas <span style="color:#6f007c"><strong>(0,70%)</strong></span></li>
								
								<li style="list-style-type: disc">Mesmo que o presente seja parcelado você recebe o valor integral</li>

							</ul> 

							<ul class="second-coll-2">
								
								<li style="list-style-type: disc">Um dos menores tempos de repasse para compras com cartão <span style="color:#6f007c"><strong>(14 dias)</strong></span> e boleto bancário <span style="color:#6f007c"><strong>(2 dias)</strong></span></li>
								
								<li style="list-style-type: disc">Transferências gratuitas para sua conta bancária</li>
							
							</ul>
							
							<p>&nbsp;</p>

						</div><!--style="overflow:hidden;"-->

					</div><!--gifts-section1-->

  










  					<div class="gifts-section1">
  
  						<p class="gifts-title3">Segurança e Credibilidade especialmente desenvolvidas pelo Amar Casar, para fazer do seu casamento e da sua lua de mel um sucesso, de forma simples e prática:</p><br><br>
  
  						<h2 class="gifts-title2">Vantagens da Lista de Presentes para os Convidados</h2> 

					</div>


					<div style="overflow:hidden;"> 
					
						<ul class="second-coll-1">    
						
							<li style="list-style-type: disc">Várias bandeiras de cartão de crédito disponíveis</li>
						
							<li style="list-style-type: disc">Pagamento com Boleto Bancário</li>
						
							<li style="list-style-type: disc">Podem parcelar o presente em até 6 vezes</li>
						
							<li style="list-style-type: disc">Podem deixar uma mensagem de felicitação ao casal após a compra</li>

						</ul> 

						<ul class="second-coll-2">
						
							<li style="list-style-type: disc">Compra em poucos cliques</li>
						
							<li style="list-style-type: disc">Ambiente com páginas criptografadas</li>
						
							<li style="list-style-type: disc">Segurança total, os dados de cartões são criptografados e não são armazenados</li>
						
							<li style="list-style-type: disc">Suporte total de nossa equipe para qualquer dúvida ou orientação</li>

						</ul>

      				</div><!--style="overflow:hidden;"-->




					<h2 class="gifts-title2"><a id="" href="tarifas-condicoes" style="color:#6f007c;">Ir Para Tarifas e Condições</a></h2>
       
            		<p>&nbsp;</p>

            		<button type="button">Criar Lista de Presentes </button>


						

			</div><!--col-->

		</div><!--row-->

	</div><!--container-->



</section>
