<!--    <div class="slider-area">
            <div class="block-slider block-slider4">
                <ul class="" id="bxslider-home4">
                    <li>
                        <img src="/res/site/img/h4-slide.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                iPhone <span class="primary">6 <strong>Plus</strong></span>
                            </h2>
                            <h4 class="caption subtitle">Dual SIM</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                        </div>
                    </li>
                    <li><img src="/res/site/img/h4-slide2.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                by one, get one <span class="primary">50% <strong>off</strong></span>
                            </h2>
                            <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                        </div>
                    </li>
                    <li><img src="/res/site/img/h4-slide3.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                Apple <span class="primary">Store <strong>Ipod</strong></span>
                            </h2>
                            <h4 class="caption subtitle">Select Item</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                        </div>
                    </li>
                    <li><img src="/res/site/img/h4-slide4.png" alt="Slide">
                        <div class="caption-group">
                          <h2 class="caption title">
                                Apple <span class="primary">Store <strong>Ipod</strong></span>
                            </h2>
                            <h4 class="caption subtitle">& Phone</h4>
                            <a class="caption button-radius" href="#"><span class="icon"></span>Comprar</a>
                        </div>
                    </li>
                </ul>
            </div>
    </div>-->
    
    <section id="banner">
        
        <div class="container">
            

            <div class="row">
                

                <div class="col-md-12 ">

                    <div class="text-center">

                        <div>
                            <h1>VIVA O AMOR, SEJA ELE COMO FOR</h1>
                            <h3>AMAR CASAR, O SITE DE CASAMENTO DE TODOS OS CASAIS</h3>
                            <p>
                                <a class="btn primary-white" href="/cadastrar" role="button">Criar meu Site</a>
                            </p>
                        </div><!--inner-text-introduction-->

                    </div><!--textIntroduction_-->

                </div><!--col-md-12-->

            </div>

        </div><!--container-->
        

    </section>




    
      

       
       

    <section id="advantages" class="theme-color pad-top-bottom">

         <div class="container-fluid">

                
                <div class="row">

                    <div class="col-md-12 text-center advantage-title">
             
                        <h2>SITE DE CASAMENTO</h2>
              
                    </div><!-- col-xs-12-->

                </div><!-- row-->

                


                <div class="row">

                    

                    <div class="col-md-3 text-center">

                        <div class="media">

                            <div class="text-center thumbnail-center"> 


                                <img src="/res/site/images/advantage1.jpg" alt="..." width="280" class="media-object">

                                <div class="media-body">

                                    <h3 class="media-heading advantage-box">LISTA DE CONVIDADOS</h3>
                           
                                    Organize e receba de forma prática e confortável as confirmações de presença

                                </div>

                            </div>                           

                        </div><!--media-->

                    </div><!--col-lg-3-->



                    <div class="col-md-3 text-center">

                        <div class="media">

                            <div class="text-center thumbnail-center"> 


                                <img src="/res/site/images/advantage2.jpg" alt="..." width="280" class="media-object">

                                <div class="media-body">

                                    <h3 class="media-heading advantage-box">LINDOS LAYOUTS</h3>
                           
                                    Encante seus convidados com um site de casamento elegante e atraente

                                </div>

                            </div>
                            

                        </div><!--media-->

                    </div><!--col-lg-3-->
            




                    <div class="col-md-3 text-center">

                        <div class="media">

                            <div class="text-center thumbnail-center"> 


                                <img src="/res/site/images/advantage3.jpg" alt="..." width="280" class="media-object">

                                <div class="media-body">

                                    <h3 class="media-heading advantage-box">LISTA DE PRESENTES</h3>
                           
                                    Crie uma lista de presentes em dinheiro e divulgue as listas das suas lojas favoritas

                                </div>

                            </div>
                            

                        </div><!--media-->

                    </div><!--col-lg-3-->




                    <div class="col-md-3 text-center">

                        <div class="media">

                            <div class="text-center thumbnail-center"> 


                                <img src="/res/site/images/advantage4.jpg" alt="..." width="280" class="media-object">

                                <div class="media-body">

                                    <h3 class="media-heading advantage-box">LISTA DE PRESENTES</h3>
                           
                                    Crie uma lista de presentes em dinheiro e divulgue as listas das suas lojas favoritas

                                </div>

                            </div>

                            
                        </div><!--media-->

                    </div><!--col-lg-3-->
          
                </div><!--row-->
        
        </div><!--container-->

    </section>






    <section class="full-background full-background-lista-presente pad-top-bottom">

      <div class="container text-center">

        <div class="row">


          <div class="col-md-6 text-center white">

          <p>Crie sua Lista e receba seus presentes em dinheiro de maneira prática e fácil, com a moderna Lista de Presentes do Amar Casar.<br>
          Comodidade para o casal, segurança e confiabilidade para os convidados</p>
          </div>


          <div class="col-md-6 text-center">  

            <button type="button" class="btn btn-lg btn-default-g btn-lista-presentes primary-white">

            <h4>Lista de Presentes</h4>

            </button>

            <br/><br/>


            <button type="button" class="btn btn-lg btn-default-g btn-criar-lista primary-white2 link" ref-link="/cadastrar">
            <h4>Criar Lista</h4>
            </button>


          </div><!--col-md-6-->

        </div><!--row-->

      </div><!--container-->

    </section>





    <section  class="cinza pad-top-bottom">

      <div class="container">

      <div class="row">

        <div class="col-lg-12 text-center titulo-rosa">

          <h2>Vantagens</h2>

        </div><!--col-lg-12-->

      </div><!--row-->





      <div class="row">

        <div class="col-md-8 exclusivo">

          <h2>&nbsp;</h2>
          <h2>&nbsp;</h2>

          <h2>LAYOUT EXCLUSIVOS PARA</h2>

          <h2>QUEM QUER CASAR E AMAR</h2>

          <p>&nbsp;</p>

          <p> Seu site de casamento merece um design exclusivo Amar Casar. </p>

          <p>Escolha seu layout e personalize do seu jeito! </p>

          <p>&nbsp;</p>

          <button type="button" class="btn btn-md btn-danger2" id="btnLayouts">
            Ver Layouts
          </button>

          <button type="button" class="btn btn-md" id="btnRecursos">
            Ver Recursos
          </button>

          <h2>&nbsp;</h2>

        </div><!--ol-md-8-->

        <div class="col-md-4 text-center ">

          <div class="price_block" style="background-color: #dd716f">

            <p style="padding-top: 10px">
              <img src="<?php echo DIR_RESOURCES; ?>/images/logo-branco-min.png">             
            </p>


            <ul class="features">

              <li class="black destaque1">Tenha acesso a um sistema on-line que irá lhe auxiliar a divulgar seu casamento</li>

              <li style="padding-top: 35px"><img src="<?php echo DIR_RESOURCES; ?>/images/setas.png" alt=""/>&nbsp;&nbsp;Receba Presentes em Dinheiro</li>

              <li><img src="<?php echo DIR_RESOURCES; ?>/images/setas.png" alt=""/>&nbsp;&nbsp;Confirmação de Presença on-line</li>      

              <li><img src="<?php echo DIR_RESOURCES; ?>/images/setas.png" alt=""/>&nbsp;&nbsp;Layouts Modernos</li>

              <li><img src="<?php echo DIR_RESOURCES; ?>/images/setas.png" alt=""/>&nbsp;&nbsp;Saques Gratuitos</li>

              <li>&nbsp;&nbsp;<br><b>E muito mais!</b></li>

            </ul>




            <div class="active">              
            
              <li><br><button type="button" class="btn btn-lg-s btn-default-b link" ref-link="/cadastrar" id="btnComeceJa">COMECE JÁ</button></li>

            </div><!--active-->

          </div><!--price_block-->

        </div><!--col-md-4--> 

      </div><!--row-->

    </section>



    <section class="full-background full-background-mensagens pad-top-bottom">

      <div class="container text-center">

        <div class="row">

          <div class="col-md-6 text-center"></div>

          <div class="col-md-6 text-center"> 

            <button type="button" class="btn btn-lg btn-danger3 btn-buscar-home">
            
            <h4>Presenteie o Casal</h4>

            </button><br/><br/>

            <button type="button" class="btn btn-lg btn-default-g white-opacity btn-buscar-home">      
            
            <h4>Confirme sua Presença</h4>   

            </button>      

          </div><!--col-md-6-->

        </div><!--row-->

      </div><!--container-->
    <!-- # End / Contet Text #  -->
    </section>





