<section id="banner">
    
    <div class="container">
        

        <div class="row">
            

            <div class="col-md-12 ">

                <div class="text-center">

                    <div>
                        <h1>VIVA O AMOR, SEJA ELE COMO FOR</h1>
                        <h3>AMAR CASAR, O SITE DE CASAMENTO DE TODOS OS CASAIS</h3>
                        
                            <a href="/planos"><button type="button" class="btn banner-button">Criar meu Site</button></a>
                        
                    </div><!--inner-text-introduction-->

                </div><!--textIntroduction_-->

            </div><!--col-md-12-->

        </div>

    </div><!--container-->
    

</section>





  

   
   

<section id="features">

     <div class="container-fluid">

            
            <div class="row">

                <div class="col-md-12 text-center feature-title">
         
                    <h2>SITE DE CASAMENTO</h2>
          
                </div><!-- col-xs-12-->

            </div><!-- row-->

            


            <div class="row">

                


                <div class="col-md-3 text-center">

                    <div class="media">

                        <div class="text-center thumbnail-center"> 


                            <img src="/res/images/feature2.jpg" class="media-object">

                            <div class="media-body">

                                <h3 class="media-heading feature-box">LISTA DE CONVIDADOS</h3>
                       
                                <p>Organize e receba de forma prática e confortável as confirmações de presença</p>


                            </div>

                        </div>
                        

                    </div><!--media-->

                </div><!--col-lg-3-->




                <div class="col-md-3 text-center">

                    <div class="media">

                        <div class="text-center thumbnail-center"> 


                            <img src="/res/images/feature2.jpg" class="media-object">

                            <div class="media-body">

                                <h3 class="media-heading feature-box">LINDOS LAYOUTS</h3>
                       
                                <p>Encante seus convidados com um site de casamento elegante e atraente</p>

                            </div>

                        </div>
                        

                    </div><!--media-->

                </div><!--col-lg-3-->
        




                <div class="col-md-3 text-center">

                    <div class="media">

                        <div class="text-center thumbnail-center"> 


                            <img src="/res/images/feature3.jpg" class="media-object">

                            <div class="media-body">

                                <h3 class="media-heading feature-box">LISTA DE PRESENTES</h3>
                       
                                <p>Crie uma lista de presentes em dinheiro e divulgue as listas das suas lojas favoritas</p>

                            </div>

                        </div>
                        

                    </div><!--media-->

                </div><!--col-lg-3-->




                <div class="col-md-3 text-center">

                    <div class="media">

                        <div class="text-center thumbnail-center"> 


                            <img src="/res/images/feature4.jpg" class="media-object">

                            <div class="media-body">

                                <h3 class="media-heading feature-box">MURAL DE RECADOS</h3>
                       
                                <p>Receba mensagens de felicitações de seus familiares e amigos num mural</p>

                            </div>

                        </div>

                        
                    </div><!--media-->

                </div><!--col-lg-3-->
      
            </div><!--row-->
    
    </div><!--container-->

</section>






<section id="create-list" class="full-background pad-top-bottom">

    <div class="container">

        <div class="row">

            <div class="col-md-6 text-center">

                <p>
                    Crie sua Lista e receba seus presentes em dinheiro de maneira prática e fácil, com a moderna Lista de Presentes do Amar Casar.<br>
                    Comodidade para o casal, segurança e confiabilidade para os convidados
                </p>

            </div><!--col-->


            <div class="col-md-6 text-center"> 


                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <a href="/lista-presentes"><button type="button" class="btn banner-button">Lista de Presentes</button></a>

                    </div>

                </div>

                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <a href="/criar-site-de-casamento?plano=0"><button type="button" class="btn banner-button">Criar Lista</button></a>

                    </div>

                </div>

            </div><!--col-->

        </div><!--row-->

    </div><!--container-->

</section>





<section id="advantages" class="full-background pad-top-bottom">

    <div class="container">

        <div class="row">

            <div class="col-lg-12 text-center advantage-title">

                <h2>VANTAGENS</h2>

            </div><!--col-lg-12-->

        </div><!--row-->

        <div class="row">

            <div class="col-md-8">

                <h2>LAYOUT EXCLUSIVOS PARA</h2>

                <h2>QUEM QUER CASAR E AMAR</h2>

                <p>&nbsp;</p>

                <p> Seu site de casamento merece um design exclusivo Amar Casar. </p>

                <p>Escolha seu layout e personalize do seu jeito! </p>

                <p>&nbsp;</p>

                <button type="button" class="btn btn-md btn-advantage1">
                    Ver Layouts
                </button>

                <button type="button" class="btn btn-md btn-advantage2">
                    Ver Recursos
                </button>

                <h2>&nbsp;</h2>

            </div><!--col-md-8-->

            <div class="col-md-4 text-center">

                <div id="box-price">

                    <div id="box-price-logo">
                        <img src="/res/images/logo/logo-white.png">             
                    </div>


                    <ul id="advantages-features">

                        <li id="box-header">Tenha acesso a um sistema on-line que irá lhe auxiliar a divulgar seu casamento</li>

                        <li><img src="/res/images/red-arrow.png">&nbsp;&nbsp;Receba Presentes em Dinheiro</li>

                        <li><img src="/res/images/red-arrow.png">&nbsp;&nbsp;Confirmação de Presença on-line</li>      

                        <li><img src="/res/images/red-arrow.png">&nbsp;&nbsp;Layouts Modernos</li>

                        <li><img src="/res/images/red-arrow.png">&nbsp;&nbsp;Saques Gratuitos</li>

                        <li>&nbsp;&nbsp;<b>E muito mais!</b></li>

                    </ul>


                    <div id="box-footer">              

                        <a href="/planos"><strong>COMECE JÁ</strong></a>

                    </div><!--active-->

                </div><!--price_block-->

            </div><!--col-md-4--> 

        </div><!--row-->

</section>








<section id="confirmation" class="full-background pad-top-bottom">

    <div class="container text-center">

        <div class="row">

            <div class="col-md-6 text-center">
                
                <a href="/buscar"><button type="button" class="btn btn-lg confirmation-button1">

                    Presenteie o Casal

                </button></a>

            </div>

            <div class="col-md-6 text-center"> 

                

                <a href="/buscar"><button type="button" class="btn btn-lg confirmation-button2">      

                    Confirme sua Presença 

                </button></a>   

            </div><!--col-md-6-->

        </div><!--row-->

    </div><!--container-->
<!-- # End / Contet Text #  -->
</section>





