<section id="site-features">

    <div class="container">
        
        <div class="row site-features-title">
     
            <div class="col-md-12 text-center">
                
                <h2>
                    Recursos do Site de Casamento 
                </h2>
                
                <h4>
                    O Amar Casar é um dos sites de casamento mais lindos e atuais que existem.
                </h4>
                <h4>
                    Explore todos os recursos disponíveis: crie seu site em layouts elegantes, publique fotos num lindo album, faça uma lista de 
                    confirmação de presença on-line, crie uma lista na sua loja virtual para
                    receber os presentes em dinheiro, incorpore vídeos direto do YouTube e receba mensagens de carinho dos
                    seus familiares e amigos queridos em um lindo mural, entre outras funcionalidades!
                </h4>

                <h4>
                    Crie seu site grátis por 15 dias e avalie!
                </h4>

                <div class="site-features-button">
                    <a href="">
                        Comece Já!
                    </a>
                </div>
                

            </div><!--col-->
            
        </div><!--row-->



        <div class="row">
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features1.jpg" class="img-responsive img-center">
                <h3>Lista de Confirmação de Presença On-line</h3>
            </div>
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features2.jpg" class="img-responsive img-center">
                <h3>Modelos Exclusivos de Layouts</h3>
            </div>
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features3.jpg" class="img-responsive img-center">
                <h3>Presentes em dinheiro</h3>
            </div>
            
        </div>

        <div class="row">
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features4.jpg" class="img-responsive img-center">
                <h3>Mapas com a Possibilidade de Traçar Rotas</h3>
            </div>
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features5.jpg" class="img-responsive img-center">
                <h3>Página de História do Casal</h3>
            </div>
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features6.jpg" class="img-responsive img-center">
                <h3>Eventos (Chá-bar, Chá da Casa Nova, entre outros)</h3>
            </div>
            
        </div>


        <div class="row">
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features7.jpg" class="img-responsive img-center">
                <h3>Mural de Mensagens</h3>
            </div>
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features8.jpg" class="img-responsive img-center">
                <h3>Introdução Animada</h3>
            </div>
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features9.jpg" class="img-responsive img-center">
                <h3>Incorporação de seus Vídeos do YouTube direto no seu site</h3>
            </div>
            
        </div>


        <div class="row">
            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features10.jpg" class="img-responsive img-center">
                <h3>Página de Padrinhos e Madrinhas</h3>
            </div>            
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features11.jpg" class="img-responsive img-center">
                <h3>Contagem Regressiva</h3>
            </div>

            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features12.jpg" class="img-responsive img-center">
                <h3>Habilitar / Desabilitar Páginas</h3>
            </div>
            
        </div>


        <div class="row">
               
            <div class="col-md-4 features-details text-center">
            </div>
               
            <div class="col-md-4 features-details text-center">
                <img src="/res/site/images/features/features13.jpg">
                <h3>Lista de Presentes de suas Lojas favoritas</h3>
            </div>
            <!-- <div class="col-md-4 features-details text-center">
                <img src="<?php echo DIR_RESOURCES; ?>/images/ferramenta14.jpg" class="img-responsive img-center">
                <h3>Lista de casamento</h3>
            </div> -->
            <div class="col-md-4 features-details text-center">
            </div>
        </div>


        <div class="row">
            

            <div class="col-md-12 text-center">
            
                <div class="site-features-button">
                    <a href="">
                        Teste Grátis Por 15 Dias
                    </a>
                </div>

                <div class="site-features-button">
                    <a href="">
                        Modelos De Layouts
                    </a>
                </div>

            </div>


        </div>



    </div><!--container-->

</section>


   
  

   
    