

<div class="container">
        <div class="row pad-top-bottom-20px pad-top-bottom-la">          
          <img src="<?php echo DIR_RESOURCES; ?>/images/banner-modelo-layout-1920px_.png" class="img-responsive" alt="Placeholder image">                      
        </div>



        <div class="row">
        
            <div class="col-md-6 text-center img-center">
            
            <h2 style="color:#333; font-weight: 380;">Love Grid</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl1.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="1" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="1" class="btn-amarcasar5">Criar meu site com este Layout</button>
        
            </div>
         
            <div class="col-md-6 text-center">
            <h2 style="color:#333; font-weight: 380;">Freedom</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl2.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="2" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="2" class="btn-amarcasar5">Criar meu site com este Layout</button>
            </div>                     
        </div>
    </div>

    <div class="container top-pad-40">
        <div class="row">
        
            <div class="col-md-6 text-center">
            
            <h2 style="color:#333; font-weight: 380;">Kings and Queens</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl3.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="3" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="3" class="btn-amarcasar5">Criar meu site com este Layout</button>
        
            </div>
        
          <div class="col-md-6 text-center">
            <h2 style="color:#333; font-weight: 380;">Lovers</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl4.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="4" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="4" class="btn-amarcasar5">Criar meu site com este Layout</button>
            </div>
          
            
        </div>
    </div>
    <div class="container top-pad-40">
        <div class="row">
        
            <div class="col-md-6 text-center">
            
            <h2 style="color:#333; font-weight: 380;">Rainbow</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl5.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="5" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="5" class="btn-amarcasar5">Criar meu site com este Layout</button>
        
            </div>
           
          <div class="col-md-6 text-center">
            <h2 style="color:#333; font-weight: 380;">Hot</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl6.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="6" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="6" class="btn-amarcasar5">Criar meu site com este Layout</button>
            </div>
         
            
        </div>
    </div>

    <div class="container top-pad-40">
        <div class="row">
        
            <div class="col-md-6 text-center">
            
            <h2 style="color:#333; font-weight: 380;">Gold</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl7.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="7" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="7" class="btn-amarcasar5">Criar meu site com este Layout</button>
            </div>
           
          <div class="col-md-6 text-center">
            <h2 style="color:#333; font-weight: 380;">Classic</h2>
            <img src="<?php echo DIR_RESOURCES; ?>/images/tpl8.png" alt="Placeholder image" width="500" height="450" class="img-responsive img-center modelos-layouts">
            <br><button type="button" ref="8" class="btn-amarcasar4">Ver Layout</button><br><button type="button" ref="8" class="btn-amarcasar5">Criar meu site com este Layout</button>
            </div>
         
            
        </div>
    </div>

       