<style>

blockquote {border: none;}

</style>






<div>    

<div>    

<h1>Termos e Condições da Lista de Presentes Virtuais</h1> 

<a href="javascript:print();">

<img src="/res/site/images/print.png" alt="Imprimir">

</a>

</div>



<ul class="">



<li><div><div>

<p
>O seguinte documento estabelece os  direitos e obrigações entre o site Amar Casar, e as pessoas físicas que  aderirem aos 
Termos e Condições da Lista de Presentes Virtuais, doravante  denominadas CASAL.<br /><br />

Ao marcar a opção &ldquo;Estou de acordo com  os Termos e Condições da Lista de Presentes Virtuais&rdquo; o CASAL aceita que 
este  rege seus direitos e obrigações a respeito do uso da Lista de Presentes  Virtuais do Amar Casar.<br /><br />

O CASAL também declara que, ao  utilizar a Lista de Presentes Virtuais, respeitará as condições expostas nos  Termos de Uso e 
na Política de Privacidade do Amar Casar, os quais podem ser  acessados pelos seguintes links:<br /><br />

<ul>

<a href="termos-uso" target="_blank"><li>Termos de Uso</li></a>

<a href="politica-privacidade" target="_blank"><li>Política de Privacidade</li></a>

</ul><br />

Considerando que o CASAL possui amigos  e familiares, doravante denominados CONVIDADOS, que visitarão seu site de  casamento 
Amar Casar com o intuito de presenteá-los com itens da Lista de  Presentes Virtuais, temos:</p><br>

</div>

</div>

</li>



<li> <div>

<p><b>1. TERMINOLOGIA</b></p>

<div>

<blockquote>

<p>1.1. Para fins do presente Termo, consideram-se  valores brutos aqueles recebidos na compra dos presentes virtuais por 
  parte dos  CONVIDADOS;<br /><br />
1.
2. Valores líquidos são os valores brutos  descontados das tarifas bancárias e da taxa administrativa do Amar Casar,  
disponibilizados para transferência para a conta bancária do CASAL.</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>2. DA CONFIRMAÇÃO DAS TRANSAÇÕES</b></p>

<div>

<blockquote>

<p>2.1.	Consideram-se transações confirmadas quando:

<blockquote>A) Da compensação do pagamento, em até 4 dias úteis, quando realizado por Boleto Bancário;<br />

B) Da aprovação do pagamento, em até 2 dias corridos, quando realizado por Cartão de Crédito.

</blockquote>

</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>4. TARIFAS E FORMAS DE PAGAMENTO</b></p>

<div>

<blockquote>

<p>4.1.	O pagamento pode ser feito por:

<blockquote>A)	 Boleto Bancário;<br />

B)	Cartão de Crédito à vista ou parcelado;</blockquote>

4.2.	Será cobrada uma tarifa de 4,99%, por transação confirmada, correspondente a:

<blockquote>A)	Tarifa bancária de 4,29%;<br />

B)	Taxa administrativa de 0,70%, cobrada pelo Amar Casar;</blockquote>

4.3.	O CASAL poderá escolher quem arcará com a tarifa de 4,99% citada: ele próprio ou os CONVIDADOS;<br /><br />

4.4.	A emissão do boleto bancário é gratuita;<br /><br />

4.5.	Os CONVIDADOS arcarão com os encargos da compra com cartão de crédito parcelado, necessários para liquidar o valor do 
presente junto à operadora do seu cartão.</p><br /><br />

<p><strong>Quadro  1 – Tarifas Amar Casar</strong></p>

<table>

<tr>

<td><p><strong>Forma de Pagamento</strong></p></td>

<td><p><strong>Taxa Administrativa Amar Casar</strong></p></td>

<td><p><strong>Tarifa Bancária</strong></p></td>

<td><p><strong>Tarifa Total por Transação Confirmada</strong></p></td>

</tr>

<tr>

<td><p>Boleto Bancário e Cartão de Crédito à vista ou parcelado</p></td>

<td><p>0,70%</p></td>

<td><p>4,29%</p></td>

<td><p>4,99%</p></td>

</tr>

</table>

<br /><br /><br />

<p><strong>Quadro 2 – Bandeiras Aceitas</strong></p>

<table>

<tr>

<td><p><strong>Forma de Pagamento</strong></p></td>

<td><p><strong>Bandeira</strong></p></td>

</tr>

<tr>
<td><p>Cartão de Crédito</p></td>
<td><p>Visa, Mastercard, Hipercard, Elo, American Express e Dinners    Club</p></td>


</tr>

<tr>

<td><p>Boleto Bancário</p></td>

<td><p>Banco Bradesco</p></td>

</tr>

</table>



<p><br /></p>



</blockquote>

</div>

</div>	

</li>



<li> <div>

<p><b>5. CONTA BANCÁRIA DO CASAL</b></p>

<div>

<blockquote>

<p>5.1.	O Amar Casar somente disponibilizará os valores através de transferência para uma conta-corrente ou conta-poupança 
  cujo primeiro titular seja um dos cônjuges do CASAL. Doravante, quando citarmos “conta bancária”, estaremos aludindo a 
  estes dois tipos de conta;<br /><br />
5.
2.	O Amar Casar fará a transferência dos valores líquidos somente para contas bancárias pertencentes a instituições 
localizadas em território brasileiro e que estejam listadas no Quadro 3, abaixo:</p><br><br />



<p><strong>Quadro 3 –  Lista de instituições bancárias aceitas</strong></p>



<table> 

<tr>

<td><p><strong>INSTITUIÇÃO BANCÁRIA</strong></p></td>

<td><p><strong>COD</strong></p></td>

</tr>

<tr>

<td><p>Banco ABN AMRO Real S.A.</p></td>

<td><p>356</p></td>

</tr>

<tr>

<td><p>Banco Acomercial e de Investimento Sudameris S.A. (SUDAMERIS)</p>
</td>

<td><p>215</p></td>

</tr>

<tr>

<td><p>Banco Alfa S.A.</p></td>

<td><p>025</p></td>

</tr>

<tr>

<td><p>Banco BBM S.A.</p></td>

<td><p>107</p></td>

</tr>

<tr>

<td><p>Banco BMG S.A.</p></td>

<td><p>318</p></td>

</tr>

<tr>

<td><p>Banco Bradesco S.A.</p></td>

<td><p>237</p></td>

</tr>

<tr>

<td><p>Banco Cacique S.A.</p></td>

<td><p>263</p></td>

</tr>

<tr>

<td><p>Banco Citibank S.A.</p></td>

<td><p>745</p></td>

</tr>

<tr>

<td><p>Banco Cooperativo do Brasil S.A. (BANCOOB)</p></td>

<td><p>756</p></td>

</tr>

<tr>

<td><p>Banco Cooperativo Sicredi S.A.</p></td>

<td><p>748</p></td>

</tr>

<tr>

<td><p>Banco Cruzeiro do Sul S.A.</p></td>

<td><p>229</p></td>

</tr>

<tr>

<td><p>Banco da Amazônia S.A.</p></td>

<td><p>003</p></td>

</tr>

<tr>

<td><p>Banco de Brasília S.A. (BRB)</p></td>

<td><p>070</p></td>

</tr>

<tr>

<td><p>Banco do Brasil S.A.</p></td>

<td><p>001</p></td>

</tr>

<tr>
<td><p>Banco do Estado de Santa Catarina S.A.</p></td>

<td><p>027</p></td>

</tr>

<tr>

<td><p>Banco do Estado de Sergipe S.A. (BANESE)</p></td>

<td><p>047</p></td>

</tr>

<tr>

<td><p>Banco do Estado do Espírito Santo S.A. (BANESTES)</p></td>

<td><p>021</p></td>

</tr>

<tr>

<td><p>Banco do Estado do Pará S.A. (BANPARA)</p></td>

<td><p>037</p></td>

</tr>

<tr>

<td><p>Banco do Estado do Rio Grande do Sul S.A. (BANRISUL)</p></td>

<td><p>041</p></td>

</tr>

<tr>

<td><p>Banco do Nordeste do Brasil S.A. (BNB)</p></td>

<td><p>004</p></td>

</tr>

<tr>

<td><p>Banco Fininvest S.A.</p></td>

<td><p>252</p></td>

</tr>

<tr>

<td><p>Banco IBI S.A. - Banco Múltiplo</p></td>

<td><p>063</p></td>

</tr>

<tr> 

<td><p>Banco Intermedium S.A.</p></td>

<td><p>077</p></td>

</tr>

<tr>

<td><p>Banco Internacional do Funchal S.A. (BANIF)</p></td>

<td><p>719</p></td>

</tr>

<tr>

<td><p>Banco Itaú S.A.</p></td>

<td><p>341</p></td>

</tr>

<tr>

<td><p>Banco Itaubank S.A.</p></td>

<td><p>479</p></td>

</tr>

<tr>

<td><p>Banco Mercantil do Brasil S.A.</p></td>

<td><p>389</p></td>

</tr>

<tr>

<td><p>Banco Nossa Caixa S.A</p></td>

<td><p>151</p></td>

</tr>

<tr>

<td><p>Banco Original S.A.</p></td>

<td><p>212</p></td>

</tr>

<tr>

<td><p>Banco Panamericano S.A.</p></td>

<td><p>623</p></td>

</tr>

<tr>

<td><p>Banco Rendimento S.A.</p></td>

<td><p>633</p></td>

</tr>

<tr>

<td><p>Banco Safra S.A.</p></td>

<td><p>422</p></td>

</tr>

<tr>

<td><p>Banco Santander S.A. (SANTANDER BANESPA)</p></td>

<td><p>033</p></td>

</tr>

<tr>

<td><p>Banco Simples S.A.</p></td>

<td><p>749</p></td>

</tr>

<tr>

<td><p>Banco UBS Pactual S.A.</p></td>

<td><p>208</p></td>

</tr>

<tr>

<td><p>Banco Votorantim S.A.</p></td>

<td><p>655</p></td>

</tr>

<tr>

<td><p>BPN Brasil S.A. - Banco Múltiplo</p></td>

<td><p>069</p></td>

</tr>

<tr>

<td><p>Caixa Econômica Federal</p></td>

<td><p>104</p></td>

</tr>

<tr>

<td><p>Confederação Nacional das Cooperativas Centrais Unicredis</p></td>

<td><p>136</p></td>

</tr>

<tr>

<td><p>Cooperativa Central de Crédito Urbano (CECRED)</p></td>

<td><p>085</p></td>

</tr>

<tr>

<td><p>HSBC Bank Brasil S.A. - Banco Múltiplo</p></td>

<td><p>399</p></td>

</tr>

<tr>

<td><p>Lemon Bank S.A. – Banco Múltiplo</p></td>

<td><p>065</p></td>

</tr>

<tr>

<td><p>União de Bancos Brasileiros S.A. (UNIBANCO)</p></td>

<td><p>409</p></td>

</tr>

</table><br /><br /><br />



<p>5.3.	O CASAL deve informar, no Painel de Controle dentro do Amar Casar, o CPF do cônjuge que possui a primeira 
  titularidade da conta bancária e preencher corretamente os dados requisitados;<br /><br />
5.
4.	Se o CASAL quiser receber os valores em outra conta bancária, desde que esta pertença à uma das instituições bancárias 
listadas no Quadro 3 e a primeira titularidade seja de um dos cônjuges, ele deverá reconfigurar seus dados no Painel de 
Controle, incluindo o número da conta e o CPF do cônjuge titular, e salvar as informações antes de efetuar a transferência;<br
 /><br />

5.5.	O CASAL não deve usar a Lista de Presentes Virtuais do Amar Casar se um dos cônjuges não for o primeiro titular de uma 
conta bancária válida e apta a receber valores; caso em que o CASAL deverá, antes de utilizar a Lista de Presentes Virtuais:

<blockquote>A)	Abrir uma conta em alguma instituições bancária localizada em território brasileiro e que esteja listada no 
  Quadro 3;<br />
B)
	Regularizar sua situação junto à sua instituição, desde que esta esteja localizada em território brasileiro e listada no 
Quadro 3.</blockquote>

</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>6. DA ANÁLISE DAS TRANSAÇÕES</b></p>

<div>

<blockquote>

<p>6.1.	O Amar Casar realizará a apuração de fraudes e a análise de risco das transações envolvendo a Lista de Presentes 
  Virtuais do CASAL;<br /><br />
6.
2.	Em transações consideradas de alto risco o Amar Casar poderá contatar o CONVIDADO responsável, a fim de validar seus 
dados e informações;<br /><br />

6.3.	Caso a transação não seja aprovada, a compra do item será cancelada e o CASAL não receberá o valor do presente virtual.
</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>7. DOS VALORES RECEBIDOS</b></p>

<div>

<blockquote>

<p>7.1.	O Amar Casar é responsável pelo processamento dos valores recebidos provenientes da Lista de Presentes Virtuais;<br />
  <br />
7.
2.	Os valores recebidos pelo CASAL não sofrerão qualquer tipo de acréscimo ou alteração, tais como atualização monetária e 
juros, independentemente do período durante o qual permanecerem disponibilizados pelo Amar Casar antes de serem transferidos 
para a conta bancária do Casal;<br /><br />

7.3.	O Amar Casar não disponibiliza uma opção para imprimir o extrato com os valores líquidos recebidos, porém, se desejar, 
o CASAL tem a opção de copiar as telas com a tecla “print screen” de seu teclado e imprimí-las.</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>8. TRANSFERÊNCIA DOS VALORES LÍQUIDOS PELO CASAL</b></p>

<div>

<blockquote>

<p>8.1.	Os valores líquidos ficarão disponíveis para transferência para conta bancária indicada pelo CASAL em:

<blockquote>A)	2 dias corridos, após a confirmação da transação, quando do pagamento por Boleto Bancário;<br />

B)	14 dias corridos, após a confirmação da transação, quando do pagamento por Cartão de Crédito à vista ou parcelado;</
blockquote>

8.2.	Mesmo que o CONVIDADO opte por pagar com cartão de crédito parcelado, o valor líquido integral do presente é 
disponibilizado para o CASAL após 14 dias;<br /><br />

8.3.	A transferência dos valores líquidos para a conta bancária indicada pelo CASAL somente ocorrerá mediante solicitação do 
CASAL no Painel de Controle dentro do Amar Casar;<br /><br />

8.4.	As transferências para a conta bancária do CASAL são gratuitas e ilimitadas;<br /><br />

8.5.	Se após a confirmação, pela operadora do cartão, do pagamento do presente feito pelo CONVIDADO, o mesmo cancelar a 
transação do cartão junto à operadora e o CASAL já houver transferido os valores líquidos para sua conta bancária, este será 
informado sobre o referido cancelamento e deverá devolver ao Amar Casar o valor líquido recebido pelo presente virtual, 
arcando com as despesas bancárias necessárias para realizar a devolução, caso estas existam;<br /><br />

8.6.	O Amar Casar viabilizará os valores líquidos para transferência para a conta bancária do CASAL no prazo de 14 dias 
corridos se, até o momento do fim do período contratado:

<blockquote>A)	Os valores líquidos recebidos ainda não tiverem cumprido o prazo necessário para serem disponibilizados para 
  transferência;<br />
B)
	O CASAL, por qualquer motivo, não tiver efetuado a transferência dos valores líquidos para sua conta bancária.</blockquote>
</p><br />

<p><strong>Quadro 4 –  Prazo para Disponibilização dos Valores Líquidos para Transferência</strong></p>

<table>

<tr>

<td><p><strong>Forma de Pagamento</strong></p></td>

<td><p><strong>Disponibilização após a confirmação do pagamento</strong></p></td>

</tr>

<tr>

<td><p>Boleto Bancário</p></td>

<td><p>2 dias corridos</p></td>

</tr>

<tr>

<td><p>Cartão de Crédito à vista ou parcelado</p></td>

<td><p>14 dias corridos</p></td>

</tr>

</table>

<br /><br /><br />

<p><strong>Quadro 5 –  Transferência para conta bancária do Casal</strong></p>

<table>

<tr>

<td><p><strong>Forma de Pagamento</strong></p></td>

<td><p><strong>Valor</strong></p></td>

<td><p><strong>Transferência para Conta</strong></p></td>

</tr>

<tr>

<td><p>Boleto Bancário</p></td>

<td><p>Gratuita</p></td>

<td><p>Em até 4 dias corridos</p></td>

</tr>

<tr>

<td><p>Cartão de Crédito à vista ou parcelado</p></td>

<td><p>Gratuita</p></td>


<td><p>Em até 4 dias corridos</p></td>

</tr>

</table><br /><br />

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>9. DEVERES E OBRIGAÇÕES</b></p>

<div>

<blockquote>

<p>9.1.	São responsabilidades do CASAL:

<blockquote>

<p>A)	Fornecer as informações pessoais e os dados bancários no Painel de Controle dentro do Amar Casar, de forma precisa e 
correta;</p>

<p>B)	Responsabilizar-se pela veracidade das informações prestadas, obrigando-se a efetuar alterações quando necessário;</p>

<p>C)	Manter seus dados atualizados;</p>

<p>D)	Responsabilizar-se pela criação, guarda e manutenção da senha de acesso à sua conta de usuário dentro do Amar Casar, 
não a divulgando ou repassando a terceiros sob qualquer hipótese;</p>

<p>E)	Realizar as solicitações de transferência, quando desejar receber os valores líquidos dos Presentes Virtuais em sua 
conta bancária;</p>

<p>F)	Responsabilizar-se pela apresentação da declaração de renda, caso os valores líquidos recebidos ultrapassem o limite 
anual permitido pela Receita Federal para pessoas físicas;</p>

<p>G)	Não utilizar os serviços do Amar Casar para fraudes e atos ilícitos;</p>

</blockquote>

9.2.	São responsabilidades do Amar Casar:

<blockquote>

<p>A)	Arrecadar os valores brutos dos Presentes Virtuais pagos pelos CONVIDADOS, descontar a taxa administrativa e as tarifas 
bancárias, disponibilizar os valores líquidos arrecadados para transferência, fazer a conciliação destes valores e manter 
informações detalhadas destas transações em um extrato no Painel de Controle do CASAL dentro do Amar Casar;</p>

<p>B)	Realizar automaticamente a viabilização dos valores líquidos dos presentes virtuais para transferência para a conta 
bancária do CASAL, quando este solicitar;</p>

<p>C)	Manter as informações e os dados cadastrais do CASAL em sigilo, exceto quando as autoridades públicas competentes as 
solicitarem formalmente;</p>

<p>D)	Efetuar a arrecadação dos impostos sobre os valores relativos à taxa administrativa cobrada pelo Amar Casar;</p>

<p>E)	Efetuar a apresentação anual das declarações de renda junto à Receita Federal;</p>

</blockquote>

9.3.	Ao Amar Casar se reserva o direito de utilizar todos os meios válidos e possíveis para identificar o CASAL, a fim de 
cumprir, entre outros, ao disposto na Lei Federal 9.613, de 3 de março de 1998 (“Lei da Lavagem de Dinheiro”), assim como na 
Lei Federal 12.846, de 1º de agosto de 2013 (“Lei Anti-corrupção”);<br /><br />

9.4.	O Amar Casar poderá solicitar informações adicionais e requisitar ao CASAL enviar, através da área de “Upload” de seu 
Painel de Controle, cópias digitais legíveis de documentos que estime serem pertinentes, a fim de conferir suas informações 
pessoais;<br /><br />

9.5.	Caso o Amar Casar constate haver dados incorretos ou inverídicos, ou ainda, caso o CASAL se furte ou se negue a enviar 
os documentos requeridos, o Amar Casar poderá excluir a Lista de Presentes Virtuais do CASAL e desativar seu acesso ao site 
Amar Casar, sem prejuízo de outras medidas que entender necessárias e oportunas,	 caso em que a transferência gratuita dos 
valores líquidos que porventura tenham sido arrecadados será viabilizada para o CASAL no prazo de 14 dias corridos.</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>10. TÉRMINO DO PRESENTE TERMO</b></p>


<div>

<blockquote>

<p>10.1.	A duração do presente Termo está condicionada à duração do período pelo qual o uso do site foi contratado, 
  incluindo os meses gratuitos que porventura tenham sido adquiridos por efeito de campanha promocional no momento da 
  contratação;<br /><br />
10
.2.	Fica facultada a qualquer das partes encerrar o presente Termo, a qualquer tempo e a seu exclusivo critério;<br /><br />

10.3.	Para encerrar sua conta de usuário, o CASAL deverá:

<blockquote>A)	Realizar a transferência dos valores líquidos recebidos para sua conta bancária antes de encerrar sua conta;<
  br />
B)
	Clicar na opção “Encerrar conta de usuário” no seu Painel de Controle do Amar Casar;<br />

C)	Se o CASAL, por qualquer motivo, não realizar a transferência dos valores líquidos para sua conta bancária antes de 
encerrar sua conta de usuário, o Amar Casar a viabilizará para o mesmo em até 14 dias corridos;</blockquote>

10.4.	O Amar Casar poderá encerrar a conta do CASAL, a qualquer momento, independentemente de interpelação judicial ou 
extrajudicial, quando o CASAL desobedecer ou ignorar requisições para prestar informações ou desrespeitar qualquer outra 
obrigação e cláusula do presente Termo;<br /><br />

10.5.	Com o encerramento da conta, a Lista de Presentes Virtuais será desativada e o acesso ao Painel de Controle e ao site 
Amar Casar bloqueado; caso em que o Amar Casar viabilizará a transferência dos valores para a conta bancária do CASAL no 
prazo de 14 dias corridos.</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>11. DISPOSIÇÕES GERAIS</b></p>

<div>

<blockquote>

<p>11.1.	Os valores de cada transação dependem das tarifas cobradas pelos bancos e intermediadores de pagamento;<br /><br />

11.2.	Caso haja modificação nestes valores, o Amar Casar alertará o CASAL mediante um comunicado em seu Painel de Controle e 
pelo envio de e-mails;<br /><br />

11.3.	A prestação dos serviços, de acordo com o presente Termo, não estabelecerá qualquer relação, vínculo empregatício, 
previdenciário, tributário ou fiscal entre o CASAL e o Amar Casar, ou entre os seus empregados, colaboradores e prestadores 
de serviço;<br /><br />

11.4.	Nenhuma das partes poderá ceder ou de qualquer forma transferir para terceiros os direitos e obrigações aqui previstas;<
br /><br />

11.5.	As imagens utilizadas na Lista de Presentes Virtuais são meramente ilustrativas e têm o propósito único e exclusivo de 
auxiliar os CONVIDADOS na escolha do valor a ser presenteado, sendo igualmente certo de que se trata de disponibilização de 
valores, não envolvendo a aquisição do produto representado;<br /><br />

11.6.	O CASAL se compromete a agir de acordo com a lei, e declara que estão cientes de que os serviços prestados pelo Amar 
Casar não devem ser utilizados para fraudes e atos ilícitos, sob pena de imediato encerramento do presente Termo e do seu 
acesso a todos os serviços do site.</p>

</blockquote>

</div>

</div>

</li>



<li> <div>

<p><b>12. FORO</b></p>

<div>

<blockquote>

<p>12.1.	As partes elegem o foro da Comarca da cidade de Belo Horizonte/MG, para dirimir quaisquer dúvidas oriundas da 
efetivação do presente Termo, com exclusão de qualquer outro, por mais privilegiado que seja; regendo-se pela legislação em 
vigor todos os casos não previstos no presente instrumento.</p>

</blockquote>

</div>

</div>

</li> 



</ul>

</div>

