<footer class="text-center">

    <div class="container-fluid">

        <div id="footer-first-row" class="row">



            <div class="col-md-4 footer-column text-left">


                <div style="font-family: 'KaushanScript'" class="caption">
                    <h1>{function="getNames()"}</h1>
                </div>

                <div class="caption">

                    &nbsp;

                </div><!--caption-->


                
                

            </div><!--col-lg-6-->





        





            <div class="col-md-4 footer-column text-left">


                <div class="caption">

                    <h2>Páginas</h2>

                    <a href="/{function="getDesdomain()"}" class="list-group-item list-group-item-action">Home</a>

                    {if="setTemplateMenu('wedding')"}<a href="/{function="getDesdomain()"}/cerimonia" class="list-group-item list-group-item-action">Cerimônia</a>{/if}

                    {if="setTemplateMenu('party')"}<a href="/{function="getDesdomain()"}/festa" class="list-group-item list-group-item-action">Festa</a>{/if}


                    {if="setTemplateMenu('bestfriend')"}<a href="/{function="getDesdomain()"}/padrinhos-madrinhas" class="list-group-item list-group-item-action">Padrinhos e Madrinhas</a>{/if}


                    {if="setTemplateMenu('rsvp')"}<a href="/{function="getDesdomain()"}/rsvp" class="list-group-item list-group-item-action">RSVP</a>{/if}


                    {if="setTemplateMenu('message')"}<a href="/{function="getDesdomain()"}/mural-mensagens" class="list-group-item list-group-item-action">Mensagens</a>{/if}


                    {if="setTemplateMenu('store')"}<a href="/{function="getDesdomain()"}/loja" class="list-group-item list-group-item-action">Loja</a>{/if}

                    

                    {if="setTemplateMenu('event')"}<a href="/{function="getDesdomain()"}/eventos" class="list-group-item list-group-item-action">Eventos</a>{/if}
                    
                    

                    {if="setTemplateMenu('album')"}<a href="/{function="getDesdomain()"}/album" class="list-group-item list-group-item-action">Album</a>{/if}
                    
                    

                    {if="setTemplateMenu('video')"}<a href="/{function="getDesdomain()"}/videos" class="list-group-item list-group-item-action">Vídeos</a>  {/if}

                     

                    {if="setTemplateMenu('stakeholder')"}<a href="/{function="getDesdomain()"}/fornecedores" class="list-group-item list-group-item-action">Fornecedores</a> {/if}
                    
                      

                    {if="setTemplateMenu('outerlist')"}<a href="/{function="getDesdomain()"}/listas-de-fora" class="list-group-item list-group-item-action">Listas de Fora</a>{/if}
                    

                </div><!--caption-->                


            </div><!--col-md-3-->







            <div class="col-md-4 footer-column text-left">

            

                 <div class="caption">

                    <h2>Redes Sociais</h2>

                    <!-- <div class="col-xs-4 text-center"> <a href="#"><img src="<?php echo DIR_RESOURCES; ?>/images/twitter64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></a></div> -->


                    <ul class="list-unstyled list-group list-group-horizontal">

                        <li class="list-group-item"><a href="https://www.facebook.com/amarcasaroficial/"> <img src="/res/images/facebook64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></a></li>                
                        <li class="list-group-item"><a href="https://www.instagram.com/amarcasaroficial"><img src="/res/images/instagram64.png" alt="Placeholder image" width="86" height="86" class="img-responsive"></a></li>                
           
                    </ul>


                </div><!--caption-->



               





            </div><!--col-md-3-->




    </div><!--row-->


















    <div class="row">

        <div class="col-md-12 bottom-footer">

            <div class="caption">

                <p>{function="getNames()"} © {function="getYear()"}<br><a href="termos-uso">Termos de Uso</a> | <a href="termos-lista">Termos da Lista de Presentes Virtuais</a> | <a href="politica-privacidade">Política de Privacidade</a> | <a href="/contato">Dúvidas e Suporte</a></p>

            <h6><img src="/res/images/protected.png" alt=""/>&nbsp;&nbsp;Site Protegido</h6>

            </div><!--caption-->

        </div><!--col-xs-12-->

    </div><!--row-->










    <!-- Modal -->
    <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Adquira seu plano já!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Para ter acesso a estas e outras funcionalidades, é preciso adquirir um plano
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <a href="/dashboard/meu-plano" role="button" class="btn btn-secondary popover-test" title="Título do popover" data-content="O conteúdo do popover é definido aqui.">Comprar já!</a>
          </div>
        </div>
      </div>
    </div>







    </div><!--container-->

</footer>
   
    <!-- <script src="https://code.jquery.com/jquery.min.js"></script> -->
    
    <script src="/res/js/jquery-3.4.1.min.js"></script>
    <script src="/res/js/jquery-ui.min.js"></script>
    <script src="/res/js/jquery.easing.1.3.min.js"></script>


    <script src="/res/js/jscolor.js"></script>


    <!-- Biblioteca Handlebars tem que vir depois do JQuery -->
    <script src="/res/js/handlebars-v4.0.10.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="/res/js/bootstrap.bundle.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    


    
    <!-- jQuery sticky menu -->
    <script src="/res/js/owl.carousel.min.js"></script>
    <script src="/res/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    
    <!-- Main Script -->
    <script src="/res/js/main.js"></script>
    
    <!-- Slider -->
    <script type="text/javascript" src="/res/js/bxslider.min.js"></script>
	<script type="text/javascript" src="/res/js/script.slider.js"></script>


   




  </body>
</html>