<section>
		
    <div id="row">
            
        <div class="container">
            
            <div class="row">

                <div class="col-md-12 text-center">
                    <h1>{$user.desperson} & {$user.desconsortname}
                    </h1>
                    <h2>{$user.dtwedding}</h2>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 text-center">
                    <h1>Local do Casamento
                    </h1>
                    <h2>{$user.desweddinglocation}</h2>
                    <p>{$user.desweddingdescription}</p>
                </div>

                <div class="col-md-6 text-center">
                    <h1>Data do Casamento
                    </h1>
                    <h2>{$user.dtwedding}</h2>
                    <p>{function="getDateDiff($user.dtwedding)"}</p>
                </div>

            </div>
            
        </div>

    </div>

    
   