<section>
		
    <div id="row">
            
        <div class="container">
            
            <div class="row">

                <div class="col-md-12 text-center">
                    <h1>{$user.desperson} & {$user.desconsortname}
                    </h1>
                    <h2>{$user.dtwedding}</h2>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 text-center">
                    <h1>Local do Casamento
                    </h1>
                    <h2>{$user.desweddinglocation}</h2>
                    <p>{$user.desweddingdescription}</p>
                </div>

                <div class="col-md-6 text-center">
                    <h1>Data do Casamento
                    </h1>
                    <h2>{$user.dtwedding}</h2>
                    <p>{function="getDateDiff($user.dtwedding)"}</p>
                </div>

            </div>



                    
                    {if=" $user.desphoto_1 !== '0.jpg'"}
                    <div class="row">

                        <div class="col-md-6 text-center">

                            <img src="/uploads/images/{$user.desphoto_1}" alt="">
                        </div>

                        <div class="col-md-6 text-center">
                            <h2 style="color:green">{$user.desdescription}</h2>
                            
                        </div>
                        
                    </div>
                    {else}

                    <div class="col-md-12 text-center">
                            <h2>{$user.desconsortname}</h2>
                        
                    </div>
                    {/if}

                


            </div>

            
        </div>

    </div>

    
   