@media only screen and (max-width: 1844px) {



header .container-fluid{
	width: 100%;
}

header #logotipo {
	display: none;;
}
header
{
	height: 50px;
	position: fixed;
	box-shadow: none;

}
#header-device
{
	display:none;
}

#header-mobile{
	display: block;
	width: 100%;
}

#btn-bars, #btn-search {
	color: #f2f2f2;
    position: relative;
    padding: 10px;
	background: none;
	border: none;
	display: block;
}

#btn-bars {
	left: 4px;
}
#btn-search {
	right: 4px;
}

header #menu-condensed
{
	height: 50px;
	display: block;
	position: fixed;
	width: 100%;
	z-index: 10;
	top:0;
	left: 0;
}

header #menu-mobile ul{
	padding: 1%;
	list-style: none;
}


header #menu-condensed i
{
	font-size: 30px;
	color: #dd716f99;

}


header 	#menu-condensed {
	background-color: #fff;
	height: 60px;

}

.banner-button {
    font-size: 24px;
    
}


header #menu-mobile {
	display: block;
	transition: 0.5s;
	position: fixed;
	background-color: #fff;
	width: 40%;
	height: 100%;
	left:-70%;
	z-index: 5;
	top: 0;
}

header #menu-condensed li a {
	width: 32px;
	height: 32px;
	display: block;
}
header #input-search-mobile {
	transition: 1s;
	position: fixed;
	width: 40%;
	left: 36%;
	background-color: #f5e51b;
	border: none;
	height: 40px;
	color: #000;
	outline: 0;
	font-size: 16px;
}

header.open-search #input-search-mobile {
	top: 0;
}

#header-mobile.open-menu #menu-mobile {
	left: 0;
}

#header-mobile.open-menu #menu-mobile-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 4;
	transition: 0.5s;
}

header #menu-mobile ul {
	margin: 20px;
	margin-top: 60px;	
}
header #menu-mobile li {
	text-align: center;
	border-top: #ccc 1px solid;
}
header #menu-mobile li:last-child {
	border-bottom: #ccc 1px solid;
}
header #menu-mobile li a {
	color: #11171D;
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 14px;
	padding: 18px;
	display: block;
	text-decoration: none;
}
header .bar-close {
	position: relative;
    margin-top: 20%;
	background-color: #ddd;
	width: 100%;
}
header .bar-close .btn-close {
	background:none;
	border: none;
	color: #dd716f;
	font-size: 22px;
}
header.open-search #logotipo {
	z-index: 9;
}



#footer-logo{
		width: 100%;
	}



#features .media h3{
	font-size: 1.2rem;
}

#box-price-logo img{
	width: 100%;
}


#footer-first-row .caption h2 {
    font-size: 1.6rem;
}

#footer-first-row .caption p {
    font-size: 1rem;
}

footer .bottom-footer p {
    font-size: 16px;
}
#footer-first-row .caption {
    margin: 0 1% 34% 1%;
}
#features .media img {
    width: 80%;
}

footer .bottom-footer h6 {
    font-size: 14px;
}

#features .media p {

    font-size: 18px;
}




}/*breakpoint*/













@media only screen and (max-width: 1000px){
#footer-first-row .caption h2 {
    font-size: 1.2rem;
}
#footer-first-row .caption p {
    font-size: 0.8rem;
}

#about-image img{

    width: 100%;

}





/********************************* SITE FEATURES *****************************************/
#site-features h3{
	font-size: 1.2rem;
}
#site-features .site-features-button {
    margin: 15% 0;
}
.site-features-title h4 {
    margin-bottom: 10%;
    font-size: 1.2rem;
}





/********************************* SITE FEATURES *****************************************/


#plans-table tr td:first-child {
    width: 30%;
}

#plans-table tr td:first-child {
    font-size: 0.7rem;
}

.plan {
	font-size: 1rem;
}
#plans .plan .pricing .price{
	font-size: 3rem;
}
#plans .price-box-hidden{
	display: none;
}



}/*breakpoint*/
















/*Tamanho padrão para tablets*/
@media only screen and (max-width: 797px) {

	header
	{
		height: 50px;
		position: fixed;
		box-shadow: none;

	}



	header #menu-mobile {
		width: 70%;
	}



	header #menu-condensed
	{
		height: 50px;
		display: block;
		position: fixed;
		width: 100%;
		z-index: 10;
		top:0;
		left: 0;
	}


#box-price {
    width: 100%;
	}
#create-list {
	background-position-x: -412px;
	
}

#create-list p {
    font-size: 24px;
}

	
	#banner h1 {
	    font-size: 32px;
	    padding: 25% 5% 10% 5%;
	}
	#banner h3 {
	    font-size: 18px;
	}
	#banner {
	    background-position-x: -200px;
	    background-position-y: 54px;
	}

	#features .feature-title h2 {
	    font-size: 32px;
	}
	
.button-create-list1 {
    font-size: 32px;
}
.button-create-list2 {
    font-size: 32px;
}

.advantage-title h2 {
    font-size: 32px;
}
#advantages h2 {
    font-size: 1.5rem;
}


#footer-first-row .caption {
    text-align: center;
}

footer .caption .list-group-horizontal {
    justify-content: center;
}

#confirmation {
    background-position-x: -212px;
}
#footer-first-row .caption h2 {
    font-size: 1.4rem;
}

#footer-first-row .caption p {
    font-size: 1rem;
}


.about-details{
	padding: 5% 5% 20% 5%;
}


#about-text p{
	font-size: 20px;

}

#about-features h2{

	font-size: 16px;
}
#about-features p{

	font-size: 14px;
}

#about a{

	font-size: 16px;
}


/********************************* SITE FEATURES *****************************************/

#site-features {
    padding: 20% 10%;
}


.site-features-button a {
    font-size: 1rem;
}

#site-features .site-features-button {
    margin: 30% 0;
}

#site-features h3{
	font-size: 1rem;
}

.site-features-title h4 {
    font-size: 1rem;
}

.site-features-title h2 {
    margin-bottom: 25%;
}

#site-features	img {
    width: 70%;
}

.gifts-taxes1{
font-size: 16px;
}

#gifts-list{
    font-size: 0.9rem;
    padding: 10%;
}

.gifts-section1 .gifts-list1 li{
	margin-bottom: 10%;
}


/********************************* TAXES FEATURES *****************************************/

#taxes-list{
    padding: 10%;
    font-size: 0.8rem;
}

#taxes-list img{
	width: 100%;

}

#taxes-list #boleto{
	width: 30%;
}

#taxes-list h2{
    font-size: 1.2rem;
	
}

#taxes-list h1{
    font-size: 1.8rem;
	
}

#taxes-list h4{
    font-size: 1.2rem;
	
}











/********************************* PLANS *****************************************/
#comparison-hidden{
	display: none;
}

#plans{
    padding: 15% 5%;
    font-size: 1rem;
}
#plans .plan-title {
    font-size: 1.1rem;
}
















/********************************* TEMPLATES MODELS *****************************************/
#templates-models {
    padding: 10%;
}

.templates-models-box img{
	width: 80%;
}


#templates-models a {
    font-size: 1.5rem;
}




/********************************* TERMS LIST *****************************************/

#terms-list table{
	font-size: 0.6rem;
}



/*#plans {
    padding: 10%;
    font-size: 0.6rem;
}
#plans-table th.plan-table-title {
    font-size: 1.1rem;
}

#plans-table thead tr th {
    font-size: 1.1rem;
}

#plans-table tr td:first-child strong {
    font-size: 1rem;
}

#plans-table tr td:first-child span {
    font-size: 0.8rem;
}



*/


	/*#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}
	#banner h1 {
		top: 180px;
		font-size: 48px;
		margin-left: 0;
	}
	#banner h1 small {
		font-size: 22px;
	}
	#new
	{
		min-height: 450px;
	}
	#news h2 {
		font-size: 32px;
	}
	#news hr {
		border-width: 4px;
	}
	.owl-carousel .owl-wrapper-outer {
		margin-left: 15px;
	}
	.thumbnails {
		text-align: center;
	}
	#news .thumbnails .item-inner img {
		width: 80%;
	}
	#btn-news-prev, #btn-news-next {
		background: none;
		border: none;
		color: #ffe600;
		font-size: 48px;
		display: block;
		position: absolute;
		top:170px;
		z-index: 1;
		outline: 0;
	}
	#btn-news-next {
		right: 15px;
	}
	#btn-news-prev {
		left: 20px;
	}

	#menu-condensed p {
		margin-bottom: 40px;
	}
	
	footer {
		margin-top: 60px;
	}
	.copyright-mobile p {
		font-size: 10px;
		line-height: 0;
	}
	.copyright-mobile .pull-left {
		float: inherit!important;
	}
	footer .row p {
		text-align: center;
		line-height: 20px;
	}
	footer .row p:first-child {
		margin-top: 10px;
	}
	footer .text-roxo {
		margin-right: 10px;
	}
	footer .row {
		margin: 0;
	}
	footer .list-socials {
		text-align: center;
		width: 100%;

	}
	footer .col-md-10 {
		padding: 0;
	}
	footer .list-socials a {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
	footer .list-socials i {
		font-size: 30px;
	}
	
	footer .btn-footer {
		width: 100%;
		background-color: #11171D;
		height: 44px;
		line-height: 35px;
	}
	footer .col-xs-6 {
		padding: 0;
		padding-right: 5px;
	}
	footer .col-xs-6:last-child {
		padding-right: 0;
		padding-left: 5px;
	}
	footer .hidden-sm-up {
		margin-top: -10px;
	}
	
	
	footer .page-up {
		display: inline-block!important;
	}
	footer .page-up {
		display: inline-block!important;
	}
	
	#row-section-2 #stadium
	{
		width: 100%;
	}
	footer .row-footer-1 {
		min-height: 220px;
	}
	
	.fa-pinterest-p:before {
		content: "\f231";
		color: #11171D;
	}

	.fa-instagram:before {
		content: "\f16d";
		color: #11171D;
	}


	.fa-twitter:before {
		content: "\f099";
		color: #11171D;
	}


	.fa-facebook-f:before, .fa-facebook:before {
		content: "\f09a";
		color: #11171D;
	}
	#menu-condensed
	{
		height: 300px;
	}

	#menu-condensed p {
		font-size: 36px;
		
	}
	#menu-condensed p small {
		font-weight: normal;
		font-size: 24px;
	}
	
	#menu-condensed img {
		width: 60%;
	}
	#menu-condensed h1 {
		transition:1s;
		color: #fff;
		top: 10px;
		position: relative;
		font-size: 40px;
		text-shadow:2px 2px 2px rgba(0, 0, 0, .45);
		font-family: 'OpenSans-Light';
	}
	#menu-condensed h1 small {
		font-size: 20px;
		display: block;
		color: #FFF;
		font-family: 'OpenSans';
		font-weight: bold;
	}
	

	#row-section-2 p {
		font-size: 36px;
		
	}
	#row-section-2 p small {
		font-weight: normal;
		font-size: 24px;
	}
	

	#row-section-3 p {
		font-size: 36px;
		
	}
	#row-section-3 p small {
		font-weight: normal;
		font-size: 24px;
	}
	#row-section-3 img {
		max-height: 230px;
	}


	
	#row-section-4 p small {
		font-weight: normal;
		font-size: 24px;
	}
	
	#row-section-4 img {
		width: 60%;
	}
	#row-section-4 hr {
		border-width: 4px;
	}
	#row-section-4 p {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 15px;
		margin-right: 15px;
		font-size: 16px;
	}
	#row-section-4 h2 {
		font-size: 32px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#row-section-4 .col-xs-6 {
		padding: 0;
	}*/
	

}/*breakpoint*/


/*Tamanho padrão para tablets*/
@media only screen and (max-width: 330px) {

	header #menu-mobile li a {
    font-size: 12px;
    padding: 12px;
	}

}/*breakpoint*/




@media only screen and (max-height: 370px) {

	header #menu-mobile li a {
    font-size: 10px;
    padding: 10px;
	}

	header #nav-free {
	    border-radius: 4px;
	    padding: 5px 15px;
	}

	header #nav-login {
	    border-radius: 4px;
	    padding: 5px 15px;
	}





/***********SITE FEATURES**********/
	#site-features .site-features-button {
    margin-bottom: 20% 0;
}

	

}/*breakpoint*/