<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <h1>Confirmação de Presença N°{$rsvp.idrsvp}</h1>

                <h3>Parabéns, </h3><h1>{$rsvp.desguest}</h1>
                <br>
                <h3>você enviou seu presente para o casal</h3>
                <br>
                <h1>{$user.desperson}</h1>
                <br>
                <h2>&</h2>
                <h1>{$consort.desconsort}</h1>
                <br><br><br>

                <p>Seu Telefone: <b>{$rsvp.nrphone}</b></p>
                <p>Seu E-mail: <b>{$rsvp.desemail}</b></p>
                <p>Quantidade de Acompanhantes Adultos:  <b>{$rsvp.inadultsconfirmed}</b></p>
                <p>Quantidade de Acompanhantes Crianças:  <b>{$rsvp.inchildrenconfirmed}</b></p>
                <p>Nome dos Acompanhantes:  <b>{$rsvp.desguestaccompanies}</b></p>
                <p>Data da Confirmação: <b>{$rsvp.dtconfirmed}</b></p>



            </div>

        </div>
        
    </div>
</div>