<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <h1>Mensage N°{$message.idmessage}</h1>

                <h3>Muito obrigado, </h3><h1>{$message.desmessage}</h1>
                <br>
                <h3>você enviou a sua mensagem para o casal</h3>
                <br>
                <h1>{$user.desperson}</h1>
                <br>
                <h2>&</h2>
                <h1>{$consort.desconsort}</h1>
                <br><br><br>

                <p>Seu E-mail: <b>{$message.desemail}</b></p>
                <p>Mensagem:  <b>{$message.desdescription}</b></p>
                <p>Data da Mensagem: <b>{$message.dtregister}</b></p>



            </div>

        </div>
        
    </div>
</div>