<style type="text/css">
#template {
    background: url("/res/images/template/banner/banner1.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    position: relative;
    /*top: -100px;  */
}
#frame{
    background: url("/res/images/frame/frame1.png") no-repeat center;
    background-size: contain;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
}
.section-title{
    margin-bottom: 10%;
}
section h1{
    color: {if="$customstyle.descolorh1 != ''"}#{$customstyle.descolorh1}{else}#333333{/if};
    font-family: '{if="$customstyle.desfontfamilyh1 != ''"}{$customstyle.desfontfamilyh1}{else}'Norican'    {/if}';
}

section h2{
    color: {if="$customstyle.descolorh2 != ''"}#{$customstyle.descolorh2}{else}#333333{/if};
    font-family: '{if="$customstyle.desfontfamilyh2 != ''"}'{$customstyle.desfontfamilyh2}'{else}'Norican'{/if}';
}

section h3{
    color: {if="$customstyle.descolorh3 != ''"}#{$customstyle.descolorh3}{else}#333333{/if};
    font-family: '{if="$customstyle.desfontfamilyh3 != ''"}{$customstyle.desfontfamilyh3}{else}'Norican'{/if}';
}
.section-title hr{
    width: 10%;
    height: 10px;
    background-color: {if="$customstyle.descolorh3 != ''"}#{$customstyle.descolorh3}{else}#333333{/if};
}
section h4{
    color: {if="$customstyle.descolorh4 != ''"}#{$customstyle.descolorh4}{else}#333333{/if};
    font-family: '{if="$customstyle.desfontfamilyh4 != ''"}{$customstyle.desfontfamilyh4}{else}'OpenSans'{/if}';
}
section h5{
    color: {if="$customstyle.descolorh5 != ''"}#{$customstyle.descolorh5}{else}#333333{/if};
    font-family: '{if="$customstyle.desfontfamilyh5 != ''"}{$customstyle.desfontfamilyh5}{else}'Norican'{/if}';


}
section h6{
    color: {if="$customstyle.descolorh6 != ''"}#{$customstyle.descolorh6}{else}#333333{/if};
    font-family: '{if="$customstyle.desfontfamilyh6 != ''"}{$customstyle.desfontfamilyh6}{else}'OpenSans'{/if}';
}
footer{
    background-color: {if="$customstyle.desbgcolorfooter != ''"}#{$customstyle.desbgcolorfooter}{else}#DD716F{/if}
}

</style>





    
<section id="template">
    
    <div class="domain">
        
        <div class="container">
        

            <div class="row">
                

                <div class="col-md-12 ">




                        <div id="frame">       

                            <img src="/uploads/banners/{$customstyle.desbanner}">

                        </div><!--couple-->




                </div><!--col-md-12-->

            </div><!--row-->





            <div class="row">
                

                <div class="col-md-12 text-center">
                    



                    <div class="banner-title-wrapper">

                        
                        <div class="banner-title-box">
                            
                            <h1>{$user.desperson}</h1> <h1>&</h1> <h1>{$consort.desconsort}</h1>

                        </div><!--banner-title-box-->
                        

                        <div class="banner-date-box">

                            {if="$menu.inrsvp == '1'"}
                                <a href="/{$user.desdomain}/rsvp"><button type="button" class="btn template-button"><h2>{function="getDateDiff($wedding.dtwedding)"}</h2></button></a>
                            {else}
                                <h2>{function="getDateDiff($wedding.dtwedding)"}</h2>
                            {/if}
                            

                        </div><!--banner-date-box-->


                    </div><!--"banner-title-wrapper-->


                </div><!--col-->


            </div><!--row-->



        </div><!--container-->

    </div>
    

</section>












<section id="wedding">
    
    <div class="domain">


        <div class="container">


            <div class="row">
                
                <div class="col-md-12">
                    
                    <div class="section-title">
                        

                        <h3>
                            Casamento
                        </h3>
                        <hr>


                    </div>


                </div>

            </div>
        


            <div class="row section-centralizer">
                

                <div class="col-md-5 ">



                    <div>
                        
                        <img src="/uploads/weddings/{$wedding.desphoto}">

                    </div>


                </div><!--col-md-6-->


                

                <div class="col-md-7">
                    
                    

                    <div class="row">
                        
                        <div class="section-box">
                            
                            <div class="row">
                        


                        <div class="col-md-12 text-center">

                            <div class="section-title">              
                                <h4>Cerimônia</h4>
                            </div>

                        </div>

        
                    </div><!--row-->




                    <div class="row section-2-column section-row">
                        


                        <div class="col-md-6">
                            <div>
                                <h5>                           
                                    {function="formatDate($wedding.dtwedding)"}
                                </h5>
                            </div>
                            <div class="section-box-detail">
                                Data
                            </div>
                        </div>

                        <div class="col-md-6">
                            
                            <div>
                                <h5>
                                    {function="formatTime($wedding.tmwedding)"}
                                </h5>
                            </div>
                            <div class="section-box-detail">
                                Horário
                            </div>
                        </div>


                    </div><!--row-->






                    <div class="row">
                        


                        <div class="col-md-12 section-row">                           
                            <div class="description-area">
                                {$wedding.desdescription}
                            </div>
                        </div>





                        <div class="col-md-12 section-row">                           
                            Traje: {$wedding.descostume}
                        </div>




                        <div class="col-md-12 section-row">
                            Local: {$wedding.desaddress}, {$wedding.desnumber} {if="$wedding.desdistrict != ''"} - {$wedding.desdistrict}{/if} - {$wedding.descity} - {$wedding.desstate}{if="$wedding.descountry != ''"} - {$wedding.descountry}{/if}
                        </div>



                        <div class="col-md-12  section-row">
                            Ponto de Referência: {$wedding.desdirections}
                        </div>

        
                    </div><!--row-->



                        </div>


                    </div>











                </div><!--col-->


            </div><!--row-->







        </div><!--container-->
        

    </div>
    

</section>


























<section id="party">
    
    <div class="domain">
        
        <div class="container">

            <div class="row">
                
                <div class="col-md-12">
                    
                    <div class="section-title">
                        

                        <h3>
                            Festa
                        </h3>
                        <hr>


                    </div>


                </div>

            </div>
        



            <div class="row section-centralizer">
                

                           

                <div class="col-md-7">
                    
                    





                    <div class="row">
                        
                        <div class="section-box">
                            
                            <div class="row">
                        


                        <div class="col-md-12 text-center">

                            <div class="section-title">              
                                <h4>Festa</h4>
                            </div>

                        </div>

        
                    </div><!--row-->




                    <div class="row section-2-column section-row">
                        


                        <div class="col-md-6">
                            <div>
                                <h5>                           
                                    {function="formatDate($party.dtparty)"}
                                </h5>
                            </div>
                            <div class="section-box-detail">
                                Data
                            </div>
                        </div>

                        <div class="col-md-6">
                            
                            <div>
                                <h5>
                                    {function="formatTime($party.tmparty)"}
                                </h5>
                            </div>
                            <div class="section-box-detail">
                                Horário
                            </div>
                        </div>


                    </div><!--row-->







                    <div class="row">
                        


                        <div class="col-md-12 section-row">                           
                            <div class="description-area">
                                {$party.desdescription}
                            </div>
                        </div>




                        <div class="col-md-12 section-row">                           
                            Traje: {$party.descostume}
                        </div>




                        <div class="col-md-12 section-row">
                            Local: {$party.desaddress}, {$party.desnumber} {if="$party.desdistrict != ''"} - {$party.desdistrict}{/if} - {$party.descity} - {$party.desstate}{if="$party.descountry != ''"} - {$party.descountry}{/if}
                        </div>



                        <div class="col-md-12  section-row">
                            Ponto de Referência: {$party.desdirections}
                        </div>

        
                    </div><!--row-->



                        </div>


                    </div>




                </div><!--col-->



                <div class="col-md-5 ">



                    <div>
                        
                        <img src="/uploads/parties/{$party.desphoto}">

                    </div>


                </div><!--col-md-6-->



            </div><!--row-->



        </div><!--container-->
    

    </div>

</section>



















<section id="store">
    
    <div class="domain">
        
        <div class="container">


            <div class="row">
                
                <div class="col-md-12">
                    
                    <div class="section-title">
                        

                        <h3>
                            Loja
                        </h3>
                        <hr>


                    </div>


                </div>

            </div>

        

            <div class="row">
                
                <div class="col-md-12">
                         

                    <div class="card-wrapper">




                        {loop="$bestfriend"}
                            <div class="card">
                                



                                
                                    
                                <div class="card-photo">
                                    
                                    <img src="/uploads/bestfriends/{$value.desphoto}">

                                </div>







                                <div class="card-detail">
                                    



                                    <div class="card-title">


                                        <span>{$value.desbestfriend}</span>

                                        <hr>


                                    </div>






                                    <div class="card-category">

                                        <span>{$value.desdescription}</span>

                                    </div>


                                    

                                    <div class="card-price-wrapper">

                                        <div class="card-currency"> 

                                            <span class="card-coin"></span> 


                                        </div><!--currency-->


                                        
                                        <span class="card-price"></span>

                                        <span></span>


                                    </div>

                                    

                                </div><!--card-detail-->
                                    

                            </div><!--card-->
                        {/loop}

         

                    </div>

                   
                </div><!--col-->
            
            </div><!--row-->


        </div><!--container-->

    </div>


</section>


