<section class="domain">

    <div class="container">            
            
        
            
            <div class="order-box light-box">


                <div class="row section-row">
                    
                    <div class="col-md-12">
                        
                        <h3>Muito obrigado, </h3><h1>{$order.desname},</h1>
                        <h3>você enviou seu presente para</h3>
                        <h1>{$user.desperson}</h1>
                        <h2>&</h2>
                        <h1>{$consort.desconsort}</h1>

                    </div><!--col-->

                </div><!--row-->


            
                <div class="row section-row">
                
                    <div class="col-md-12">
                         

                                
                            {if="$error != ''"}
                            <div class="alert alert-danger" role="alert">
                            {$error}
                            </div>
                            {/if}

                        
                            
                            <table cellpadding="15" cellspacing="10">
                                <thead align="center" >
                                    <tr>
                                        <th>#</th>
                                        <th colspan="2">Presente</th>
                                        <th>Valor Unitário</th>
                                        <th>Quantidade</th>
                                        <th>Valor Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$product"}
                                    <tr>
                                        <td>
                                            {$counter+1} 
                                        </td>
                                        <td class="table-image-column">
                                            <img src="/uploads/products/{$value.desphoto}">
                                        </td>
                                        <td>
                                            {$value.desproduct} 
                                        </td>
                                        <td>
                                            {$value.vlprice}
                                        </td>
                                        <td>
                                            {$value.nrqtd}
                                        </td>
                                        <td>
                                            {$value.vltotal}
                                        </td>
                                        
                                    </tr>
                                    {/loop}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" align="right">Valor Total</td>
                                        <td>R$ {$order.vltotal}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" align="right">Data da Compra</td>
                                        <td>{$order.dtregister}</td>
                                    </tr>

                                </tfoot>
                            </table>
                    
                   
                    </div><!--col-->
                
                </div><!--row-->

                <div class="row section-row">
                    
                    <div class="col-md-6">
                        

                        ID Payment: <b>{$order.idpayment}</b><br>
                        ID Payment: <b>{$order.despaymentcode}</b><br>
                        Comprador: <b>{$order.desname}</b><br>
                        Telefone: <b>{$order.nrphone}</b><br>
                        E-mail: <b>{$order.desemail}</b><br>

                    </div><!--col-->

                    <div class="col-md-6">
                        

                        Endereço: <b>{$order.desaddress}, {$order.desnumber} - {$order.desdistrict} - {$order.descity}/{$order.desstate} - {$order.deszipcode} - {$order.descountry}</b><br><br><br><br>
                            

                       

                    </div><!--col-->

                </div><!--row-->

                





                <div class="row section-row">
                    
                    <div class="col-md-6">
                        

                        &nbsp;

                    </div><!--col-->

                    <div class="col-md-6">
                        

                            
                            Documento: <b>{if="$order.intypedoc === '0' "} CPF {else} CNPJ {/if} {$order.desdocument}</b><br>
                            Customer ID: <b>{$order.descustomercode}</b><br>
                            Card ID: <b>{$order.descardcode}</b><br>
                            Order ID: <b>{$order.desordercode}</b><br>
                            Payment ID: <b>{$order.despaymentcode}</b><br>

                       

                    </div><!--col-->

                </div><!--row-->


            

            </div><!--cart-box-->







    </div><!--container-->

</section>



