<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">                
            <div class="col-md-12 text-center">

                {if="$rsvpError != ''"}
                <div class="alert alert-danger">
                    {$rsvpError}
                </div>
                {/if}

                <form action="/{$user.desdomain}/rsvp/confirmacao/{$hash}" id="login-form-wrap" class="login" method="post">
                    <h2>Olá, {$rsvp.desguest} , bem vindx ao site de</h2>
                    <h2>{$user.desperson} & {$consort.desconsort}</h2>
                    <h4>Por favor, confirme sua presença </h4>
                    <br><br>
                    <p class="form-row form-row-first">
                        <label for="nrphone">Telefone<span class="required">*</span>
                        </label>
                        <input type="text" id="nrphone" name="nrphone" class="input-text">
                    </p>
                    
                    <p class="form-row form-row-first">
                        <label for="desemail">E-mail<span class="required">*</span>
                        </label>
                        <input type="email" id="desemail" name="desemail" class="input-text">
                    </p>

                    <p class="form-row form-row-first">
                        <label for="inadultsconfirmed">Número de Adultos<span class="required">*</span>
                        </label>
                        <input type="text" id="inadultsconfirmed" name="inadultsconfirmed" class="input-text">
                    </p>

                    <p class="form-row form-row-first">
                        <label for="inchildrenconfirmed">Número de Crianças<span class="required">*</span>
                        </label>
                        <input type="text" id="inchildrenconfirmed" name="inchildrenconfirmed" class="input-text">
                    </p>

                    <p class="form-row form-row-first">
                        <label for="desguestaccompanies">Nome Completo dos Acompanhantes<span class="required">*</span>
                        </label>
                        <input type="text" id="desguestaccompanies" name="desguestaccompanies" class="input-text">
                    </p>

                    

                    <div class="clear"></div>

                    <p class="form-row">
                        <input type="submit" value="Confirmar Presença" class="button">
                    </p>

                    <div class="clear"></div>
                </form>                    
            </div>
            
        </div>
    </div>
</div>