<style type="text/css">
#frame{
    background: url("/res/images/frame/{if="$customstyle.idtemplate == '1'"}frame5.png{else}frame4.png{/if}") no-repeat center;
    background-size: contain;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
}
</style>


    
<section id="template">
    
    <div class="container">
        






        <div class="row">
            

            <div class="col-md-12 ">






                    <div id="frame">

                                    

                        <img src="/res/images/banner/banner12.jpg">


                    </div><!--couple-->

                




            </div><!--col-md-12-->



        </div><!--row-->







        <div class="row">
            

            <div class="col-md-12">
                
                <div>

                    <h1>VIVA O AMOR, SEJA ELE COMO FOR</h1>
                    <h3>AMAR CASAR, O SITE DE CASAMENTO DE TODOS OS CASAIS</h3>
                    
                    <a href="/cadastrar"><button type="button" class="btn template-button">Criar meu Site</button></a>
                    
                </div><!--inner-text-introduction-->


            </div>


        </div><!--row-->







    </div><!--container-->
    

</section>




