@font-face {
	font-family: 'OpenSans';
	src: url("/res/fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Norican';
	src: url("/res/fonts/Norican/Norican-Regular.ttf");
	font-size: 1em;
}
@font-face {
  font-family: 'Euphoria';
  src: url("/res/fonts/Euphoria/EuphoriaScript-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Heebo';
  src: url("/res/fonts/Heebo/Heebo-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Satisfy';
  src: url("/res/fonts/Satisfy/Satisfy-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'KaushanScript';
  src: url("/res/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Pacifico';
  src: url("/res/fonts/Pacifico/Pacifico-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Poppins';
  src: url("/res/fonts/Poppins/Poppins-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Roboto';
  src: url("/res/fonts/Roboto/Roboto-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Rubik';
  src: url("/res/fonts/Rubik/Rubik-Regular.ttf");
  font-size: 1em;
}
















@keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Padrão */
}
@-moz-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Firefox */
}
@-webkit-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Webkit */
}
@-ms-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* IE */
}​

@keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* Padrão */
}
@-moz-keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* Firefox */
}
@-webkit-keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* Webkit */
}
@-ms-keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* IE */
}​






























/********************************* HEADER *****************************************/

body
{
	font-size: 1rem;
	font-family: "OpenSans";
}


header {
	height: 130px;
	z-index: 2;
  	position: relative;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}


header .container-fluid {
	width: 100%;
	padding: 2%	 5%;
	position: relative;
}


header #menu ul{
	padding: 1%;
	list-style: none;
	display: -webkit-flex;
	  display: flex;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
}


header #menu li {
	/*display: inline-block;*/
	margin-right: 2%;	
	float:left;
}


header  #menu li a {
	padding: 8px 12px;
	font-weight: 400;
	text-decoration: none;
	color: #000;
}


header #nav-free{
	background: none;
	border:	1px solid #dd716f;
	border-radius: 8px;
	padding: 15px 25px;
	color: #dd716f;
}


header 	#nav-login{
	background: #dd716f;
	border:	none;
	border-radius: 8px;
	padding: 15px 25px;
	color: #fff;
}

header #menu-mobile{
	display: none;
}
/*header #header-mobile.open-menu #menu-mobile-mask
{
	display: none;
}*/
header #menu-condensed
{
	display: none;
}
#header-device .col-md-3{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.fa-search:before {
}
#banner h1.efeito {
	color:#2ecc71 ;
	font-size:12em;
}










/********************************* FOOTER *****************************************/

footer{
	padding: 5% 15% 5% 15%;
	background: #dd716f;
	font-size: 24px;
	color: #fff;
}
footer .container{ 
	width: 100%		
}
footer a{
	color: #fff;	
}
footer .bottom-footer p {
  color: #fff;
  line-height: 24px;
  font-size: 15px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}


footer .bottom-footer {
    background: #dd716f;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-transform: capitalize;
}




.btn-trans {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
}



#footer-logo{
	width: 370px;
    margin-left: -20px;
}




.list-group-item {
    background: none;
    border: none;
}

footer #footer-logo{
	margin-bottom: 12%;
}


#footer-first-row .caption{
	margin: 0 1% 18% 1%;
}

#footer-first-row .caption h2{
	margin-bottom: 10%;
}



.list-group-item{
	padding: 0;
	margin-right: 5%;

}


footer a:hover {
    color: pink;
    text-decoration: none;
}



.btn-send {
    color: #fff;
    background-color: #dd716f;
    border: none;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 7px 25px;
    margin-top: 7%;
}













/********************************* MENU *****************************************/
#menu{
	display: flex;
	align-items: center;
}
.btn-secondary{
	width: 300px;
    color: #545b62;
    background-color: #fff;
    border-color: #545b62;

}
.btn-secondary:hover{
    color: #545b62;
    background-color: #fff;
    border-color: #545b62;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #545b62;
    background-color: #fff;
    border-color: #545b62;
}
.dropdown-menu{
	width: 300PX;
	padding: 10%;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}

.dropdown-menu a{
	margin-bottom: 8%;
}






















/********************************* DOMAIN *****************************************/

.domain{
	padding: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadein 1s;
}
.section-centralizer{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.domain img{
    width: 100%;
    box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}
.section-2-column{
	padding: 0 5%;
}
.section-box{
	font-size: 1.2rem;
	width: 70%;
	margin: 0 auto;
	padding: 5% 8%;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}
.section-box h3{
	font-size: 1.2rem;
}
.section-row{
	margin: 2% 0;
	text-align: center;
}
.description-area{
	border: 1px solid #ddd;
	padding: 15%;
}
.section-box-detail{
	border-top: 1px solid #ddd;
}


















/********************************* BANNER *****************************************/

#template h1 {
	position: relative;
	font-size: 82px;
	text-shadow:4px 4px 4px rgba(0, 0, 0, .45);
}

#template h3 {
	color: #fff;
	position: relative;
	font-size: 36px;
	text-shadow:4px 4px 4px rgba(0, 0, 0, .45);
}


.template-button{
	margin-top: 5%;
	font-size: 42px;
	text-shadow:4px 4px 4px rgba(0, 0, 0, .45);
	border-radius: 8px;
	padding: 25px 30px;
	color: #fff;
	border: 1px solid #fff;
	background: #ffffff66;
	text-shadow: #7e7e7e 0.1em 0.1em 0.2em;
	font-family: 'Norican';
}


.banner-button:hover{
	color: pink;
}


#frame img{
	width: 290px;
	height: 290px;
	border-radius: 50%;
	
}




















/********************************* INPUTS *****************************************/
select{
  width: 100%;
  border-radius: 4px;
  padding: 2%;
}
textarea{
  border: 1px solid #ced4da;
  padding: 2% 1%;
  width: 100%;
}
input{
  border: 1px solid #ced4da;
  border-radius: 4px;
}
label{
  font-size: 0.9rem;
}
.dash-input-row{
  margin-bottom: 5%;
}
.dash-state-city{
  align-items: baseline;
}
.dash-state-city select{
  margin-top: 0;
}
.input-date{
  width: 360px    ;
}
.input-photo{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 360px;
}
.input-photo img{
  width: 360px;
}
.input-photo .mb-3{
  margin-bottom: 0!important;
}
.input-inposition{
  width: 60px;
}

.input-half{
  width: 50%;
}





















/********************************* CARD *****************************************/
.domain-store{
  padding: 10%;
}
.card {
  display: inline-block;
  vertical-align: top;
  margin: 2%;
  width: 320px;
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: none;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.card a {
  color: #29303b;
  display: block;
  font-size: 1rem;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
}
.card-wrapper{
  text-align: center;
}
.card-photo {
  height: auto;
  display: block;
  position: relative;
  background: #29303b;
  overflow: hidden;
  cursor: pointer;
}
.card-photo img {
  width: 100%;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
.card-detail {
  padding: 12px 15px;
  display: block;
  text-align: center;
}
.card-title{
  padding: 6% 2% 2% 2%;
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card-title span{
  font-size: 1.5rem;
  color: #dd716f;
  font-weight: 500;
}
.card-title hr{
  background-color: #dd716f;
  width: 20%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card-category {
  font-family: 'Norican';
  padding: 5% 0 10% 0;
  font-size: 1.3rem;
  color: #dd716f;
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-add-continue{
  text-align: center;
}
.card-add-continue button{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  background: #e6e6e6;
  border: 0;
  border-radius: 15px;
  padding: 12px 36px;
  color: #dd716f;
  font-size: 0.8rem;
}
.card-add-continue button:hover{
  background: #e1e1e1;
  color: #dd716f;
}
.card-add-cart{
  text-align: center;

}
.card-add-cart button{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  background: #dd716f;
  border: 0;
  border-radius: 10px;
  padding: 12px 36px;
  color: #fff;
}
.card-add-cart button:hover{
  background: #e0434d;
  color: #fff;
}
.card-price-wrapper {
  display: block;
  
}
.card-currency{
  display: inline-block;
}
.card-coin {
  display: inline-block;
}
.card-price{
  display: inline-block;
  font-size: 2rem;
}
.card-buttons-wrapper{
  padding: 5%;
}






















/********************************* CART RESUME *****************************************/
.shopping-item {
    border: 1px solid #ddd;
    float: right;
    font-size: 1rem;
    padding: 10px 34px;
    margin: 0 50px;
    position: relative;
}
.shopping-item a {
    color: #666;
}
.cart-amunt {
    color: #dd716f;
    font-weight: 700;
}
.product-count {
    background: none repeat scroll 0 0 #dd716f;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}
.shopping-item i.fa {
    margin-left: 15px;
}


.shopping-item:hover {
    background: none repeat scroll 0 0 #dd716f;
    border-color: #dd716f;
}
.shopping-item:hover a {
    color: #fff;text-decoration: none
}
.shopping-item:hover .cart-amunt {
    color: #fff;
}
.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #000;
}
