@font-face {
	font-family: 'OpenSans';
	src: url("/res/fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Norican';
	src: url("/res/fonts/Norican/Norican-Regular.ttf");
	font-size: 1em;
}
@font-face {
  font-family: 'Euphoria';
  src: url("/res/fonts/Euphoria/EuphoriaScript-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Heebo';
  src: url("/res/fonts/Heebo/Heebo-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Satisfy';
  src: url("/res/fonts/Satisfy/Satisfy-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'KaushanScript';
  src: url("/res/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Pacifico';
  src: url("/res/fonts/Pacifico/Pacifico-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Poppins';
  src: url("/res/fonts/Poppins/Poppins-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Roboto';
  src: url("/res/fonts/Roboto/Roboto-Regular.ttf");
  font-size: 1em;
}
@font-face {
  font-family: 'Rubik';
  src: url("/res/fonts/Rubik/Rubik-Regular.ttf");
  font-size: 1em;
}
















@keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Padrão */
}
@-moz-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Firefox */
}
@-webkit-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Webkit */
}
@-ms-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* IE */
}​

@keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* Padrão */
}
@-moz-keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* Firefox */
}
@-webkit-keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* Webkit */
}
@-ms-keyframes fadeout {
from { opacity: 1; }
to { opacity: 0.1; } /* IE */
}​










body{
    font-size: 1.1rem;  
}



















/********************************* HEADER *****************************************/




header #menu ul{
	padding: 1%;
	list-style: none;
	display: -webkit-flex;
	  display: flex;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
}


header #menu li {
	/*display: inline-block;*/
	margin-right: 2%;	
	float:left;
}


header  #menu li a {
	padding: 8px 12px;
	font-weight: 400;
	text-decoration: none;
	color: #000;
}


header #nav-free{
	background: none;
	border:	1px solid #dd716f;
	border-radius: 8px;
	padding: 15px 25px;
	color: #dd716f;
}


header 	#nav-login{
	background: #dd716f;
	border:	none;
	border-radius: 8px;
	padding: 15px 25px;
	color: #fff;
}

#header-device .col-md-3{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.fa-search:before {
}
#banner h1.efeito {
	color:#2ecc71 ;
	font-size:12em;
}









/********************************* FOOTER *****************************************/


footer a{
	color: #fff;	
}
footer .bottom-footer p {
  color: #fff;
  line-height: 24px;
  font-size: 15px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}


footer .bottom-footer {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-transform: capitalize;
}




.btn-trans {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
}



#footer-logo{
	width: 370px;
    margin-left: -20px;
}




.list-group-item {
    background: none;
    border: none;
}

footer #footer-logo{
	margin-bottom: 12%;
}


#footer-first-row .caption{
	margin: 0 1% 18% 1%;
}

#footer-first-row .caption h2{
	margin-bottom: 10%;
}

.list-group-item{
	padding: 0;
	margin-right: 5%;

}

footer a:hover {
    color: pink;
    text-decoration: none;
}

.btn-send {
    color: #fff;
    background-color: #dd716f;
    border: none;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 7px 25px;
    margin-top: 7%;
}

.footer-column{
  padding: 0 5%;
}











/********************************* MENU *****************************************/
#menu{
	display: flex;
	align-items: center;
}
.btn-secondary{
	width: 300px;
    color: #545b62;
    background-color: #fff;
    border-color: #545b62;

}
.btn-secondary:hover{
    color: #545b62;
    background-color: #fff;
    border-color: #545b62;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #545b62;
    background-color: #fff;
    border-color: #545b62;
}
.dropdown-menu{
	width: 300PX;
	padding: 10%;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}

.dropdown-menu a{
	margin-bottom: 8%;
}






















/********************************* DOMAIN *****************************************/

.domain{
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadein 1s;
}
.section-centralizer{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.domain img{
    width: 100%;
    box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}
.section-2-column{
	padding: 0 5%;
}
.box-column{
  padding: 0 1%;
}
.section-box{
	font-size: 1.2rem;
	width: 70%;
	margin: 0 auto;
	padding: 5% 8%;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}
.section-box h3{
	font-size: 1.2rem;
}
.section-box-title{
  padding: 3%;
  margin-bottom: 10%;
  text-align: center;
}

.section-row{
	margin: 5% 0;
	text-align: center;
}
.description-area{
	border: 1px solid #ddd;
	padding: 15%;
}
.section-box-detail{
	border-top: 1px solid #ddd;
}
.light-box{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}



.light-box input{
  border-radius: 12px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ccc;
  padding: 8px 16px;
  width: 100%;
}

.input-row{
  margin-bottom: 10%;
}
.input-short{
  width: 60px;
}
.input-short input{
  border: 1px solid #ddd;
}


.input-half{
  width: 50%;
}

.template-error{
  margin-bottom: 15%;
  font-size: 1rem;
}

.message-description{
  border: 1px solid #ddd;
  padding: 5% 10%;
}
.template-button a{
  background-color: #dd716f;
  color: #fff;
}

.message-box{
  margin-bottom: 10%;
}
.section-big-column{
  padding: 0 20%;
}










/********************************* ORDER DOMAIN RESUME *****************************************/

.order-box{
  padding: 5%;
  margin: 0 auto;
}
.order-box h1{
  font-size: 2rem;
}
.order-box h3{
  font-size: 1.2rem;
}

.order-box th{
  background: #ddd;
}
.order-box table {
  margin: 0 auto;
}
.order-box table td{
  padding: 5%;
}

.order-box table img{
  width: 100%;
}
.table-image-column{
  width: 180px;
}

























/********************************* BANNER *****************************************/
.domain h1 {
  font-size: 4rem;
  position: relative;
  text-shadow:4px 4px 4px rgba(0, 0, 0, .45);
}
.domain h2 {
  font-size: 2.5rem;
  position: relative;
  text-shadow:4px 4px 4px rgba(0, 0, 0, .45);
}

.domain h3 {
  font-size: 3rem;
  position: relative;
}

.domain h4 {
  font-size: 2.5rem;
  position: relative;
  
}
.domain h5 {
  font-size: 2.0rem;
  position: relative;
  
}

.domain h6 {
  font-size: 1.6rem;
  position: relative;
}


.template-button{
	margin-top: 5%;
	font-size: 42px;
	border-radius: 8px;
	padding: 25px 30px;
	color: #fff;
	border: 1px solid #fff;
	background: #ffffff66;
	text-shadow: #7e7e7e 0.1em 0.1em 0.2em;
	
}


.banner-button:hover{
	color: pink;
}


#frame img{
	width: 290px;
	height: 290px;
	border-radius: 50%;
	
}
.banner-title-wrapper{
  margin: 10% 0;
}

.banner-date-box{
  margin: 10% 0;
  text-shadow:4px 4px 4px rgba(0, 0, 0, .45);
}
.section-title{
  text-align: center;

}
















/********************************* INPUTS *****************************************/
select{
  width: 100%;
  border-radius: 4px;
  padding: 2%;
}
textarea{
  border: 1px solid #ced4da;
  padding: 2% 1%;
  width: 100%;
}
input{
  border: 1px solid #ced4da;
  border-radius: 4px;
}
label{
  font-size: 0.9rem;
}
.dash-input-row{
  margin-bottom: 5%;
}
.dash-state-city{
  align-items: baseline;
}
.dash-state-city select{
  margin-top: 0;
}
.input-date{
  width: 360px    ;
}
.input-photo{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 360px;
}
.input-photo img{
  width: 360px;
}
.input-photo .mb-3{
  margin-bottom: 0!important;
}
.input-inposition{
  width: 60px;
}

.input-half{
  width: 50%;
}





















/********************************* CARD *****************************************/
.domain-store{
  padding: 10%;
}
.card {
  display: inline-block;
  vertical-align: top;
  margin: 2%;
  width: 320px;
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: none;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.card a {
  color: #29303b;
  display: block;
  font-size: 1rem;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
}
.card-wrapper{
  text-align: center;
}
.card-photo {
  height: auto;
  display: block;
  position: relative;
  background: #29303b;
  overflow: hidden;
  cursor: pointer;
}
.card-photo img {
  width: 100%;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
.card-detail {
  padding: 12px 15px;
  display: block;
  text-align: center;
}
.card-title{
  padding: 6% 2% 2% 2%;
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}


.card-category {
  font-family: 'Norican';
  padding: 5% 0 10% 0;
  font-size: 1.3rem;
  color: #dd716f;
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card-description {
  padding: 5% 0 10% 0;
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-add-continue{
  text-align: center;
}
.card-add-continue button{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  background: #e6e6e6;
  border: 0;
  border-radius: 15px;
  padding: 12px 36px;
  color: #dd716f;
  font-size: 0.8rem;
}
.card-add-continue button:hover{
  background: #e1e1e1;
  color: #dd716f;
}
.card-add-cart{
  text-align: center;

}
.card-add-cart button{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  background: #dd716f;
  border: 0;
  border-radius: 10px;
  padding: 12px 36px;
  color: #fff;
}
.card-add-cart button:hover{
  background: #e0434d;
  color: #fff;
}
.card-price-wrapper {
  display: block;
  
}
.card-currency{
  display: inline-block;
}
.card-coin {
  display: inline-block;
}
.card-price{
  display: inline-block;
  font-size: 2rem;
}
.card-buttons-wrapper{
  padding: 5% 0;
}
.card-event {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: none;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.card-row{
  margin: 2% 0;
}
.card-details{
  padding: 0 4%;
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.horizontal-box-row{
  margin-bottom: 15%;
}
.card-event button{
  padding: 10px 34px;
  background-color: transparent;
  border: 1px solid #dd716f;
  border-radius: 20px;
  margin: 0 1%;
  color: #dd716f;
}
.under-title {
  font-size: 0.8rem;
  font-style: italic;
}
.card-details hr{
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #DDDDDD; 
}
.card-row-description{
  padding: 7% 0;
}
.card-video {
  display: inline-block;
  vertical-align: top;
  margin: 2%;
  width: 560px;
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.card-video iframe {
  width: 100%;
}
.card-video a {
  color: #29303b;
  display: block;
  font-size: 1rem;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
}
.domain-videos{
  padding: 10%;
}
.card-album {
  display: inline-block;
  vertical-align: top;
  margin: 2%;
  width: 560px;
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.card-album a {
  color: #29303b;
  display: block;
  font-size: 1rem;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
}

.card-album img {
  box-shadow: none;
}

.modal-content{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.modal-content img{
  width: 900px;
}
.modal-content button{
  position: absolute;
    right: -184px;
    top: 0;
}
.modal-content span{
    color: #fff;
}

.card-bestfriend {
  display: inline-block;
  vertical-align: top;
  margin: 2%;
  width: 360px;
  background-color: #fff;
  position: relative;
  border: none;
  box-shadow: none;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
.card-bestfriend a {
  color: #29303b;
  display: block;
  font-size: 1rem;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
}

.card-bestfriend img {
  box-shadow: none;
}

.card-stakeholder {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  position: relative;
  border: none;
  padding: 5% 0;
}





























/********************************* CART RESUME *****************************************/
.shopping-item {
    border: 1px solid #ddd;
    float: right;
    font-size: 1rem;
    padding: 10px 34px;
    margin: 0 50px;
    position: relative;
}
.shopping-item a {
    color: #666;
}
.cart-amunt {
    color: #dd716f;
    font-weight: 700;
}
.product-count {
    background: none repeat scroll 0 0 #dd716f;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}
.shopping-item i.fa {
    margin-left: 15px;
}



.shopping-item:hover a {
    text-decoration: none
}
/*.shopping-item:hover .cart-amunt {
    color: #fff;
}*/
.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #000;
}
#shopping-item-mobile{
  display:none;
  
}



















/********************************* CART *****************************************/
.domain-cart table img{
  width: 100%;

}
.domain-cart table tbody{
  border-bottom: 1px solid #ddd;

}
.domain-cart table th{
  background: #ddd;
}
.cart-box{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  padding: 5%;
  margin: 0 auto;
}



.product-thumbnail{
  width: 150px;
}

.product-quantity .quantity{
  width: 40px;
  padding-left:10%;
}
.quantity-button{
  background: #dd716f;
  color: #fff;
}

.product-remove a{
  color: #dd716f;
  text-decoration: none;
}

.cart-details{
  background: #ddd;
  margin-top: 15%;
  padding: 5%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);

}

.cart-button input{
  background: #dd716f;
  color: #fff;
  padding: 10px 34px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);

}







































































/********************************* CHECKOUT *****************************************/
#checkout{
  width: 100%;
  padding: 1% 9%;
  font-size: 0.9rem;
  animation: fadein 1s;

}
#checkout #payment_inholdertypedoc_1_field {
    margin: 5% 0;
  align-items: baseline;
}
#checkout .own-card-font-size{
  font-size: 0.9rem;
}

#checkout .columns{
  padding: 0 1%;
}
#checkout #checkout-box{
  min-height: 1000px;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
#checkout .checkout-accounts-rows{
  margin: 4% 0;
  padding: 2%;
  
}

#checkout #error-container{
  padding: 5% 5% 0 5%;
}

#checkout li.options-button{
  margin: 1%;
}
#checkout ul button{
  border: none;
  padding: 12px 38px;
  border-radius: 6px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  color: #aaa;
}
#checkout .options-selected button{
  color: #555;
  text-shadow: 2px 2px 2px rgb(200, 200,200);
}
#checkout #tfoot-tr-firs-child{
  padding-top: 16%;
}
#checkout .nav{
  justify-content: center;
  display: -webkit-inline-box;
}
#checkout .checkout-warn{
  color: #dd716f;
  text-align: center;
  height: 350px;
  width: 65%;
  margin: 0 auto;
}
#checkout #installment{
  display: block;
  width: 100%;
  border-radius: 10px;
    border: 0;
    padding: 3%;
    letter-spacing: 1px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
#checkout .payment-block{
  margin-bottom: 5%;
  padding: 5%;
  animation: fadein 1s;
}
#checkout .payment-sub-warn{
  text-align: center;
  color: #555;
  margin-bottom: 10%;
}
#checkout .payment-sub-warn h3{
  
  font-size: 1.6rem;
}
#checkout .checkout-warn p{
  font-size: 1.3rem;
  margin: 5% 0;
}
#checkout a{
  color: #dd716f;
}
#checkout a:hover{
  color: pink;
  text-decoration: none;
}
#checkout #checkout-desdocument-warn{
  color: #03a9f4;

}
#checkout input{
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #bbb;
  padding: 8px 16px;
  margin: 2% 0;
  width: 100%;
}
#checkout #payment_cardname_1_field{
  font-size: 0.8rem;

}

#checkout .checkout-accounts-disabled{
  background: #cccccc99;
  font-weight: 900;
}

#checkout #payment_interms_1{
  width: auto;

}
#checkout #payment_interms_1_text{
  display: inline;

}
#checkout #checkout-accounts-button{
  background: #dd716f;
  color: #fff;
  margin-top: 25%;
}

#checkout #banner1{
  background: url('/res/images/banner/banner4.jpg') no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position-y: center;
}

#checkout #banner2{
  background: url('/res/images/banner/banner5.jpg') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: center;
}

/***********old register acconts*************/
#checkout #purchase-resume{
  text-align: center;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);

}
#checkout #user-credentials{
  text-align: -webkit-right

}
#checkout #purchase-resume table{
  border-radius: 5px;
  min-height: 349px;
}
#checkout #user-credentials table{
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  margin-top: 10%;
}

#checkout #installment-title{
  display: block;
  color: #03a9f4;
}
#checkout h4{
    color: #999;
    margin-bottom: 7%;
    font-weight: 900;
}
#checkout .checkout-label{
  position: absolute;
    top: -20px;
    left: -15px;
}
#checkout select {
    width: 100%;
    padding: 4%;
    border-radius: 10px;
}

#checkout table .column1{
  background: #ccc;

}
#checkout table .column2{
    background: #ddd;
}

#checkout td{
    width: 100%;
    vertical-align: baseline;

}
#checkout .state-city{
  margin-top: 15%;
  align-items: baseline;
}

#checkout td:first-child{
    width: 65%;

}
#checkout #checkout-button{
  border-radius: 12px;
    background: #dd716f;
    color: #fff;
    margin: 20% 0;
  padding: 3%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}
#checkout #checkout-payment select{
  border-radius: 10px;
  height: 10%;
  width: 100%;
  margin-bottom: 5%;
}

#checkout .payment-option-row{
  text-align: center;
  padding: 0;
}


#checkout .payment-warn{
  color: #dd716f;
  text-align: center;
  margin: 0 auto;
  padding:4%;
}

#checkout .payment-warn p{
  font-size: 1.2rem;
}

#checkout #payment-option-row{
  padding: 0 25%;
}
#checkout #accordionExample{
  text-align: center;
}
#checkout .card{
  border-radius: 10px;
    margin-bottom: 1%;
}
#checkout #headingOne{
  background: #ccc;
}
#checkout #headingTwo{
  background: #ccc;
}
#checkout .domain-checkout-buttons{
    display: flex;
    justify-content: center;
}
/*#checkout #round-block1
{

  box-shadow: #dd716f 0 9px 30px -6px;
  background: url('/res/images/brands.png') center no-repeat;
  background-size: contain;
}

#checkout a#block1 i
{

  color: #dd716f;
  font-size: 2rem;  
}

#checkout #paragraph-block1
{
  color:#dd716f;
  font-size: 2rem;
}

#checkout .roundblock:hover
{
  background: -webkit-linear-gradient(45deg, #cccccc, #dd716f);
  background: -o-linear-gradient(45deg, #cccccc, #dd716f);
  background: -moz-linear-gradient(45deg, #cccccc, #dd716f);
  background: linear-gradient(45deg, #cccccc, #dd716f);
}

#checkout .roundblock:active
{
  background: -webkit-linear-gradient(45deg, #03a9f4, #5e299a);
  background: -o-linear-gradient(45deg, #03a9f4, #5e299a);
  background: -moz-linear-gradient(45deg, #03a9f4, #5e299a);
  background: linear-gradient(45deg, #03a9f4, #5e299a);
}
#checkout #round-block2
{
  box-shadow: #03a9f4 0 9px 30px -6px;
  background: url('/res/images/boleto.png') center no-repeat;
}
#checkout #round-block2 i
{
  color: #03a9f4;
  font-size: 2rem; 
}
#checkout #paragraph-block2
{
  color:#03a9f4;
  font-size: 2rem;
}

#checkout .roundblock
{
  background-color: #cccccc;
  background: -webkit-linear-gradient(45deg, #cccccc, #ffffff);
  background: -o-linear-gradient(45deg, #cccccc, #ffffff);
  background: -moz-linear-gradient(45deg, #cccccc, #ffffff);
  background: linear-gradient(45deg, #cccccc, #ffffff);
  width:180px;
  height:180px;
  margin: 50px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}*/