@font-face {
	font-family: 'OpenSans';
	src: url("/res/fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Norican';
	src: url("/res/fonts/Norican/Norican-Regular.ttf");
	font-size: 1em;
}







/********************************* HEADER *****************************************/

body
{
	font-size: 18px;
	font-family: "OpenSans";
}


header {
	height: 130px;
	z-index: 2;
  	position: relative;
  	background-color: #5e299a;
  	color: #fff;
	box-shadow: box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);;
  		-webkit-box-shadow: box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);;
		-moz-box-shadow: box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);;
}


header .container-fluid {
	width: 100%;
	padding: 1%	 5%;
	position: relative;

}


header #menu-header ul{
	padding: 1%;
	list-style: none;
	display: -webkit-flex;
	  display: flex;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
}


header #menu-header li {
	/*display: inline-block;*/
	margin-right: 2%;	
	float:left;
}


header  #menu-header li a {
	padding: 8px 12px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
}


header #nav-free{
	background: none;
	border:	1px solid #dd716f;
	border-radius: 8px;
	padding: 15px 25px;
	color: #dd716f;
}


header 	#nav-login{
	background: #dd716f;
	border:	none;
	border-radius: 8px;
	padding: 15px 25px;
	color: #fff;
}





header #menu-mobile{
	display: none;
}

/*header #header-mobile.open-menu #menu-mobile-mask
{
	display: none;
}*/
header #menu-condensed
{
	display: none;
}
#header-device .col-md-3{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}





.fa-search:before {
}


#banner h1.efeito {
	color:#2ecc71 ;
	font-size:12em;
}







/********************************* FOOTER *****************************************/

footer{
	padding: 5% 15% 5% 15%;
	background: #5e299a;
	font-size: 24px;
	color: #fff;

}


footer .container{ 
	width: 100%	
	
}

footer a{
	color: #fff;
	
}



footer .bottom-footer p {
  color: #fff;
  line-height: 24px;
  font-size: 15px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}


footer .bottom-footer {
    background: #5e299a;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-transform: capitalize;
}




.btn-trans {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
}



#footer-logo{
	width: 370px;
    margin-left: -20px;
}


footer a:hover {
    color: pink;
    text-decoration: none;
}











/********************************* DASHBOARD INIT *****************************************/
#dashboard-init{
	padding: 5%;
	font-size: 0.9rem;
	color: #495057;
}


#dashboard-init .dashboard-init-box{
	padding: 5%;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 300px;
}



#dashboard-init .dashboard-init-box-wrapper{

	float:left;
	padding: 2%;
}


#dashboard-init .dash-main-area{
	padding: 2%;;
}









/********************************* PERSONS *****************************************/
#persons{
	padding: 5%;
	font-size:0.9rem;
	color: #495057;
}



#persons .dash-main-area{
	padding: 2%;
}





.accordion>.card .card-header {
    padding: 2%;
}


#menu {
	padding: 1% 0;
	border: none;
	letter-spacing: 1px;
}

#menu .card-header button{
	color: #666;
	letter-spacing: 1px;
}

#menu .card {
	background: #e1e1e1;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}


#menu .card-body{
	padding: 0;


}

.card-body-text a{
	font-size: 0.8rem;
	background: #fff;
}

.card-body-text a:hover{
	background: #5e299a05;
}

.menu-body-color a{
	background: #e1e1e1;
}

.menu-body-color a:hover{
	background: #5e299a25;
}