@font-face {
	font-family: 'OpenSans';
	src: url("/res/fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'Norican';
	src: url("/res/fonts/Norican/Norican-Regular.ttf");
	font-size: 1em;
}







/********************************* HEADER *****************************************/

body
{
	font-size: 18px;
	font-family: "OpenSans";
}


header {
	height: 130px;
	z-index: 2;
  	position: relative;
  	background-color: #5e299a;
  	color: #fff;
	box-shadow: box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);;
  		-webkit-box-shadow: box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);;
		-moz-box-shadow: box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);;
}


header .container-fluid {
	width: 100%;
	padding: 1%	 5%;
	position: relative;

}


header #menu-header ul{
	padding: 1%;
	list-style: none;
	display: -webkit-flex;
	  display: flex;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
}


header #menu-header li {
	/*display: inline-block;*/
	margin-right: 2%;	
	float:left;
}


header  #menu-header li a {
	padding: 8px 12px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
}


header #nav-free{
	background: none;
	border:	1px solid #dd716f;
	border-radius: 8px;
	padding: 15px 25px;
	color: #dd716f;
}


header 	#nav-login{
	background: #dd716f;
	border:	none;
	border-radius: 8px;
	padding: 15px 25px;
	color: #fff;
}





header #menu-mobile{
	display: none;
}

/*header #header-mobile.open-menu #menu-mobile-mask
{
	display: none;
}*/
header #menu-condensed
{
	display: none;
}
#header-device .col-md-3{
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}





.fa-search:before {
}


#banner h1.efeito {
	color:#2ecc71 ;
	font-size:12em;
}







/********************************* FOOTER *****************************************/

footer{
	padding: 5% 15% 5% 15%;
	background: #5e299a;
	font-size: 24px;
	color: #fff;

}


footer .container{ 
	width: 100%	
	
}

footer a{
	color: #fff;
	
}



footer .bottom-footer p {
  color: #fff;
  line-height: 24px;
  font-size: 15px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}


footer .bottom-footer {
    background: #5e299a;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-transform: capitalize;
}




.btn-trans {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
}



#footer-logo{
	width: 370px;
    margin-left: -20px;
}


footer a:hover {
    color: pink;
    text-decoration: none;
}











/********************************* DASHBOARD INIT *****************************************/
#dashboard-init{
	padding: 5%;
	font-size: 0.9rem;
	color: #495057;
}


#dashboard-init .dashboard-init-box{
	padding: 5%;
	box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
  		-webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 300px;
}



#dashboard-init .dashboard-init-box-wrapper{

	float:left;
	padding: 2%;
}


#dashboard-init .dash-main-area{
	padding: 0 2%;

}









/********************************* PERSONS *****************************************/
#persons{
	padding: 5%;
	font-size:0.9rem;
	color: #495057;
}



#persons .dash-main-area{
	padding: 0 2%;
}





.accordion>.card .card-header {
    padding: 2%;
}


#menu {
	padding: 1% 0;
	border: none;
	letter-spacing: 1px;
}

#menu .card-header button{
	color: #666;
	letter-spacing: 1px;
}

#menu .card {
	background: #e1e1e1;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}


#menu .card-body{
	padding: 0;


}

.card-body-text a{
	font-size: 0.8rem;
	background: #fff;
}

.card-body-text a:hover{
	background: #5e299a05;
}

.menu-body-color a{
	background: #e1e1e1;
}

.menu-body-color a:hover{
	background: #5e299a25;
}

.disabled-links {
	color: #999!important;
}

.modal-dialog{
	color: #5e299a;
}

.alert-info {
    color: 	#0c5460;
    background-color: #ddd;
    border-color: #bee5eb;
}

.button-header{
	color: #495057;
	padding: 8px 12px;
	background-color: #ddd;
	margin: 0 1%;
	border-radius: 10px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}


.alert-info {
 
    margin-top: 4%;
}
.renewal-box{

	box-shadow: 0 8px 12px 0 rgba(94, 41, 154, 0.26), 0 0 12px 0 rgba(94, 41, 154, 0.26);
	width: 50%;
	height: 50%;
	margin: 10% auto;
	padding: 10% 5%;
}

.renewal-box p{
	font-size: 2rem; 
	
}

#plan-box-dash p{
	font-size: 2rem; 
	font-family: 'Norican';
}
.renewal-box input{
	font-size: 1rem; 
	padding: 12px 36px;
	color: #fff;
	background: #5e299a;
	border-radius: 10px;
}


select{
	width: 100%;
    padding: 2%;
    border-radius: 10px;
    margin: 5% 0;
}





















/********************************* CHECKOUT *****************************************/

#dashboard-init #payment_inholdertypedoc_1_field {
    margin: 5% 0;
  align-items: baseline;
}
#dashboard-init .own-card-font-size{
  font-size: 0.9rem;
}

#dashboard-init .columns{
  padding: 0 1%;
}
#dashboard-init #checkout-box{
  min-height: 1000px;
  border-radius: 4px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}


#dashboard-init #error-container{
  padding: 5% 5% 0 5%;
}


#dashboard-init {
  animation: fadein 1s;

}

#dashboard-init li.options-button{
  margin: 1%;
}

#dashboard-init ul button{
  border: none;
  padding: 12px 38px;
  border-radius: 6px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
  color: #aaa;
}

#dashboard-init .options-selected button{
  color: #555;
  text-shadow: 2px 2px 2px rgb(200, 200,200);
}





#dashboard-init #tfoot-tr-firs-child{
  padding-top: 16%;
}



#dashboard-init .nav{
  justify-content: center;
  display: -webkit-inline-box;
  

}

#dashboard-init .checkout-warn{
  color: #dd716f;
  text-align: center;
  height: 350px;
  width: 65%;
  margin: 0 auto;
}

#dashboard-init #installment{
  display: block;
  width: 100%;
  border-radius: 10px;
    border: 0;
    padding: 3%;
    letter-spacing: 1px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}

#dashboard-init .payment-block{
  margin-bottom: 5%;
  padding: 5%;
  animation: fadein 1s;
}


#dashboard-init .payment-sub-warn{
  text-align: center;
  color: #555;
  margin-bottom: 10%;
}
#dashboard-init .payment-sub-warn h3{
  
  font-size: 1.6rem;
}
#dashboard-init .checkout-warn p{
  font-size: 1.3rem;
  margin: 5% 0;
}



#dashboard-init #checkout-desdocument-warn{
  color: #03a9f4;

}


#dashboard-init input{
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #bbb;
  padding: 8px 16px;
  margin: 2% 0;
  width: 100%;
}


#dashboard-init #payment_cardname_1_field{
  font-size: 0.8rem;

}





#dashboard-init .checkout-accounts-disabled{
  background: #cccccc99;
  font-weight: 900;
}

#dashboard-init #payment_interms_1{
  width: auto;

}
#dashboard-init #payment_interms_1_text{
  display: inline;

}
#dashboard-init #checkout-accounts-button{
  background: #dd716f;
  color: #fff;
  margin-top: 25%;
}




#dashboard-init #banner1{
  background: url('/res/images/banner/banner4.jpg') no-repeat;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position-y: center;
}

#dashboard-init #banner2{
  background: url('/res/images/banner/banner5.jpg') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: center;
}


/***********old register acconts*************/
#dashboard-init #purchase-resume{
  text-align: center;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);

}

#dashboard-init #user-credentials{
  text-align: -webkit-right

}

#dashboard-init #purchase-resume table{
  border-radius: 5px;
  min-height: 349px;
}

#dashboard-init #user-credentials table{
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  margin-top: 10%;
}

#dashboard-init #installment-title{
  display: block;
  color: #03a9f4;
}

#dashboard-init h4{
    color: #999;
    margin-bottom: 7%;
    font-weight: 900;
  

}
#dashboard-init .checkout-label{
  position: absolute;
    top: -20px;
    left: -15px;
}
#dashboard-init select {
    width: 100%;
    padding: 4%;
    border-radius: 10px;
}


#dashboard-init table .column1{
  background: #ccc;

}
#dashboard-init table .column2{
    background: #ddd;
}


#dashboard-init td{
    width: 100%;
    vertical-align: baseline;

}
#dashboard-init .state-city{
  margin-top: 15%;
  align-items: baseline;
}


#dashboard-init td:first-child{
    width: 65%;

}


#dashboard-init #checkout-button{
  border-radius: 12px;
    background: #5e299a;
    color: #fff;
    margin: 20% 0;
  padding: 3%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}

#dashboard-init #checkout-payment select{
  border-radius: 10px;
  height: 10%;
  width: 100%;
  margin-bottom: 5%;
}



#dashboard-init .payment-option-row{
  text-align: center;
  padding: 0;
}


#dashboard-init .payment-warn{
  color: #5e299a;
  text-align: center;
  margin: 0 auto;
  padding:4%;
}

#dashboard-init .payment-warn p{
  font-size: 1.2rem;
}


#dashboard-init #round-block1
{

  box-shadow: #dd716f 0 9px 30px -6px;
  background: url('/res/images/brands.png') center no-repeat;
  background-size: contain;
}

#dashboard-init a#block1 i
{

  color: #dd716f;
  font-size: 2rem;  
}

#dashboard-init #paragraph-block1
{
  color:#dd716f;
  font-size: 2rem;
}

#dashboard-init .roundblock:hover
{
  background: -webkit-linear-gradient(45deg, #cccccc, #dd716f);
  background: -o-linear-gradient(45deg, #cccccc, #dd716f);
  background: -moz-linear-gradient(45deg, #cccccc, #dd716f);
  background: linear-gradient(45deg, #cccccc, #dd716f);
}

#dashboard-init .roundblock:active
{
  background: -webkit-linear-gradient(45deg, #03a9f4, #5e299a);
  background: -o-linear-gradient(45deg, #03a9f4, #5e299a);
  background: -moz-linear-gradient(45deg, #03a9f4, #5e299a);
  background: linear-gradient(45deg, #03a9f4, #5e299a);
}

#dashboard-init #round-block2
{

  box-shadow: #03a9f4 0 9px 30px -6px;
  background: url('/res/images/boleto.png') center no-repeat;
  
}
#dashboard-init #round-block2 i
{

  color: #03a9f4;
  font-size: 2rem;
  
}

#dashboard-init #paragraph-block2
{
  color:#03a9f4;
  font-size: 2rem;
}




#dashboard-init .roundblock
{
  background-color: #cccccc;
  background: -webkit-linear-gradient(45deg, #cccccc, #ffffff);
  background: -o-linear-gradient(45deg, #cccccc, #ffffff);
  background: -moz-linear-gradient(45deg, #cccccc, #ffffff);
  background: linear-gradient(45deg, #cccccc, #ffffff);
  width:180px;
  height:180px;
  margin: 50px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}


#dashboard-init #payment-option-row{
  padding: 0 25%;
}



#dashboard-init #accordionExample{
  text-align: center;
}

#dashboard-init .card{
  border-radius: 10px;
    margin-bottom: 1%;
}
#dashboard-init #headingOne{
  background: #ccc;
}

#dashboard-init #headingTwo{
  background: #ccc;

  }
#dashboard-init #headingThree{
  background: #ccc;

  }
























/********************************* PLANS  *****************************************/
#dashboard-init .dash-main-area-box{
  padding: 0 2%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  
}



.plan-box-button:hover, .plan-box-button:visited,
.plan-box-button:active, .plan-box-button:link {
  color: #5e299a;
  text-decoration: none;
}

#plans .plan:hover .plan-title,
#plans .plan:hover .plan-title small,
#plans .plan.plan-active .plan-title,
#plans .plan.plan-active .plan-title small,
#plans .plan:hover .plan-subtitle,
#plans .plan:hover .plan-subtitle a,
#plans .plan.plan-active .plan-subtitle {
  color: #5e299a;
}

/********************************* PLANS  *****************************************/

.plans-title {
  text-align:center;
}
.plans-title h1 {
  font-size: 2rem;
  color: #dd716f;
}

.plans-title p {
  font-size: 0.6;
  color: #969696;
  margin-bottom: 10%;
}


#plans {
    color:#666;
    background-color: #fff;
    font-size: 1rem;
}


h1{
    color: #5e299a;
    font-family: 'Norican';
    font-size: 2.5rem;
    margin-bottom: 10%;
}



.planos-classic-gold:hover{
  box-shadow: inset 1px 1px 50px 7px rgba(255,255,255,0.3),  0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}

#plans .plan {
  margin-bottom: 20px;
  min-height: 421px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  padding: 15%;
  text-align: center;
  min-width: 460px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);

}



#plans .plan,
#plans .plan button,
.planos button,
#plans .plan .plan-title,
#plans .plan .plan-title small,
#plans .plan .plan-subtitle,
#plans .plan .plan-subtitle a {
  transition: all 0.6s ease;
}



#plans .plan .plan-free button {
  padding-left: 15px;
  padding-right: 15px;
}



#plans .plan .plan-subtitle a,
.plans-title h1 a {
  border-bottom: 1px solid #3B3B3B;
}

#plans .plan#plan-advanced .plan-subtitle a {
  border-bottom: 1px solid #fff;
}

#plans .plan#plan-advanced {
  background-color: #f5b841;
}

#plans .plan#plan-advanced,
#plans .plan#plan-advanced .plan-subtitle,
#plans .plan#plan-advanced .plan-subtitle a,
#plans .plan#plan-advanced .plan-title,
#plans .plan#plan-advanced .plan-title small,
#plans .plan#plan-advanced .currency,
#plans .plan#plan-advanced .plan-description {
  color: #fff;
}

#plans .plan#plan-advanced button{
  background: transparent;
  border-color: #fff;
  color: #fff;
}









#plans .plan:hover button,
#plans .plan.plan-active button {
  color: #fff;
  background: #5e299a;
}


#plans .plan-title {
  font-size: 1.5rem;
}
#plans .plan-title small {
  font-size: 14px;
  position: absolute;
}
#plans .plan-subtitle {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  margin-bottom: 24px;
  z-index: 2;
}
#plans .plan .pricing {
  display: table;
  margin: 0 auto 24px auto;
  padding: 10px 0;
}
#plans .plan .pricing .currency {
  font-size: 24px;
  color: #969696;
  padding: 0 10px 0 0;
  line-height: 28px;
  text-align: right;
}
#plans .plan .pricing .cu,
#plans .plan .pricing .currency .plan-coin {
  display: block;
}
#plans .plan .pricing > span {
  display: table-cell;
  vertical-align: bottom;
}
#plans .plan .pricing .price {
  font-size: 68px;
  font-weight: 500;
  line-height: 58px;
}
.price{
  display: table;
  width:0%; 
  height:0px; 
  background: none; 
  }
#plans .plan .p{
  font-size: 34px;
  font-weight: normal;
  line-height: 36px;
}

#plans .plan-description {
  font-size: 1rem;
}
#plans .text-bottom {
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: #dd716f;
}



#plans button {
  text-transform: uppercase;
  width: 100%;
  outline: none;
  margin: 48px auto 0 auto;
  font-weight: 600;
}

.seu-plano-atual {
  border: none;
  background: #fff;
  border-radius: 100px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #bbb;
  line-height: 18px;
  padding: 17px 12px;
  margin: 5% 0;
}









.plan-box-button {
  border: solid 1px #5e299a;
  background: #fff;
  border-radius: 100px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #5e299a;
  line-height: 18px;
  padding: 17px 12px;
  margin: 5% 0;
}

.planos button {
    text-transform: uppercase;
    width: 100%;
    outline: none;
    margin: 48px auto 0 auto;
    font-weight: 600;
}

.planos:hover .plan-box-button{
  background-color: #5e299a;
  color: #fff;
}



  #plans-table th {
    border: 0;
    font-weight: 100;
  }

 
 
  .comparison p {
    box-sizing: border-box;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);;
  }

  .comparison {
    margin-bottom: 5%;
  }

  .comparison > div {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.38);
    line-height: 20px;
  }

  .comparison > div h3 {
    color: #3b3b3b;
    font-size: 1.2rem;
  }

  .comparison .comparison-plan {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px;
    margin-bottom: 20px;
  }

  #plans-table td{
    text-align: center;
    padding: 2% 0;
  }

#plan-advanced{
  background: #f5b841;
  color: #fff;
}




#plans-table tr td:first-child {
  text-align: left;
  width: 80%;
  border-bottom: 1px solid #ccc;
}


#plans-table th.plan-table-title {
  color: #212121;
  text-align: left;
  font-size: 1.6rem;
}

#plans-table tr td {
  border-bottom: 1px solid #ccc;
}

 #plans-table thead tr th {
    color: #212121;
    font-size: 1.5rem;
    padding: 7% 1%;
    text-align: left;
  }

#plans-table tr td:first-child strong {
  display: block;
  font-weight: 100;
  color: #424242;
  font-size: 1.2rem;
}

#plans-table tr td:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}


#plans #plan-advanced:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.12);
}

#plans .plan#plan-advanced:hover button {
    background: #ffffff66;
    border-color: #fff;
    color: #fff;
}



#plans .plan#plan-advanced:hover .plan-title strong,
#plans .plan#plan-advanced:hover .plan-subtitle {
    color: #e6e6e6cc;
}





.tablersw{text-align: center !important;}
.tablersw th{color: #690782;text-align: center !important;padding: 1em !important;font-size: 22px;border-left: 1px solid #ddd !important;border-right: 1px solid #ddd !important;border-top: 1px solid #ddd !important;}
.tablersw td{border-left: 1px solid #ddd !important;border-right: 1px solid #ddd !important;}
.tablersw .opcao_plano{color: #ccc;font-weight: bold;/*border-bottom: 1px solid #ddd !important;*/}
.tablersw .opcao_plano_{color: #690782;font-weight: bold;/*border-bottom: 1px solid #ddd !important;*/}
.tablersw select{margin-bottom: 0px !important;}
.tablersw .price_rsw{font-weight: bold; height: 37px;}
.tablersw .opcao_plano{font-weight: bold; height: 37px;}
.tablersw .description_rsw{font-size: 13px;}
.tablersw .table-bordered > thead > tr > th, .tablersw .table-bordered > tbody > tr > th, .tablersw .table-bordered > tfoot > tr > th, .tablersw .table-bordered > thead > tr > td, .tablersw .table-bordered > tbody > tr > td, .tablersw .table-bordered > tfoot > tr > td {border: 1px solid #eee !important;}